@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Plasticbank";
		src: url(./fonts/plasticbank-v3.ttf);
	}

	body {
		@apply font-sans text-sm text-neutral-800 bg-white font-bold;
	}
	h1 {
		@apply font-heading text-8xl font-semibold text-neutral-900 mb-6;
	}
	h2 {
		@apply font-heading text-7xl font-semibold text-neutral-900 mb-6;
	}
	h3 {
		@apply font-heading text-5xl font-bold leading-5 text-neutral-900 mb-6;
	}
	h4 {
		@apply font-heading text-4xl font-semibold tracking-wide text-neutral-900 mb-6;
	}
	h5 {
		@apply font-sans text-2xl font-medium text-neutral-900 mb-6;
	}
	h6 {
		@apply font-sans text-xs font-semibold tracking-wide text-blue mb-6 uppercase;
	}
	strong,
	b {
		@apply font-semibold;
	}
	p {
		@apply mb-2 text-lg font-normal leading-snug;
	}
	p.caption {
		@apply text-xs font-medium;
	}
	p iframe {
		@apply w-full h-[450px] rounded-lg overflow-hidden mt-5;
	}
	p a:link {
		@apply text-blue hover:underline active:text-blue-600 focus:outline focus:outline-2 focus:outline-blue-200 visited:text-blue-600 disabled:text-neutral-300;
	}
	p a.disabled {
		@apply text-neutral-300;
	}
	caption,
	p.caption {
		@apply text-sm font-medium;
	}
	caption.secondary,
	p.caption.secondary {
		@apply text-xs font-normal leading-5;
	}
}

@layer components {
	header {
		@apply bg-white w-full shadow;
	}
	header > .pb-header-container {
		@apply flex max-w-screen-xl mx-auto justify-between items-end py-3;
	}
	header > .pb-header-container .site-branding {
	}
	header > .pb-header-container .site-branding img {
		@apply max-h-[30px] w-auto;
	}
	header > .pb-header-container .pb-header-dynamic {
		@apply my-1 flex space-x-14;
	}
	header > .pb-header-container .pb-header-dynamic nav {
	}
	header > .pb-header-container .pb-header-dynamic nav ul {
		@apply flex space-x-8 text-sm font-medium text-neutral-600;
	}
	header > .pb-header-container .pb-header-dynamic nav ul > li > ul.sub-menu {
		@apply bg-white rounded-lg p-5 shadow-md max-w-[40vw] flex-wrap space-x-0 space-y-3;
	}
	header
		> .pb-header-container
		.pb-header-dynamic
		nav
		ul
		> li
		> ul.sub-menu
		li {
		@apply block;
	}
	header
		> .pb-header-container
		.pb-header-dynamic
		nav
		ul
		> li.current-menu-item {
		@apply text-blue;
	}

	header > .pb-header-container .pb-header-dynamic nav ul li a:visited {
		@apply text-inherit;
	}
	header > .pb-header-container .pb-header-dynamic .pb-header-dynamic-control {
		@apply space-x-8 text-neutral-600 flex;
	}
	header
		> .pb-header-container
		.pb-header-dynamic
		.pb-header-dynamic-control
		.header-user-control {
	}
	header
		> .pb-header-container
		.pb-header-dynamic
		.pb-header-dynamic-control
		.header-user-control
		.header-login {
	}
	header
		> .pb-header-container
		.pb-header-dynamic
		.pb-header-dynamic-control
		.header-user-control
		.header-login
		span.avatar {
		@apply w-[18px] h-[18px] rounded-full overflow-hidden inline-block outline outline-1 outline-blue;
	}
	header
		> .pb-header-container
		.pb-header-dynamic
		.pb-header-dynamic-control
		.header-user-control
		.header-login
		i.far.fa-user {
		@apply font-icon before:content-['\e902'];
	}

	header
		> .pb-header-container
		.pb-header-dynamic
		.pb-header-dynamic-control
		.header-cart-control {
		@apply inline-block;
	}

	header
		> .pb-header-container
		.pb-header-dynamic
		.pb-header-dynamic-control
		.header-cart-control
		.cart-toggle {
		@apply inline-block before:font-icon before:content-['\e901'] relative;
	}

	header
		> .pb-header-container
		.pb-header-dynamic
		.pb-header-dynamic-control
		.header-cart-control
		.cart-toggle
		span.cart-counter {
		@apply absolute bottom-0 -right-[3px] bg-green-400 text-neutral-50 rounded-full text-[7px] leading-[11px] min-w-[12px] h-[12px] block text-center p-[1px];
	}

	.pb-page-main-container {
		@apply max-w-screen-xl mx-auto my-0;
	}

	.wp-block-buttons {
		@apply mt-9;
	}

	.wp-block-button > a.wp-block-button__link {
		@apply inline-block py-4 text-sm leading-snug text-white appearance-none bg-green px-9 hover:bg-green-500 hover:shadow-md active:shadow-md active:bg-green-600 focus:outline-none disabled:bg-neutral-100 disabled:hover:shadow-none disabled:text-neutral-500 rounded-lg font-semibold focus:outline focus:outline-2 focus:outline-green-200 disabled:cursor-not-allowed;
	}
	.wp-block-button.disabled > a.wp-block-button__link {
		@apply bg-neutral-100 hover:shadow-none text-neutral-500 hover:bg-neutral-100 cursor-not-allowed;
	}
	.wp-block-button.blue > a.wp-block-button__link {
		@apply bg-blue px-9 hover:bg-blue-500 active:shadow-md active:bg-blue-600;
	}
	.wp-block-button.blue.disabled > a.wp-block-button__link {
		@apply bg-neutral-100 hover:shadow-none text-neutral-500 hover:bg-neutral-100;
	}
	.wp-block-button.white > a.wp-block-button__link {
		@apply text-blue bg-white px-9 hover:bg-neutral-50 active:shadow-md active:bg-blue-100 disabled:opacity-50;
	}
	.wp-block-button.white.disabled > a.wp-block-button__link {
		@apply opacity-50 hover:bg-white text-blue;
	}

	.wp-block-button.is-style-outline > a.wp-block-button__link {
		@apply bg-transparent hover:bg-neutral-500 text-neutral-500 hover:text-white active:bg-neutral-700 active:text-white border-2 border-neutral-500 active:border-neutral-700 focus:border-neutral-600 focus:text-neutral-600 disabled:opacity-50 disabled:hover:bg-transparent focus:outline focus:outline-2 focus:outline-blue-200;
	}
	.wp-block-button.blue.is-style-outline > a.wp-block-button__link {
		@apply bg-transparent hover:bg-neutral-500 text-neutral-500 hover:text-white active:bg-neutral-700 active:text-white border-2 border-neutral-500 active:border-neutral-700 focus:border-neutral-600 focus:text-neutral-600 disabled:opacity-50 disabled:hover:bg-transparent;
	}
	.wp-block-button.disabled.is-style-outline > a.wp-block-button__link {
		@apply bg-transparent hover:bg-transparent text-neutral-500 hover:text-neutral-500 active:bg-transparent active:text-neutral-500 border-2 border-neutral-500 active:border-neutral-500 focus:border-neutral-500 focus:text-neutral-500 opacity-50;
	}

	.wp-block-button.white.is-style-outline > a.wp-block-button__link {
		@apply bg-transparent hover:bg-neutral-0 text-neutral-0 hover:text-blue-500 active:bg-neutral-0 active:text-blue-500 border-2 border-neutral-0 active:border-neutral-0 focus:border-neutral-0 focus:text-neutral-0 disabled:opacity-50 disabled:hover:bg-transparent;
	}
	.wp-block-button.white.disabled.is-style-outline > a.wp-block-button__link {
		@apply bg-transparent hover:bg-transparent text-neutral-0 hover:text-neutral-0 active:bg-transparent active:text-neutral-0 border-2 border-neutral-0 active:border-neutral-0 focus:border-neutral-0 focus:text-neutral-0 opacity-50;
	}

	.wp-block-button.icon > a.wp-block-button__link {
		@apply rounded-full px-4 min-w-[52px];
	}
}
