.pb-infog {
  display: flex;
  padding: 5.6%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top left;
  margin-top: -4.2%;
  @include max-screen(lg) {
    display: block;
    padding: 45px;
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: top 0 left -5%;
    margin-top: -30px;
  }
  &.even {
    background-position: top right;
    direction: rtl;
    @include max-screen(lg) {
      background-position: top 0 right -5%;
      direction: rtl;
    }
    .description {
      padding-left: 0;
      padding-right: 10%;
      direction: ltr;
      text-align: right;
      @include max-screen(lg) {
        padding-right: 0;
        direction: ltr;
        text-align: right;
      }
    }
  }
  .illustration {
    width: 35%;
    @include max-screen(lg) {
      width: 42%;
      margin-bottom: 30px;
    }
  }
  .description {
    width: 65%;
    padding-left: 10%;
    @include max-screen(lg) {
      width: 100%;
      padding-left: 0;
    }
    h3 {
      color: #a7c454;
      text-transform: none;
    }
    a.et_pb_button {
      margin-top: 30px;
    }
  }
}
