.pb-action-product {
	.single_add_to_cart_button {
		background: #ffffff !important;
		color: #3cb6c6 !important;
		border-radius: 30px !important;
		min-width: 220px;
		text-align: center;
		padding-left: 30px !important;
		padding-right: 30px !important;
		padding-top: 12px !important;
		padding-bottom: 12px !important;
		box-sizing: border-box;
		font-weight: bold !important;
		font-size: 18px !important;
		text-decoration: none !important;
	}
	button.single_add_to_cart_button:hover {
		background: #3cb6c6 !important;
	}
	.pb-qty-plus,
	.pb-qty-minus,
	.quantity {
		display: none !important;
	}
	.product_totals {
		height: 0 !important;
		overflow: hidden !important;
	}
	.gform_body {
		.gfield label.gfield_label {
			color: #ffffff !important;
		}
		#gform_fields_75 {
			padding-bottom: 0 !important;
		}
		#gform_fields_88 {
			padding-bottom: 0 !important;
		}
		div.ginput_container {
			input[type="text"],
			select {
				border-bottom: 1px solid #ffffff !important;
				color: #efefef !important;
			}
			textarea {
				border: 1px solid #ffffff !important;
			}
		}
		ul.gfield_radio li input[type="radio"] {
			left: -20px;
			position: absolute;
		}
	}
	.button-variable-item {
		background: #6e8b2e !important;
		color: #efefef;
		border: 3px solid #6e8b2e;
		&.selected {
			border-color: #ffffff !important;
			color: #efefef !important;
		}
		.variable-item-span-button:before {
			color: #ffffff;
		}
	}
	.instruction {
		display: none;
	}
	#field_75_10 {
		display: none;
		&.exposed {
			display: block;
		}
	}
	#input_75_10 {
		border-radius: 4px;
		color: #5b6378 !important;
	}
	ul#input_75_9 {
		padding-left: 0 !important;
		padding-bottom: 0 !important;
		li {
			display: inline-block;
			width: 33.3%;
			box-sizing: border-box;
			padding: 2.5px;
			overflow: hidden;
			&:last-child {
				width: 66.7%;
				label {
					max-width: 93%;
				}
			}
			label {
				padding: 10px;
				text-align: center;
				background: #3cb6c6;
				color: #ffffff !important;
				display: block;
				padding-left: 10px !important;
				margin-top: 0;
				margin-left: 0;
				border: 2px solid #3cb6c6;
				transition: all 0.5s ease;
				border-radius: 3px;
			}
			input[type="radio"]:checked + label {
				border-color: #ffffff;
				background-color: #0192a5 !important;
				&:before {
					opacity: 1;
				}
			}
		}
	}
	#field_88_10 {
		display: none;
		&.exposed {
			display: block;
		}
	}
	#input_88_10 {
		border-radius: 4px;
		color: #5b6378 !important;
	}
	ul#input_88_9 {
		padding-left: 0 !important;
		padding-bottom: 0 !important;
		li {
			display: inline-block;
			width: 33.3%;
			box-sizing: border-box;
			padding: 2.5px;
			overflow: hidden;
			&:last-child {
				width: 66.7%;
				label {
					max-width: 93%;
				}
			}
			label {
				padding: 10px;
				text-align: center;
				background: #3cb6c6;
				color: #ffffff !important;
				display: block;
				padding-left: 10px !important;
				margin-top: 0;
				margin-left: 0;
				border: 2px solid #3cb6c6;
				transition: all 0.5s ease;
				border-radius: 3px;
			}
			input[type="radio"]:checked + label {
				border-color: #ffffff;
				background-color: #0192a5 !important;
				&:before {
					opacity: 1;
				}
			}
		}
	}
	.gform_wrapper {
		.gform_footer {
			display: none;
		}
	}
}
.et_pb_button.reverse {
	background: #ffffff !important;
	color: #3cb6c6 !important;
	&:hover {
		background: #67d5e3 !important;
		color: #ffffff !important;
	}
	.et_pb_button.reverse.green {
		color: #a7c454 !important;
	}
	&.green:hover {
		color: #a7c454 !important;
	}
}
.action-video a.video-thumb {
	padding-top: 40%;
	background-color: transparent;
	h3 {
		padding-top: 0;
	}
}

.pb-product-teaser {
	width: 100%;
	padding: 50px;
	background-color: #aaaaaa;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	text-align: left;
	min-height: 50vh;
	border-radius: 12px;
	position: relative;
	.pb-product-teaser-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background-image: linear-gradient(
			83deg,
			rgba(0, 0, 0, 0.27) 48%,
			rgba(0, 0, 0, 0) 100%
		);
		border-radius: 12px;
	}
	.pb-product-teaser-description {
		max-width: 40%;
		color: #ffffff;
		z-index: 2;
		position: relative;
		h3 {
			text-transform: none !important;
			color: #ffffff !important;
		}
	}
}
.pb-product-teaser.medium {
	min-height: 35vh;
	.pb-product-teaser-description {
		max-width: 100%;
		padding-right: 86px;
		.pb-product-teaser-ctas {
			position: absolute;
			right: 50px;
			bottom: 50px;
			margin-top: 30px;
			.button.single_add_to_cart_button {
				font-size: 0 !important;
				height: 56px !important;
				width: 56px !important;
				border-radius: 50% !important;
				padding: 0 !important;
				background-color: #ffffff !important;
				margin-left: 30px;
				&:before {
					font-family: "Font Awesome 5 Free";
					font-weight: 600;
					font-size: 25px !important;
					content: "\f217";
					color: #a7c454;
					display: block;
					opacity: 1;
					margin-left: -3px;
					margin-right: auto;
					position: absolute;
					top: 50%;
					transform: translate(50%);
					line-height: inherit;
				}
			}
		}
	}
}
.et_pb_button.white_dark {
	background: #ffffff !important;
	color: #3f4242 !important;
	&:hover {
		background: #3f4242 !important;
		color: #ffffff !important;
	}
}

#pb-chart-description {
	.et_pb_text {
		opacity: 0;
		visibility: hidden;
		display: none;
		transition: all 0.5s ease;
		margin-bottom: 0;
		&.active {
			opacity: 1;
			visibility: visible;
			display: block;
		}
	}
}

.pb-certificates-carousel {
	.owl-nav {
		display: inline-block;
		margin-right: 30px;
	}
	.owl-dots {
		display: inline-block;
	}
}

.pb-charts-carousel {
	.owl-dots {
		width: 47.25%;
		margin-top: 10px;
	}
}

.et_pb_button.outlined.grey {
	border-color: #939393 !important;
	color: #939393 !important;
	background-color: transparent !important;
	text-transform: none !important;
}

.et_pb_button.outlined.grey:hover,
body.et-db #et-boc .et-l .et_pb_button.outlined.grey:hover {
	color: #ffffff !important;
	background-color: #939393 !important;
}

.pb-business-programs-carousel {
	.owl-nav {
		display: inline-block;
		margin-right: 30px;
	}
	.owl-dots {
		display: inline-block;
		.owl-dot {
			span:before {
				color: #ffffff;
				opacity: 0.7;
			}
			&.active span:before {
				color: #ffffff;
				opacity: 1;
			}
		}
	}
}
.pb-business-programs-carousel-2-control {
	margin-top: 30px;
	.et_pb_button.reverse.green {
		color: #a7c454 !important;
	}
	.owl-dots {
		display: inline-block;
		margin-left: 30px;
		.owl-dot {
			background: transparent;
			border: 0;
			padding: 0;
			span:before {
				color: #ffffff;
				opacity: 1;
			}
			&.active span:before {
				color: #ffffff;
				opacity: 1;
			}
		}
	}
}
.pb-business-programs-carousel-2 {
	.et_pb_module {
		width: 100%;
		display: block;
		height: 80vh;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		@include max-screen(lg) {
			height: 40vh;
		}
	}
	.owl-dots {
		display: inline-block;
		@include max-screen(lg) {
			display: none;
		}
		.owl-dot {
			background: transparent;
			border: 0;
			padding: 0;
			&.active {
				span:before {
					color: #ffffff;
					opacity: 1;
				}
			}
			span:before {
				color: #ffffff;
				opacity: 0.7;
			}
		}
	}
}

@include max-screen(lg) {
	.pb-action-product ul#input_75_9 li {
		width: 50%;
	}

	.pb-action-product ul#input_75_9 li:last-child {
		width: 100%;
	}

	.pb-action-product ul#input_75_9 li label {
		max-width: 100%;
		width: auto;
		margin-right: 1.5vw;
		margin-left: 1.5vw;
	}

	.pb-action-product ul#input_75_9 li:last-child label {
		max-width: 100%;
	}

	.pb-action-product ul#input_88_9 li {
		width: 50%;
	}

	.pb-action-product ul#input_88_9 li:last-child {
		width: 100%;
	}

	.pb-action-product ul#input_88_9 li label {
		max-width: 100%;
		width: auto;
		margin-right: 1.5vw;
		margin-left: 1.5vw;
	}

	.pb-action-product ul#input_88_9 li:last-child label {
		max-width: 100%;
	}

	.pb-action-product .single_add_to_cart_button {
		width: 100%;
	}

	.pb-product-teaser {
		padding: 10%;
		min-height: 30vh;
	}

	.pb-product-teaser .pb-product-teaser-description {
		max-width: 100%;
	}

	.pb-product-teaser.medium .pb-product-teaser-description {
		padding-right: 0;
	}

	.pb-product-teaser.medium .pb-product-teaser-description {
		padding-right: 0;
	}

	.pb-product-teaser {
		padding: 30px;
	}

	.pb-product-teaser .pb-product-teaser-description .pb-product-teaser-ctas {
		position: relative;
		margin-top: 0;
	}

	.pb-product-teaser.medium
		.pb-product-teaser-description
		.pb-product-teaser-ctas {
		position: relative;
		right: auto;
		bottom: auto;
	}

	.pb-product-teaser
		.pb-product-teaser-description
		.pb-product-teaser-ctas
		.button.single_add_to_cart_button {
		position: absolute;
		background-color: #a7c454 !important;
		margin-left: 0;
		bottom: -58px;
		right: 0;
	}

	.pb-product-teaser
		.pb-product-teaser-description
		.pb-product-teaser-ctas
		.button.single_add_to_cart_button:before {
		color: #ffffff;
	}

	.pb-product-teaser
		.pb-product-teaser-description
		.pb-product-teaser-ctas
		.et_pb_button {
		display: none !important;
	}

	.pb-business-programs-carousel .owl-nav {
		display: block;
		margin-right: 0;
		text-align: center;
	}

	.pb-certificates-carousel .owl-dots {
		display: block;
		text-align: center;
	}
	.action-video a.video-thumb {
		padding-top: 60%;
	}
}
