.single.single-post .et_pb_text_inner p,
.single.single-post ol li {
  padding-bottom: 1em;
  line-height: 1.8em;
}
.section-post-title {
  padding: 0;
  .et_pb_row {
    padding: 0;
    .et_pb_module {
      margin-top: -25px;
      padding: 20px 30px;
      color: white;
      text-align: center;
    }
  }
}
.no-heading-spacing-container h1,
.no-heading-spacing-container h2,
.no-heading-spacing-container h3,
.no-heading-spacing-container h4,
.no-heading-spacing-container h5 {
  margin: 0;
  padding: 0;
}
.et_pb_blog_grid {
  .et_pb_post.type-post {
    padding-bottom: 35px;
    .entry-title {
      padding: 0;
      margin: 0 0 20px 0;
    }
    .post-meta {
      margin: 0;
      padding: 0;
      a {
        background-color: #a7c454;
        color: #ffffff !important;
        padding: 5px 10px;
        margin-bottom: 15px;
        &:hover {
          background-color: #93b338;
        }
      }
    }
    .post-content-inner {
      margin-bottom: 20px;
    }
    .more-link {
      color: #ffffff;
      border-radius: 20px;
      background-color: #3cb6c6;
      text-transform: capitalize;
      padding: 10px 15px;
      margin-top: 20px;
      &:hover {
        background-color: #18c0d6;
      }
    }
  }
}
