#business-solutions {
  .solution {
    position: relative;
    img {
      width: auto !important;
      height: auto;
      text-align: center;
      max-width: 100%;
      position: relative;
    }
    h3 {
      font-family: din;
      font-weight: bold;
      font-size: 24px !important;
      @include max-screen(md) {
        font-size: 14px !important;
      }
    }
    h4 {
      position: relative;
      display: block;
      width: 100%;
      margin-bottom: 15px;
      padding-bottom: 0;
      &:before {
        content: "\f061";
        width: 30px;
        height: 30px;
        left: -30px;
        display: block;
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 25px;
        color: #ffffff;
        text-align: center;
        line-height: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        @include max-screen(md) {
          width: 20px;
          height: 20px;
          left: -20px;
          font-size: 15px;
        }
      }
    }
  }
}
.accordions {
  margin-bottom: 50px;
  &:last-child {
    margin-bottom: 0;
  }
  .accordions-head {
    border-radius: 0 !important;
    margin-top: 0 !important;
    border: 2px solid #f9f9fa !important;
  }
  .accordions-head-title {
    margin: 0 0 !important;
    font-family: din;
    font-weight: bold;
    padding-right: 20px;
  }
  .accordion-content {
    font-family: din;
    ul {
      padding-left: 30px !important;
      margin-top: 10px !important;
    }
  }
}
.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100% !important;
  &:before {
    height: 1px;
    content: "";
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .partner {
    padding: 40px 30px 20px 30px;
    width: 25%;
    text-align: center;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    position: relative;
    &:nth-child(4n + 0) {
      border-right: 0;
    }
    &:nth-child(n + 9) {
      display: none;
    }
    &:nth-child(n + 5) {
      @include max-screen(md) {
        display: none;
      }
    }
    &:nth-child(2n + 0) {
      @include max-screen(md) {
        border-right: 0;
      }
    }
    a {
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #909090;
        opacity: 0;
        content: "";
        transition: all 0.5s ease;
      }
      &:before {
        position: absolute;
        content: "\f002";
        width: 50px;
        min-width: 50px;
        height: 50px;
        border: 2px solid #ffffff !important;
        background-color: #ffffff;
        border-radius: 50px !important;
        text-align: center;
        line-height: 46px;
        box-sizing: border-box;
        margin-left: 0 !important;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 21px;
        color: #a7c454;
        transition: all 0.5s ease;
        display: inline-block;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        z-index: 1;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
        &:after {
          opacity: 0.2;
        }
      }
    }
    img {
      margin-bottom: 15px;
    }
    h3 {
      font-family: din;
      font-size: 18px;
      font-weight: bold;
      color: #67d5e3;
      margin-bottom: 0;
      text-transform: none;
      display: none;
    }
    h4 {
      font-family: din;
      font-size: 14px;
      color: #506b6f;
      margin-bottom: 0;
      text-transform: none;
    }
    @include max-screen(md) {
      width: 50%;
    }
  }
}
.et_pb_tabs#programs {
  border: 0;
  ul.et_pb_tabs_controls {
    text-align: center;
    background: transparent;
    &:after {
      display: none;
    }
    li {
      display: inline-block;
      float: none;
      border-right: 0;
      margin: 0 15px;
      a {
        font-size: 16px;
        font-family: din;
        color: #ccc;
        border: 2px solid #ccc;
        border-radius: 30px;
        padding: 10px 30px;
      }
      &.et_pb_tab_active a {
        color: #fff !important;
        background: #a7c454;
        border-color: #a7c454;
      }
    }
  }
}

ul.program-selectors {
  text-align: center;
  background: transparent;
  li {
    display: inline-block;
    float: none;
    border-right: 0;
    margin: 0 15px;
    font-size: 16px;
    font-family: din;
    color: #ccc;
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
    &.active {
      color: #fff !important;
      background: #a7c454;
      border-color: #a7c454;
    }
    @include max-screen(lg) {
      font-size: 12px;
      margin: 0 5px;
      border-radius: 25px;
      padding: 5px 15px;
      span {
        display: none;
      }
    }
  }
}
.programs {
  .et_pb_row {
    width: 100%;
    max-width: 2560px;
    margin-top: 0;
    padding-top: 0;
  }
  .program {
    @include max-screen(lg) {
      padding: 30px;
      background: #f8f9fa;
    }
    h4 {
      @include min-screen(lg) {
        display: none;
      }
    }
  }
}
