.pb-cart-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e8f6fa;
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  background-position: center;
  background-repeat: no-repeat;
}
.pb-cart-overlay.opened {
  visibility: visible;
  opacity: 0.95;
}

.pb-cart-overlay.loading {
  background-image: url("../images/Infinity-1s-140px.svg");
}
.pb-cart-sidebar {
  position: fixed;
  background-color: #f9f9fa;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all 0.5s ease;
  top: 0;
  bottom: 0;
  right: -490px;
  max-width: 490px;
  &.opened {
    right: 0;
  }
  p {
    font-size: 14px;
  }
  .pb-cart-title {
    width: 100%;
    display: block;
    padding: 15px 30px;
    background: #ffffff;
    position: relative;
    text-align: center;
    line-height: 19px;
    span {
      display: inline-block;
      font-size: 18px;
      font-weight: 600;
      padding-left: 20px;
    }
    a.pb-cart-hide-toggle {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      text-align: center;
      line-height: 50px;
      width: 50px;
      height: 50px;
      background: #67d5e3;
      &:before {
        font-size: 20px;
        color: #ffffff;
        font-family: "plasticbank-v2";
        content: "\e90d";
      }
    }
  }
  .pb-cart-body {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .pb-cart-empty {
      padding: 80px;
      span.pre {
        color: #a7c454;
        text-transform: uppercase;
        margin-bottom: 20px;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
      }
      h3 {
        font-size: 24px;
        padding-bottom: 0;
        margin-bottom: 20px;
        text-transform: none;
        font-weight: 500;
      }
      p {
        margin-bottom: 20px;
      }
      @include max-screen(md) {
        padding: 20px;
        text-align: center;
      }
    }
    a.button {
      background: #a7c454;
      font-size: 16px;
      padding: 10px 30px;
      border-radius: 50px;
      width: 100%;
      text-align: center;
      color: #ffffff;
      display: inline-block;
      box-sizing: border-box;
    }
    &.has-items {
      align-items: flex-start;
      .pb-cart-body-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f9f9fa;
        opacity: 0;
        visibility: hidden;
        z-index: 9;
        transition: all 0.5s ease;
        background-position: center;
        background-repeat: no-repeat;
        &.active {
          visibility: visible;
          opacity: 0.84;
        }
      }
      .pb-cart-table {
        padding: 0 20px;
        text-align: center;
        a.button.pb-cart-checkout-button {
          margin-top: 20px;
          max-width: 350px;
          @include max-screen(md) {
            display: none;
          }
        }
        img.pb-cart-payment-icons {
          margin-top: 20px;
          max-width: 100%;
          display: none;
          @include max-screen(md) {
            display: inline-block;
          }
        }
      }
      .pb-cart-item {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        position: relative;
        .pb-cart-item-image {
          width: 25%;
          flex-direction: column;
          display: flex;
          justify-content: center;
          img {
            border-radius: 6px;
          }
        }
        .pb-cart-item-detail {
          width: 75%;
          flex-direction: column;
          padding-left: 20px;
          text-align: left;
          display: flex;
          justify-content: center;
          span {
            &.pb-cart-item-name {
              font-size: 18px;
              display: block;
              padding-right: 20px;
            }
            &.pb-cart-item-subtitle {
              font-size: 10px;
              font-weight: 500;
              color: #a7c454;
              display: block;
              text-transform: uppercase;
              padding-right: 20px;
            }
          }
        }
        .pb-cart-item-remove {
          position: absolute;
          right: 0;
          top: 0;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          display: block;
          cursor: pointer;
          &:before {
            font-family: "plasticbank-v3";
            content: "\e91c";
            font-size: 20px;
            color: #ccc;
          }
        }
        .pb-cart-item-control {
          width: 100%;
          display: block;
          .pb-cart-item-quantity {
            float: left;
            font-size: 20px;
            box-sizing: border-box;
            label {
              font-size: 12px;
              display: block;
              line-height: 1.2em;
              span {
                color: #3cb6c6;
              }
            }
            a {
              &.pb-cart-item-quantity-min {
                width: 30px;
                height: 30px;
                text-align: center;
                cursor: pointer;
                line-height: 30px;
                float: left;
                &:before {
                  font-size: 20px;
                  color: #cccccc;
                  font-family: "plasticbank-v2";
                  content: "\e91d";
                }
              }
              &.pb-cart-item-quantity-plus {
                width: 30px;
                height: 30px;
                text-align: center;
                cursor: pointer;
                line-height: 30px;
                float: left;
                &:before {
                  font-size: 20px;
                  color: #cccccc;
                  font-family: "plasticbank-v2";
                  content: "\e91e";
                }
              }
            }
            span.pb-cart-item-quantity-number {
              min-width: 30px;
              padding: 0 10px;
              text-align: center;
              line-height: 30px;
              float: left;
              color: #3cb6c6;
            }
          }
          .pb-cart-item-subtotal {
            float: right;
            font-size: 20px;
            line-height: 30px;
            padding-left: 20px;
            box-sizing: border-box;
            .subscription-details {
              font-size: 0.5em;
            }
          }
        }
      }
    }
  }
  .pb-cart-footer {
    padding: 20px;
    text-align: center;
    position: relative;
    .pb-cart-body-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #f9f9fa;
      opacity: 0;
      visibility: hidden;
      z-index: 9;
      transition: all 0.5s ease;
      background-position: center;
      background-repeat: no-repeat;
      &.active {
        visibility: visible;
        opacity: 0.84;
      }
    }
    a.button {
      background: #a7c454;
      font-size: 16px;
      padding: 10px 30px;
      border-radius: 50px;
      width: 100%;
      text-align: center;
      color: #ffffff;
      box-sizing: border-box;
      max-width: 350px;
      display: none;
    }
    img {
      max-width: 100%;
      @include max-screen(md) {
        display: none;
      }
    }
    a.button {
      @include max-screen(md) {
        display: inline-block;
      }
    }
  }
}

.jconfirm-box {
  margin-right: 35px !important;
  @include max-screen(md) {
    margin-right: auto !important;
  }
}
.jconfirm.jconfirm-white .jconfirm-bg,
.jconfirm.jconfirm-light .jconfirm-bg {
  opacity: 0 !important;
}
.cart-trigger {
  position: fixed;
  right: 30px;
  bottom: 140px;
  z-index: 9999;
  .cart-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background: #ffffff;
    display: block;
    border-radius: 70px;
    font-size: 35px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.14);
  }
  span.counter {
    display: none;
  }
  &.has-items {
    .cart-icon {
      color: #3cb6c6;
    }
    span.counter {
      background-color: #a7c454;
      width: 20px;
      line-height: 20px;
      text-align: center;
      height: 20px;
      border-radius: 20px;
      color: #ffffff;
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      font-size: 14px;
    }
  }
}

#pb-chart-carousel-desc {
  @include max-screen(lg) {
    min-height: 70vh;
  }
  .et_pb_module {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    .pb-chart-nav-next {
      margin-top: 30px;
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}
.pb-chart-carousel-2 {
  .owl-nav {
    text-align: center;
    margin-top: 30px;
  }
}
