.pb-checkout-main-panel {
	.woocommerce-NoticeGroup {
		width: 50%;
		@include max-screen(md) {
			width: 100%;
		}
		ul.woocommerce-error {
			padding: 20px !important;
			background: #cc5c5c !important;
			color: #fff !important;
			padding-left: 20% !important;
			margin-bottom: 0;
			@include max-screen(md) {
				padding-left: 10% !important;
				padding-right: 10% !important;
			}
		}
	}
	.woocommerce-form-coupon-toggle {
		display: none;
	}
	.thwmscf-tab-panels {
		background: transparent !important;
		padding: 0 0 0 0 !important;
	}
	ul.thwmscf-tabs {
		li {
			&:after {
				content: "\f054";
				display: inline-block;
				margin-left: 10px;
				margin-right: 5px;
				font-family: "Font Awesome 5 Free";
				font-weight: 600;
				color: #939393;
				font-size: 10px;
			}
			&:last-child:after {
				display: none;
			}
			a {
				padding: 0 0 0 0 !important;
				background: transparent !important;
				font-size: 12px !important;
				color: #939393 !important;
				display: inline-block !important;
				&.active {
					color: #506b6f !important;
				}
			}
		}
	}
	.woocommerce-checkout {
		h3 {
			margin-top: 20px;
			margin-bottom: 5px;
			text-transform: capitalize;
			font-size: 18px;
			color: #506b6f;
		}
		#payment {
			background: transparent !important;
			ul.payment_methods {
				display: flex;
				padding: 0;
				border-bottom: 0;
				li {
					width: 50%;
					padding: 10px 5px;
					display: flex;
					align-items: center;
					position: relative;
					label {
						font-size: 12px !important;
						font-weight: bold;
						text-transform: uppercase;
						display: flex;
						align-items: center;
						span {
							display: inline-block;
							&.gateway-icons {
								img {
									height: 15px;
									width: auto;
									float: left;
									&:nth-child(n + 4) {
										display: none;
									}
								}
							}
						}
						&.payment_method_paypal {
							span {
								&.gateway-name {
									margin-right: 1em;
									@include max-screen(md) {
										display: none;
									}
								}
							}
						}
					}
					&:after {
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						background: #efefef;
						height: 1px;
						display: block;
					}
					&.payment_method_paypal {
						label {
							font-size: 12px !important;
							font-weight: bold;
							text-transform: uppercase;
							span {
								&.gateway-icons {
									img {
										height: 25px;
									}
								}
							}
						}
					}
				}
			}
			.payment_method_paypal .about_paypal {
				display: none;
			}
			&.woocommerce-checkout-payment {
				.payment_box {
					background: transparent !important;
					padding: 0 !important;
					&:before {
						display: none;
					}
				}
			}
			div.form-row {
				padding: 0;
			}
			.place-order {
				text-align: left;
			}
		}
	}
}
.pb-order-review-list {
	&.has-items {
		align-items: flex-start;
		.pb-cart-body-overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #f9f9fa;
			opacity: 0;
			visibility: hidden;
			z-index: 9;
			transition: all 0.5s ease;
			background-position: center;
			background-repeat: no-repeat;
			&.active {
				visibility: visible;
				opacity: 0.84;
			}
		}
		.pb-cart-table {
			text-align: center;
			a.button.pb-cart-checkout-button {
				margin-top: 20px;
				max-width: 350px;
			}
			img.pb-cart-payment-icons {
				margin-top: 20px;
				max-width: 100%;
				display: none;
			}
		}
		.pb-cart-item {
			display: flex;
			flex-direction: row;
			margin-top: 20px;
			position: relative;
			.pb-cart-item-detail {
				width: 85%;
				flex-direction: column;
				padding-left: 20px;
				text-align: left;
				display: flex;
				justify-content: center;
				.pb-cart-item-detail-inner {
					display: flex;
					justify-content: space-between;
					.pb-cart-item-description {
						box-sizing: border-box;
						span {
							&.pb-cart-item-name {
								font-size: 16px;
								display: block;
								padding-right: 20px;
							}
							&.pb-cart-item-subtitle {
								font-size: 10px;
								font-weight: 500;
								color: #a7c454;
								display: block;
								text-transform: uppercase;
								padding-right: 20px;
							}
						}
					}
					.pb-cart-item-subtotal {
						font-size: 14px;
						line-height: 20px;
						display: inline-block;
						padding-left: 20px;
						box-sizing: border-box;
						text-align: right;
						.subscription-details {
							font-size: 0.5em;
						}
					}
				}
			}
			.pb-cart-item-remove {
				position: absolute;
				right: -40px;
				top: 0;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				display: block;
				cursor: pointer;
				background: #ffffff;
				border-radius: 30px;
				&:before {
					font-family: "plasticbank-v3";
					content: "\e91c";
					font-size: 20px;
					color: #ccc;
				}
			}
		}
		.pb-cart-item-image {
			width: 15%;
			flex-direction: column;
			display: flex;
			justify-content: center;
			img {
				border-radius: 6px;
			}
		}
	}
	ul {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		border-top: 1px solid #cccccc;
		margin-top: 20px;
		padding-top: 5px;
		li {
			display: block;
			width: 100%;
			float: left;
			padding-top: 5px;
			.caption {
				float: left;
				font-size: 10px;
				font-weight: 600;
			}
			.number {
				float: right;
				font-size: 14px;
			}
			&.total {
				border-top: 1px solid #cccccc;
				margin-top: 10px;
				.caption {
					font-weight: 600;
					text-transform: uppercase;
				}
				.number {
					color: #3cb6c6;
					font-size: 18px;
				}
			}
		}
	}
}
.pb-order-review-container {
	.et_pb_code_inner {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}
.pb-order-review {
	padding: 10% 20% 10% 10%;
	flex-grow: 1;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	align-items: flex-start;
	h2 {
		font-size: 18px;
		font-weight: 500;
		text-transform: none;
		color: #506b6f;
		margin-bottom: 0;
	}
}
.pb-order-summary {
	display: block;
	padding: 10% 20% 10% 10%;
	background: #e8f6fa;
	width: 100%;
	h2 {
		font-size: 18px;
		font-weight: 500;
		text-transform: none;
		color: #506b6f;
		margin-bottom: 0;
	}
	ul {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: block;
			width: 100%;
			float: left;
			border-bottom: 1px solid #cccccc;
			padding: 10px 0;
			.caption {
				float: left;
				font-size: 10px;
			}
			.number {
				float: right;
				font-size: 18px;
			}
		}
	}
	.total {
		display: block;
		width: 100%;
		float: left;
		margin-top: 15px;
		text-align: right;
		color: #3cb6c6;
		font-size: 18px;
	}
}
.et_pb_text table#shipping {
	border-collapse: collapse;
	width: 100%;
	td,
	th {
		border: 1px solid #ddd;
		padding: 8px;
	}
	th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #506b6f;
		color: white;
	}
	tr {
		&:nth-child(even) {
			background-color: #f2f2f2;
		}
		&:hover {
			background-color: #ddd;
		}
	}
}
.pb-checkout-thankyou {
	width: 100%;
	display: flex;
	flex-direction: row;
	background: #ababab;
	@include max-screen(lg) {
		width: 100%;
		display: block;
	}
	.pb-checkout-thankyou-left {
		width: 50%;
		padding: 5% 5% 5% 10%;
		@include max-screen(lg) {
			width: 100%;
			padding: 0;
		}
		.pb-checkout-thankyou-letter {
			width: 100%;
			padding: 10%;
			background: rgba(255, 255, 255, 1);
			text-align: center;
			@include max-screen(lg) {
				padding: 10%;
			}
			h1 {
				margin-top: 30px;
				padding-bottom: 0;
				margin-bottom: 20px;
				text-transform: none;
				font-size: 48px;
			}
			h3 {
				margin-bottom: 10px;
				text-transform: capitalize;
				font-size: 18px;
				color: #506b6f;
				display: block;
				width: 100%;
				margin-top: 0;
			}
			h4 {
				font-size: 10px;
				font-weight: 400;
				font-family: din;
				color: #939393;
				padding-bottom: 0;
				text-transform: none;
			}
			p {
				font-size: 14px;
				&.highlight {
					font-size: 18px;
					font-weight: 500;
				}
			}
			img {
				max-width: 150px;
				height: auto;
			}
			a.button {
				background: #a7c454 !important;
				height: 50px !important;
				border-radius: 30px !important;
				color: #ffffff !important;
				border: 0 !important;
				font-size: 16px !important;
				font-weight: bold !important;
				padding: 10px 30px !important;
				margin: 30px auto !important;
				display: inline-block;
				min-width: 210px;
			}
			.pb-impact-summary {
				display: block;
				width: 100%;
				margin-top: 40px;
				margin-bottom: 10px;
				overflow: hidden;
				ul {
					display: block;
					width: 100%;
					float: left;
					margin: 0;
					padding: 0;
					list-style: none;
					li {
						display: block;
						width: 100%;
						float: left;
						border-bottom: 1px solid #cccccc;
						padding: 10px 0;
						.caption {
							float: left;
							font-size: 10px;
							font-weight: bold;
							text-transform: uppercase;
							color: #3cb6c6;
						}
						.number {
							float: right;
							font-size: 18px;
						}
					}
				}
				.total {
					display: block;
					width: 100%;
					float: left;
					margin-top: 15px;
					text-align: right;
					color: #3cb6c6;
					font-size: 18px;
				}
			}
			.addthis_tool {
				text-align: center;
				margin-bottom: -10px;
			}
			.at-share-tbx-element {
				.at-share-btn {
					margin: 0 10px 10px 10px !important;
					&:focus,
					&:hover {
						transform: translateY(0) !important;
						.at-icon {
							fill: #67d5e3 !important;
						}
					}
				}
				.at-icon-wrapper {
					background-color: transparent !important;
					width: 25px !important;
					height: 25px !important;
					line-height: 25px !important;
					.at-label {
						display: none !important;
					}
					.at-icon {
						fill: #cccccc !important;
						width: 25px !important;
						height: 25px !important;
					}
				}
			}
		}
	}
	.pb-checkout-thankyou-right {
		width: 50%;
		padding: 5% 10% 5% 5%;
		background: #f8f8f8;
		overflow: hidden;
		@include max-screen(lg) {
			width: 100%;
			padding: 10%;
		}
		h3 {
			margin-bottom: 10px;
			text-transform: capitalize;
			font-size: 18px;
			color: #506b6f;
			text-align: left;
			display: block;
			width: 100%;
			margin-top: 0;
		}
		ul {
			display: block;
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
			border-top: 1px solid #cccccc;
			margin-top: 20px;
			padding-top: 5px;
			li {
				display: block;
				width: 100%;
				float: left;
				padding-top: 5px;
				.caption {
					float: left;
					font-size: 10px;
					font-weight: 600;
				}
				.number {
					float: right;
					font-size: 14px;
				}
				&.total {
					border-top: 1px solid #cccccc;
					margin-top: 10px;
					.caption {
						font-weight: 600;
						text-transform: uppercase;
					}
					.number {
						color: #3cb6c6;
						font-size: 18px;
					}
				}
				&.order-number {
					margin-top: 30px;
					.caption {
						font-weight: 500;
						font-size: 12px;
					}
					.number {
						color: #939393;
						font-size: 14px;
					}
				}
			}
		}
		.pb-cart-table {
			text-align: center;
			a.button.pb-cart-checkout-button {
				margin-top: 20px;
				max-width: 350px;
			}
			img.pb-cart-payment-icons {
				margin-top: 20px;
				max-width: 100%;
				display: none;
			}
			.pb-cart-item {
				display: flex;
				flex-direction: row;
				margin-top: 20px;
				position: relative;
				.pb-cart-item-image {
					width: 15%;
					flex-direction: column;
					display: flex;
					justify-content: center;
					img {
						border-radius: 6px;
					}
				}
				.pb-cart-item-detail {
					width: 85%;
					flex-direction: column;
					padding-left: 20px;
					text-align: left;
					display: flex;
					justify-content: center;
					.pb-cart-item-detail-inner {
						display: flex;
						justify-content: space-between;
						.pb-cart-item-description {
							box-sizing: border-box;
							span {
								&.pb-cart-item-name {
									font-size: 16px;
									display: block;
									padding-right: 20px;
								}
								&.pb-cart-item-subtitle {
									font-size: 10px;
									font-weight: 500;
									color: #a7c454;
									display: block;
									text-transform: uppercase;
									padding-right: 20px;
								}
							}
						}
						.pb-cart-item-subtotal {
							font-size: 14px;
							line-height: 20px;
							display: inline-block;
							padding-left: 20px;
							box-sizing: border-box;
							text-align: right;
							.subscription-details {
								font-size: 0.5em;
							}
						}
					}
				}
				.pb-cart-item-remove {
					position: absolute;
					right: -40px;
					top: 0;
					width: 30px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					display: block;
					cursor: pointer;
					background: #ffffff;
					border-radius: 30px;
					&:before {
						font-family: "plasticbank-v3";
						content: "\e91c";
						font-size: 20px;
						color: #ccc;
					}
				}
			}
		}
	}
}
#atstbx,
.pb-checkout-login {
	display: none !important;
}
