.blog-carousel-item {
  text-align: left;
  .featured-image {
    width: 100%;
    padding: 50% 0;
    display: block;
    background-color: #e8f6fa;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .title {
    color: #a7c454;
    font-size: 24px;
    font-family: din;
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  .blank-for-navigation {
    width: 100%;
    padding: 50% 0;
    display: block;
    background-color: #e8f6fa;
    position: relative;
    &:hover h3:before {
      color: #0192a5;
    }
    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: din;
      color: #506b6f;
      font-size: 16px;
      font-weight: bold;
      display: block;
      align-items: center;
      margin-bottom: 0;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      span {
        display: block;
        text-align: center;
        text-transform: none !important;
      }
      &:before {
        position: relative;
        content: "\f03a";
        width: 50px;
        min-width: 50px;
        height: 50px;
        border: 2px solid #ffffff !important;
        background-color: #ffffff;
        border-radius: 50px !important;
        text-align: center;
        line-height: 46px;
        box-sizing: border-box;
        margin-left: 0 !important;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 18px;
        color: #67d5e3;
        transition: all 0.5s ease;
        display: inline-block;
        margin-bottom: 20px;
      }
    }
  }
}

.pb-lesson-card {
  display: inline-block;
  max-width: 480px;
  margin-top: 30px;
  width: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
  position: relative;
  z-index: 1;
  @include max-screen(lg) {
    margin-top: 0;
    &:before,
    &:after {
      display: none;
    }
  }
  &:before {
    border-radius: 12px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
    position: absolute;
    z-index: -1;
    top: -15px;
    left: 15px;
    right: -15px;
    bottom: 15px;
    content: "";
    display: block;
    background-color: #3cb5c6;
  }
  &:after {
    border-radius: 12px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
    position: absolute;
    z-index: -2;
    top: -30px;
    left: 30px;
    right: -30px;
    bottom: 30px;
    content: "";
    display: block;
    background-color: #3cb5c6;
  }
  .featured-image {
    width: 100%;
    padding: 50% 0;
    display: block;
    background-color: #e8f6fa;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 1;
  }
  .info {
    padding: 30px;
    background: #ffffff;
    display: block;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 1;
    h3 {
      color: #3cb6c6;
      font-size: 24px;
      padding-bottom: 0;
      margin-bottom: 30px;
    }
    span.course-title {
      margin-bottom: 10px;
      color: #a7c454;
      font-weight: bold;
      font-size: 18px;
      display: block;
      a {
        color: #a7c454 !important;
      }
    }
    .lesson-details {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 30px;
      .detail {
        width: 30%;
        margin-right: 3%;
        display: flex;
        flex-direction: row;
        @include max-screen(lg) {
          justify-content: center;
          margin-right: 0;
          width: 100%;
          margin-top: 5px;
          margin-bottom: 5px;
        }
        i {
          display: flex;
          flex-direction: column;
          padding-right: 7px;
          line-height: 18px;
          color: #506b6f;
        }
        span {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          line-height: 18px;
          color: #506b6f;
        }
      }
    }
  }
}
.membership-lms-enroll {
  .button {
    background-color: #67d5e3 !important;
    border-radius: 30px !important;
    min-width: 220px;
    text-align: center;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    box-sizing: border-box;
    font-weight: bold !important;
    font-size: 18px !important;
    text-decoration: none !important;
    text-transform: capitalize;
    &:hover {
      background-color: #0192a5 !important;
    }
  }
}
