.dashboard {
  nav.llms-sd-nav {
    font-size: 16px;
  }
  h2.llms-sd-title {
    display: none;
  }
  .llms-my-courses,
  .llms-my-memberships {
    h4.llms-loop-title {
      font-size: 25px;
      text-transform: capitalize;
    }
    div.llms-author {
      display: none;
    }
  }
}
.dashboard-nav {
  background-color: #525252;
  .menu {
    display: block;
    padding: 0;
    list-style: none;
    .menu-item {
      display: inline-block;
      a {
        color: white;
        padding: 10px 20px;
        display: block;
        text-decoration: none !important;
      }
    }
  }
}
#the-dashboard {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  direction: ltr;
  width: 100%;
}
#dashboard-content {
  width: calc(100% - 300px);
  padding: 40px;
  position: relative;
  box-sizing: border-box;
  > #main-content {
    min-width: 100%;
    .et_pb_row {
      width: 100%;
      max-width: 2560px;
    }
    .page-title {
      h1 {
        font-size: 24px;
        display: inline-block;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      span.today {
        float: right;
        color: #898989;
        font-size: 14px;
      }
    }
    .dashboard-block {
      margin-top: 40px;
    }
    .banner {
      border-radius: 7px;
      margin-top: 40px;
      padding: 20px;
      a.et_pb_button {
        width: 100%;
      }
      .et_pb_row {
        padding: 0 0;
      }
      &.greeting {
        background-color: #dde8bd;
        span.name {
          font-family: "nanami";
          color: #18a0ad;
          font-size: 20px;
          display: block;
          margin-bottom: 25px;
        }
        strong {
          font-weight: 600;
          color: #18a0ad;
        }
        .footprint-result {
          color: #18a0ad;
          font-size: 27px;
          text-align: center;
          display: block;
          background-image: url("../images/plastic.png");
          margin-bottom: -20px;
          padding-bottom: 20px;
          background-size: cover;
          background-position: center top;
          background-repeat: no-repeat;
          background-size: 100% auto;
          h3 {
            font-size: 20px;
            padding-bottom: 0;
            margin-bottom: 20px;
          }
          span.footprint-score {
            display: block;
          }
          a {
            display: block;
            text-align: center;
            font-size: 14px;
            margin-top: 15px;
          }
        }
      }
      &.plastic-neutral {
        background-color: #a7c454;
        color: #ffffff;
        h2 {
          font-size: 18px;
          margin-bottom: 30px;
          padding-bottom: 0;
          color: #ffffff;
        }
      }
    }
    h2 {
      font-size: 20px;
      margin-bottom: 20px;
      padding-bottom: 0;
      text-transform: none;
    }
    h4 {
      font-size: 17px;
    }
    .academy-teaser {
      border: 2px solid #f2f2f2;
      border-radius: 7px;
      overflow: hidden;
      margin-top: 40px;
      img {
        float: left;
      }
      .et_pb_row {
        padding: 0 0;
      }
      .content-wrap {
        padding: 30px;
        h2 {
          text-transform: uppercase;
        }
        .et_pb_button {
          margin-top: 20px;
        }
      }
    }
    .fc-teaser {
      background-color: #368899;
      border-radius: 7px;
      color: #ffffff;
      margin-top: 280px;
      .et_pb_row {
        padding: 0 0;
      }
      .image-wrap {
        margin-top: -250px;
        img {
          float: left;
        }
      }
      .content-wrap {
        padding: 50px;
        font-size: 14px;
        h2 {
          text-transform: uppercase;
          color: #ffffff;
          font-size: 27px;
        }
        h3 {
          text-transform: uppercase;
          color: #ffffff;
          font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
          font-size: 17px;
          margin-bottom: 10px;
          padding-bottom: 0;
        }
        ol {
          padding-bottom: 0;
        }
        .et_pb_button {
          margin-top: 20px;
          background-color: #a7c454;
        }
      }
    }
    .signup-steps {
      margin-top: 40px;
      h2 {
        font-weight: 600;
      }
      .content-wrap {
        text-align: center;
        h3 {
          font-weight: 500;
          text-transform: none;
          font-size: 14px;
        }
        span.swosh {
          display: block;
          width: 100%;
          margin-bottom: 10px;
          text-align: center;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            background-color: #d7d7d7;
            width: 100%;
            top: 18px;
            height: 4px;
            display: block;
            z-index: 1;
          }
          &:after {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            text-align: center;
            line-height: 40px;
            background-color: #d7d7d7;
            content: "\f00c";
            z-index: 2;
            position: relative;
            color: #ffffff;
            font-family: "Font Awesome 5 Free";
            font-size: 21px;
            font-weight: 900;
          }
          &.success:after {
            background-color: #a7c454;
          }
        }
      }
      .et_pb_column {
        &:first-child .content-wrap span.swosh:before {
          width: 50%;
          right: 0;
        }
        &:last-child .content-wrap span.swosh:before {
          width: 50%;
          left: 0;
        }
      }
    }
    .woocommerce-highlight {
      border-radius: 7px;
      overflow: hidden;
      margin-top: 40px;
      background-color: #efefef;
      img {
        float: left;
      }
      .et_pb_row {
        padding: 0 0;
      }
      .content-wrap {
        padding: 30px;
        .et_pb_button {
          width: 100%;
        }
        span.price {
          font-size: 17px;
          color: #16aebd;
          font-weight: bold;
          margin-top: 20px;
          display: inline-block;
        }
      }
    }
    table tr td {
      padding: 10px 15px;
      a[class*="button"] {
        padding: 5px 10px;
        font-size: 14px;
        margin-left: 5px;
        min-width: 60px;
      }
    }
    table tr th {
      padding: 15px;
    }
  }
  @include max-screen(md) {
    width: 100%;
  }
  form {
    button[type="submit"] {
      border-radius: 0 !important;
      background-color: #3cb6c6 !important;
      font-family: "nanami";
      font-size: 14px;
      text-transform: uppercase;
      padding: 15px 20px;
      min-width: 150px;
      &:hover {
        background-color: #0192a5 !important;
      }
    }
    label {
      color: #506b6f;
      text-transform: uppercase;
      font-family: "din";
      font-size: 14px;
      font-weight: 600;
    }
    input[type="email"],
    input[type="text"] {
      background-color: #f8f8f8 !important;
      font-family: "nanami" !important;
      font-size: 14px !important;
      height: 50px !important;
      border: 1px solid #ebebeb !important;
      color: #506b6f !important;
      padding: 0 20px !important;
      border-radius: 0 !important;
      &:hover {
        border-color: #8b8b8b !important;
      }
      &:focus {
        border-color: #506b6f !important;
      }
    }
    textarea.textarea {
      background-color: #f8f8f8 !important;
      font-family: "nanami" !important;
      font-size: 14px !important;
      border: 1px solid #ebebeb !important;
      color: #506b6f !important;
      padding: 20px !important;
      border-radius: 0 !important;
      margin-top: 0 !important;
      &:hover {
        border-color: #8b8b8b !important;
      }
      &:focus {
        border-color: #506b6f !important;
      }
    }
    select {
      background-color: #f8f8f8 !important;
      font-family: "nanami" !important;
      font-size: 14px !important;
      height: 50px !important;
      border: 1px solid #ebebeb !important;
      color: #506b6f !important;
      border-radius: 0 !important;
      &:hover {
        border-color: #8b8b8b !important;
      }
      &:focus {
        border-color: #506b6f !important;
      }
    }
    .gform_footer {
      text-align: left;
    }
  }
}
#dashboard-sidebar {
  width: 300px;
  max-width: 300px;
  padding: 40px;
  position: relative;
  background-color: #00bbc9;
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
  .user-profile {
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    .photo {
      display: inline-block;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      img {
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 100px;
      }
    }
    .name {
      margin-top: 20px;
      p {
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 0;
        &.program {
          margin-top: 2px;
          font-size: 12px;
          color: #dfdfdf;
        }
      }
    }
    ul.SDGs {
      display: inline-block;
      margin: 0;
      padding: 0;
      margin-top: 20px;
      li {
        display: inline-block;
        margin: 0 5px;
        img {
          width: 60px;
          height: auto;
        }
      }
    }
  }
  ul.dashboard-navigation {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    li {
      display: block;
      text-align: left;
      margin-top: 20px;
      a {
        color: #ffffff;
        font-size: 14px;
        i {
          font-size: 20px;
          margin-right: 15px;
        }
      }
    }
  }
  @include max-screen(md) {
    width: 100%;
    max-width: 100%;
    position: fixed;
    left: -100%;
    transition: left 0.5s linear;
    z-index: 9999;
    height: 100%;
    top: 0;
    padding-top: 150px;
  }
  &.open {
    @include max-screen(md) {
      left: 0;
    }
  }
}
.sidebar-toggle {
  display: none;
  @include max-screen(md) {
    display: block;
    position: absolute;
    right: 0px;
  }
}
.sidebar-chev {
  @include max-screen(md) {
    display: inline-block;
    width: 50px;
    color: white;
  }
}
.content-toggle {
  display: none;
  @include max-screen(md) {
    display: block;
    position: relative;
    padding: 10px;
    border: 1px solid #3cb6c6;
    text-align: center;
    color: #3cb6c6;
    margin-bottom: 30px;
    font-weight: bold;
    i {
      margin-left: 10px;
    }
  }
}
.woocommerce-account .woocommerce-MyAccount-navigation,
.llms-sd-header {
  margin: 40px 0;
  float: left;
  display: block;
  width: 100%;
}

.woocommerce-account .woocommerce-MyAccount-navigation,
.llms-sd-nav {
  ul {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    li {
      list-style: none;
      padding: 0 0 10px 0 !important;
      border-bottom: 3px solid transparent;
      display: inline-block;
      list-style: none;
      margin-right: 20px !important;
      box-sizing: border-box;
      transition: all 0.5s ease;
      a {
        font-size: 12px;
        box-shadow: none;
        text-decoration: none;
        box-shadow: none;
        &:hover {
          box-shadow: 0 3px 0 #0f0f0f;
          text-decoration: none;
          box-shadow: none;
        }
      }
      &:before {
        display: none;
      }
      &.is-active,
      &.current,
      &:hover,
      &.current_page_item {
        border-color: #00bbc9;
        background: transparent;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.woocommerce-account .woocommerce-MyAccount-content,
.llms-sd-nav {
  width: 100%;
  float: left;
}
.llms-sd-nav ul li .llms-sep,
.llms-sd-header .llms-sd-title {
  display: none;
}
#left-area ul,
.entry-content ul,
.comment-content ul,
body.et-pb-preview #main-content .container ul {
  padding-left: 0;
}
@include max-screen(md) {
  .woocommerce-account .woocommerce-MyAccount-navigation,
  .llms-sd-header .llms-sd-tab.dashboard,
  .llms-person-form-wrapper,
  .llms-sd-notification-center,
  .llms-sd-section.llms-my-certificates,
  .llms-sd-section.llms-my-achievements,
  .llms-sd-section.llms-my-memberships,
  .llms-sd-section.llms-my-grades,
  .llms-sd-section.llms-sd-grades,
  .llms-sd-section.llms-my-courses,
  .llms-sd-widgets,
  .llms-table.llms-single-course-grades,
  .woocommerce-account .woocommerce-MyAccount-content {
    width: 100%;
    padding-right: 0;
  }
}
