.faith-page-groups {
  .um-groups-directory {
    .um-group-item {
      background: white;
      padding: 20px !important;
      border-top: 5px solid #67d5e3;
      border-bottom: none !important;
      margin-bottom: 15px;
      .um-group-image {
        margin-right: 20px !important;
      }
      .um-group-meta {
        width: 100%;
        display: block;
        text-align: left !important;
        ul {
          padding-bottom: 0;
          li {
            text-align: left !important;
            margin-bottom: 0;
            width: 100%;
            > a {
              font-size: 18px;
              color: #67d5e3;
            }
            &:first-child {
              margin-bottom: 4px;
            }
            &.description {
              display: none;
            }
            i {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
.uimob340 .um-group-item .last-active {
  text-align: left !important;
  width: 100%;
}
.account-groups {
  .um-groups-found-own-posts {
    display: none;
  }
}
.single-um_groups {
  .gfield_list_icons {
    text-align: center;
    .add_list_item img,
    .delete_list_item img {
      width: 45%;
      max-width: 30px;
    }
  }
}
