.faq-form {
  h2 {
    text-transform: none !important;
  }
  .gform_body {
    .gfield label.gfield_label {
      font-size: 13px !important;
      color: #466165 !important;
      font-weight: 600 !important;
      .gfield_required {
        display: none;
      }
    }
    div.ginput_container {
      margin-top: 10px !important;
      position: relative;
      input[type="text"],
      select {
        background: transparent !important;
        border: 0 !important;
        border-bottom: 1px solid #466165 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 5px !important;
        padding-top: 0 !important;
        color: #466165 !important;
        height: 30px !important;
        margin: 0;
        option {
          color: #466165 !important;
        }
      }
      textarea {
        background: transparent !important;
        border: 0 !important;
        border-bottom: 1px solid #466165 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 5px !important;
        padding-top: 0 !important;
        color: #466165 !important;
        max-height: 70px;
        margin: 0 !important;
      }
      .address_country {
        width: 100% !important;
        padding-right: 0 !important;
        label {
          display: none !important;
        }
      }
    }
  }
  .gform_wrapper {
    padding: 20px 30px 20px 30px;
    background-color: #efefef;
    margin-top: 0;
    margin-bottom: 0;
    .gfield_checkbox li input[type="checkbox"] + label {
      font-weight: 600;
      color: #466165 !important;
    }
  }
  .gform_footer {
    text-align: left !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
    button {
      border: 0;
      box-shadow: none;
      border-radius: 30px !important;
      padding: 10px 30px !important;
      background-color: #67d5e3 !important;
      font-size: 17px !important;
      &:hover {
        border-radius: 30px !important;
        border: 0 !important;
        border-radius: 30px !important;
        padding: 10px 30px !important;
        background-color: #3cb6c6 !important;
        font-size: 17px !important;
        &:after {
          display: none;
        }
      }
    }
  }
  .gf-recaptcha-div {
    display: none;
  }
}
