p.home-stats {
  display: flex;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "nanami";
  align-items: center;
  justify-content: center;
  @include max-screen(lg) {
    display: block;
  }
  span {
    &.counter {
      font-size: 56px;
      line-height: 57px;
      @include max-screen(lg) {
        display: block;
        text-align: center;
        font-size: 42px;
        line-height: 48px;
      }
    }
    &.unit {
      font-size: 15px;
      line-height: 19px;
      margin-left: 10px;
      align-self: flex-end;
      @include max-screen(lg) {
        display: block;
        text-align: center;
        margin-left: 0;
        margin-top: 10px;
        font-size: 15px;
      }
      span.break {
        display: block;
        @include max-screen(lg) {
          display: inline-block;
          margin-right: 0.5em;
        }
      }
    }
  }
}
.hero-ctas {
  .et_pb_button {
    @include min-screen(md) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .et_pb_button:last-child {
    @include max-screen(md) {
      margin-top: 30px;
    }
  }
}
