.client-infograph {
  display: block;
  width: 100%;

  .header-block {
    display: flex;
    background: #3b3b3b;
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @include max-screen(md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &:before {
      background: rgb(2, 0, 41);
      background: linear-gradient(
        0deg,
        rgba(2, 0, 41, 0.6965161064425771) 0%,
        rgba(2, 0, 41, 0) 70%
      );
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
      content: "";
    }
    h3 {
      margin-bottom: 15px;
      color: #ffffff;
      text-transform: none;
      font-size: 48px;
      z-index: 1;
      padding: 10px 10px 0 10px;
    }
    .left-column {
      width: 70%;
      padding: 30px;
      z-index: 1;
      .flexy-inner-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
        &:first-child {
          margin-top: 0;
        }
        .flexy-inner-column {
          span {
            &.number {
              font-size: 48px;
              @include max-screen(md) {
                font-size: 32px;
              }
            }
            &.caption {
              @include max-screen(md) {
                font-size: 18px;
              }
            }
          }
          &:first-child {
            @include max-screen(md) {
              width: 100%;
              span.number {
                font-size: 42px;
              }
            }
          }
        }
      }
    }
  }

  .sub-header-block {
    display: flex;
    background: #ffffff;
    direction: rtl;
    text-align: left;
    border-top: 5px solid #67d5e3;

    @include max-screen(md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .left-column {
      padding-top: 15px;
      direction: ltr;
      text-align: left;
      @include max-screen(md) {
        padding-top: 0;
        direction: ltr;
        text-align: left;
      }
      .flexy-inner-row {
        .flexy-inner-column {
          span.caption {
            color: #939393;
          }
        }
      }
    }
    .right-column {
      padding: 10% 0;
      @include max-screen(md) {
        padding: 21% 0;
      }
      a.client-map-preview {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        color: #ffffff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        z-index: 1;
        &:before {
          position: absolute;
          content: "\f002";
          width: 50px;
          min-width: 50px;
          height: 50px;
          border: 2px solid #ffffff !important;
          background-color: #ffffff;
          border-radius: 50px !important;
          text-align: center;
          line-height: 46px;
          box-sizing: border-box;
          margin-left: 0 !important;
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          font-size: 21px;
          color: #a7c454;
          transition: all 0.5s ease;
          display: inline-block;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          z-index: 1;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        &:after {
          background: #000000;
          opacity: 0.27;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          content: "";
          z-index: 0;
        }
      }
    }
  }

  .left-column {
    padding-top: 15px;
    direction: ltr;
    text-align: left;
    @include max-screen(md) {
      width: 100%;
      padding: 10px;
    }
    .flexy-inner-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin-top: 15px;
      @include max-screen(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      &:first-child {
        margin-top: 0;
      }
      .flexy-inner-column {
        width: 37.5%;
        flex-direction: column;
        font-family: din;
        margin-top: 15px;
        padding: 10px;
        @include max-screen(md) {
          width: 50%;
          padding: 5px;
        }
        &:nth-child(3n + 0) {
          width: 25%;
          @include max-screen(md) {
            width: 50%;
          }
        }
        span {
          &.caption {
            display: block;
            color: #ffffff;
            font-size: 18px;
            margin-bottom: 5px;
            @include max-screen(md) {
              font-size: 14px;
            }
          }
          &.number {
            display: block;
            color: #67d5e3;
            font-size: 36px;
            line-height: 1.2em;
            @include max-screen(md) {
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  .right-column {
    width: 30%;
    z-index: 1;
    position: relative;
    @include max-screen(md) {
      width: 100%;
    }
  }

  p.infograph-footer {
    margin-bottom: 0;
    margin-top: 15px;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    @include max-screen(md) {
      text-align: center;
    }
  }
}

#client-infographs {
  position: relative;

  .owl-nav {
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%;
    left: 0;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    .owl-prev,
    .owl-next {
      position: absolute;
      top: -55px;
    }
    .owl-prev {
      margin-left: -55px;
      left: 0;
    }
    .owl-next {
      margin-right: -55px;
      right: 0;
    }
  }
  .owl-dots {
    text-align: right;
    margin-top: 10px;
    @include max-screen(md) {
      text-align: center;
    }
    .owl-dot {
      span:before {
        color: #ffffff;
      }
      &.active span:before {
        color: #67d5e3;
      }
    }
  }
  a.owl-nav-trigger {
    &:before {
      background-color: #ffffff;
    }
    &:hover:before {
      background-color: #67d5e3;
    }
  }
}

.infograph {
  display: flex;
  direction: rtl;
  overflow: hidden;
  position: relative;
  @include max-screen(lg) {
    display: block;
    width: 100%;
  }
  .main-container {
    width: 60%;
    background-color: #ababab;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    direction: ltr;
    position: relative;
    overflow: hidden;
    margin-top: -54px;
    z-index: 0;
    @include max-screen(lg) {
      display: block;
      width: 100%;
      height: 50vh;
      margin-top: 0;
    }
    .the-map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      background-color: #ababab;
      @include max-screen(lg) {
        height: calc(50vh + 54px);
        margin-top: -54px;
      }
    }
  }
  .side-container {
    width: 40%;
    background: #f3f3f3;
    direction: ltr;
    h2 {
      padding: 20px 30px;
      color: #ffffff;
      background-color: #3cb6c6;
      padding: 6% 8%;
      font-size: 2.1vw;
      text-align: center;
      line-height: 1.2em;
      margin-bottom: 0;
      text-transform: none;
      @include max-screen(lg) {
        padding: 6% 8%;
        font-size: 3.5vh;
      }
    }
    .content-block {
      padding: 20px 30px;
      font-family: din;
      span.label {
        font-size: 1.17vw;
        line-height: 1.2em;
        color: #506b6f;
        display: block;
        margin-top: 5px;
        font-weight: normal;
        @include max-screen(lg) {
          font-size: 1.7vh;
        }
        span.tq {
          display: inline-block;
          border-radius: 15px;
          background: #cccccc;
          color: #ffffff;
          margin-left: 5px;
          cursor: pointer;
          height: 15px;
          width: 15px;
          font-size: 0.7vw;
          line-height: 15px;
          @include max-screen(lg) {
            font-size: 1.4vh;
          }
        }
        &.footer {
          text-align: center;
          font-size: 0.7vw;
          @include max-screen(lg) {
            font-size: 1.4vh;
          }
          strong {
            color: #3cb6c6;
          }
        }
      }
      .total-impact {
        text-align: center;
        color: #3cb6c6;
        font-size: 2.7vw;
        line-height: 1;
        font-weight: bold;
        @include max-screen(lg) {
          font-size: 4.7vh;
        }
      }
      .plastic-categories {
        display: flex;
        margin-top: 20px;
        justify-content: center;
        .category {
          width: 33.3%;
          padding: 10px;
          text-align: center;
          &.hide {
            visibility: hidden;
            width: 0;
          }
          span.label {
            @include max-screen(lg) {
              font-size: 1.7vh;
            }
          }
        }
      }
      .numbers {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        .number {
          width: 31.3%;
          margin: 1%;
          font-size: 2.1vw;
          padding: 10px;
          text-align: center;
          color: #a7c454;
          font-weight: bold;
          line-height: 1;
          border: 1px solid #ccc;
          @include max-screen(md) {
            width: 98%;
          }
          @include max-screen(lg) {
            font-size: 2.7vh;
          }
          &.full {
            width: 98%;
          }
          span.label {
            font-size: 0.87vw;
            @include max-screen(lg) {
              font-size: 1.7vh;
            }
          }
        }
      }

      .data-header {
        display: flex;
        margin-bottom: 20px;
        flex-wrap: wrap;
        direction: rtl;
        .selector {
          text-align: left;
          width: 50%;
          box-sizing: border-box;
          padding-right: 15px;
          position: relative;
          direction: ltr;
          @include max-screen(lg) {
            width: 100%;
          }
          a.selected-option {
            text-align: left;
            font-size: 1.17vw;
            color: #3cb6c6;
            border-bottom: 1px solid #ccc;
            padding-bottom: 2px;
            display: inline-block;
            text-transform: uppercase;
            width: 100%;
            position: relative;
            @include max-screen(lg) {
              font-size: 2.1vh;
            }
            &:before {
              font-family: "plasticbank-v3";
              speak: never;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              display: inline-block;
              content: "\e912";
              position: absolute;
              right: -15px;
              bottom: -10px;
              color: #3cb6c6;
              font-size: 15px;
            }
            &.open:before {
              content: "\e913";
              bottom: -4px;
            }
            ul li a {
              @include max-screen(lg) {
                font-size: 1.5vh;
              }
            }
          }
          select {
            border: 0 !important;
            padding: 0 !important;
            background: transparent !important;
            text-align: left !important;
            border-bottom: 1px solid #ccc !important;
            padding-bottom: 5px !important;
            display: none !important;
            font-size: 15px !important;
            color: #3cb6c6 !important;
            text-transform: uppercase !important;
            width: 100% !important;
            > option {
              font-size: 15px !important;
              color: #506b6f !important;
              text-transform: none !important;
              &:checked {
                font-size: 15px !important;
                color: #3cb6c6 !important;
                text-transform: uppercase !important;
              }
            }
          }
          ul {
            display: none;
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            right: 0;
            list-style: none;
            padding: 0;
            margin: 0;
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.35);
            border: 1px solid #efefef;
            overflow: hidden;
            background: #ffffff;
            border-radius: 5px;
            li {
              display: block;
              width: 100%;
              a {
                display: block;
                width: 100%;
                font-size: 1vw;
                color: #3cb6c6;
                padding: 4% 6%;
                text-transform: uppercase;
                transition: all 0.3s ease;
                cursor: pointer;
                line-height: 1.1em;
                &:hover {
                  color: #ffffff;
                  background: #3cb6c6;
                }
              }
            }
          }
        }
        span.label {
          text-align: right;
          font-size: 0.84vw;
          width: 50%;
          display: inline-block;
          margin-top: 0;
          direction: ltr;
          @include max-screen(lg) {
            font-size: 1.7vh;
            width: 100%;
            text-align: left;
            margin-bottom: 15px;
          }
        }
      }
    }
    @include max-screen(lg) {
      display: block;
      width: 100%;
    }
  }
  .infograph-navigation {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    .nav-item {
      height: 50px;
      width: 40px;
      display: inline-block;
      position: absolute;
      top: -25px;
      background: #ffffff;
      opacity: 0.7;
      transition: all 0.5s ease;
      cursor: pointer;
      text-align: center;
      line-height: 50px;
      &:hover {
        opacity: 1;
      }
      &:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 25px;
        color: #3cb6c6;
        content: "\f053";
      }
      &.next {
        right: -40px;
        &:before {
          content: "\f054";
        }
      }
      &.prev {
        left: -40px;
      }
    }
  }
  &:hover {
    .infograph-navigation {
      .nav-item.prev {
        left: 0;
      }
      .nav-item.next {
        right: 0;
      }
    }
  }
}

.testimony-photos {
  position: relative;
  .photo {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease;
    &.active {
      opacity: 1;
    }
  }
}

.client-logo {
  margin-bottom: 30px;
  img {
    max-width: 320px;
  }
}
.client-description {
  h1 {
    @include max-screen(lg) {
      font-size: 7vw !important;
    }
  }
  h2 {
    @include max-screen(lg) {
      font-size: 7vw !important;
    }
  }
  h3 {
    @include max-screen(lg) {
      font-size: 17px !important;
    }
  }
}
