.btn-social-login {
  position: relative;
  display: block;
  width: 100%;
  padding: 15px 20px 15px 55px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  background-color: #dc4e41;
  text-decoration: none !important;

  &.google {
    background-color: #dc4e41;
  }
  &.facebook {
    background-color: #4267b2;
  }
  .button-svg-container {
    position: absolute;
    left: 15px;
    width: 25px;
    height: 25px;
    svg {
      width: 100%;
    }
  }
}
.login-alternative {
  font-size: 14px !important;
  span {
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
  }
}
