a.btn-media-kit {
  position: relative;
  width: 100% !important;
  text-align: left !important;
  background-color: #fff !important;
  &:before {
    width: 28px;
    height: 28px;
    padding-right: 15px;
    padding-top: 0px;
    border-right: 1px solid #ccc;
    position: absolute;
    left: 40px;
  }
  &.directory:before {
    content: url(https://plasticbank.com/wp-content/uploads/download-folder.svg) !important;
  }
  &.jpg:before {
    content: url(https://plasticbank.com/wp-content/uploads/download-jpg.svg) !important;
  }
  &.png:before {
    content: url(https://plasticbank.com/wp-content/uploads/download-png.svg) !important;
  }
  &.eps:before {
    content: url(https://plasticbank.com/wp-content/uploads/download-eps.svg) !important;
  }
  &.pdf:before {
    content: url(https://plasticbank.com/wp-content/uploads/download-pdf.svg) !important;
  }
}
a.et_pb_button.btn-media-kit:hover {
  background: inherit !important;
  color: #000;
}
.page-id-98356 {
  a.video-thumb {
    h3 {
      font-family: "Inter", sans-serif;
      font-size: 16px;
    }
    &:after {
      bottom: 5px;
    }
    &:hover {
      .pb-video-thumb-image:before {
        opacity: 0 !important;
      }
    }
  }
  .media-gallery {
    h4 {
      font-family: "Inter", Helvetica, Arial, Lucida, sans-serif;
      font-weight: 600;
      font-size: 24px;
      color: #3cb6c6 !important;
      padding: 0px;
      margin-bottom: 5px;
      text-transform: initial !important;
    }
  }
  .modula-gallery {
    margin-top: 10px;
  }
  .modula-item {
    position: relative;
    .btn-download {
      position: absolute;
      bottom: 5px;
      right: 5px;
      display: none;
    }
    &:hover .btn-download {
      display: block;
    }
  }
}
a.btn-toggle-hide {
  display: none !important;
}
a.btn-toggle-show,
a.btn-toggle-hide {
  font-family: "Inter", sans-serif !important;
}
.btn-media-kit:not(.all) {
  @include max-screen(md) {
    display: none !important;
  }
}
