.summary.entry-summary {
  margin-bottom: 0 !important;
}
.et_pb_wc_title h1 {
  text-transform: none;
  font-size: 48px;
}
.single-product {
  a.video-thumb {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 27%;
    background-color: transparent;
    @include max-screen(lg) {
      padding-top: 70vh;
    }
    &:after {
      background: #000000;
      opacity: 0.27;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      content: "";
      z-index: 0;
    }
    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 0px 30px;
      font-family: din;
      color: #ffffff !important;
      font-size: 36px;
      font-weight: bold;
      width: 100%;
      display: block;
      align-items: center;
      text-transform: none;
      margin-bottom: 0;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 1;
      max-width: 470px;
      span {
        display: block;
        text-align: center;
      }
      &:before {
        position: relative;
        content: "\f04b";
        width: 50px;
        min-width: 50px;
        height: 50px;
        border: 2px solid #ffffff !important;
        background-color: #ffffff;
        border-radius: 50px !important;
        text-align: center;
        line-height: 46px;
        box-sizing: border-box;
        margin-left: 0 !important;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 18px;
        color: #a7c454;
        transition: all 0.5s ease;
        display: inline-block;
        margin-bottom: 20px;
      }
    }
    &:hover h3:before {
      color: #6c9d40;
    }
  }
}
.et_pb_wc_description ul {
  margin-top: 30px;
  margin-left: 30px;
}
.et_pb_text ul:not(.product-stats) {
  padding-left: 0px !important;
}
a.pb-see-all-products {
  text-align: left !important;
}
