#haiti_tab_btn,
#philipine_tab_btn,
#indonesia_tab_btn {
  &:hover,
  &.active {
    img {
      -webkit-filter: unset;
      filter: unset;
    }
  }
  img {
    -webkit-filter: grayscale(0.7);
    filter: grayscale(0.7);
  }
}
#tab-content {
  &.haiti {
    background-color: #67d5e3;
  }
  &.philipine {
    background-color: #bdd3a7;
  }
  &.indonesia {
    background-color: #3cb6c6;
  }
}
div#haiti_tab_content::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  z-index: 999;
  position: absolute;
  left: 0;
  top: -50px;
}
div#philipine_tab_content::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  z-index: 999;
  position: absolute;
  left: 36%;
  top: -50px;
}
div#indonesia_tab_content::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  z-index: 999;
  position: absolute;
  left: 71%;
  top: -50px;
}
.pb-impact-application-form {
  #gform_fields_78 {
    display: flex;
    border-radius: 8px;
    position: relative;
    #field_78_21 {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: #f7f7f7;
      margin-top: 0;
      left: 50%;
      right: 0;
      display: flex;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      flex-wrap: wrap;
      align-items: center;
      padding: 5.6% !important;
      transition: all 0.5s ease;
      opacity: 0;
      visibility: hidden;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      p {
        margin-top: 0 !important;
        font-size: 1em !important;
      }
    }
    .gfmc-column {
      padding: 3.5% 8.4%;
      &.gfmc-row-1-col-1-of-2 {
        background: #ffffff;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
      }
      &.gfmc-row-1-col-2-of-2 {
        background: #f7f7f7;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
  }
  .gform_footer {
    visibility: hidden;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    height: 0 !important;
  }
  .gf-recaptcha-div {
    display: none;
  }
  .validation_error {
    display: none;
  }
  button.et_pb_button {
    width: 100% !important;
    background-color: #a7c454 !important;
    border-radius: 30px !important;
    min-width: 220px !important;
    text-align: center !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    box-sizing: border-box;
    font-weight: bold !important;
    font-size: 18px !important;
    text-decoration: none !important;
    text-transform: capitalize !important;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    &:hover {
      color: #ffffff !important;
      background-color: #6c9d40 !important;
    }
  }
  p {
    text-align: center !important;
    font-size: 0.7em !important;
    line-height: 1.4em !important;
  }
  .gfield {
    padding-right: 0 !important;
    &#field_78_3 {
      margin-top: 10px;
      label.gfield_label {
        display: none;
      }
      .ginput_container {
        ul.gfield_radio {
          li {
            display: inline-block;
            width: auto;
            position: relative;
            overflow: hidden;
            margin-right: 10px;
          }
          input[type="radio"] {
            margin-top: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
            position: absolute;
            top: -20px;
            left: -20px;
            &:checked + label {
              background-color: #3cb6c6;
              border-color: #3cb6c6;
              color: #ffffff;
            }
          }
          label {
            display: block;
            border: 2px solid #ccc;
            padding: 5px 15px;
            color: #ccc;
            border-radius: 20px;
            margin: 0 0 0 0;
            max-width: 100%;
            width: 100% !important;
          }
        }
      }
    }
    &#field_78_6 {
      margin-top: 40px;
    }
    label.gfield_label {
      font-size: 14px;
      color: #506b6f;
      text-transform: uppercase;
      span.gfield_required {
        color: #506b6f;
      }
    }
    &#field_78_13 {
      label.gfield_label span.gfield_required {
        display: none;
      }
      .ginput_container {
        margin-top: 15px !important;
        input[type="text"] {
          height: 80px;
          font-size: 48px !important;
          color: #3cb6c6 !important;
          font-weight: bold;
        }
      }
      .instruction {
        display: none;
      }
    }
    .ginput_container {
      margin-top: 5px !important;
      &.ginput_complex {
        margin-top: 0 !important;
        span {
          margin-top: 0 !important;
          input {
            margin-top: 0 !important;
          }
        }
      }
      input[type="text"] {
        width: 100%;
        display: block;
        border-radius: 4px;
        height: 50px;
      }
      textarea {
        max-height: 100px;
        width: 100%;
        display: block;
        border-radius: 4px;
      }
      select {
        width: 100% !important;
        display: block;
        border-radius: 4px;
        height: 50px;
      }
    }
  }
  ul.pb-partnership-outcomes,
  .gform_wrapper
    form
    div.gform_body
    ul.gform_fields
    li.gfield.gfield_html
    ul.pb-partnership-outcomes {
    list-style: none !important;
    list-style-type: none !important;
    padding-left: 0 !important;
    margin: 15px 0 0 0 !important;
    padding-bottom: 0 !important;

    li {
      list-style: none !important;
      list-style-type: none !important;
      position: relative;
      padding: 6px 0 6px 50px;
    }
  }
  ul.pb-partnership-outcomes {
    li {
      span {
        &.pb-partnership-outcomes-number {
          font-size: 24px;
          color: #3cb6c6;
        }
        &.pb-partnership-outcomes-label {
          font-size: 14px;
        }
      }
      img {
        position: absolute;
        top: 1px;
        left: 0;
      }
    }
  }
}

@media (max-width: 980px) {
  .pb-impact-application-form {
    #gform_fields_78 {
      flex-wrap: wrap;
      .gfmc-column {
        padding: 3.5% 8.4%;
      }

      .gfmc-column.gfmc-row-1-col-1-of-2 {
        border-bottom-left-radius: 0;
        border-top-right-radius: 8px;
        width: 100% !important;
      }

      .gfmc-column.gfmc-row-1-col-2-of-2 {
        padding-top: 0 !important;
        background: #fff;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 0;
        width: 100% !important;
      }

      #field_78_21 {
        top: 40%;
        left: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
      }
    }
  }
}
