.pb-partnership-form-loader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  z-index: 9999;
  margin-top: 0;
  background-image: url("../images/Infinity-1s-70px.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}
.pb-partner-application-thank-you {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 3.5% 8.4%;
  border-radius: 8px;
  background: #ffffff;
  display: block;
  h2 {
    font-size: 48px;
    color: #3cb6c6;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 30px;
    text-transform: none;
  }
  p {
    text-align: center !important;
    font-size: 14px !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
  a.et_pb_button {
    width: 100% !important;
    background-color: #a7c454 !important;
    border-radius: 30px !important;
    min-width: 220px !important;
    text-align: center !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    box-sizing: border-box;
    font-weight: bold !important;
    font-size: 18px !important;
    text-decoration: none !important;
    text-transform: capitalize !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    max-width: 270px !important;
    &:hover {
      color: #ffffff !important;
      background-color: #6c9d40 !important;
    }
  }
}
.pb-popup-subscription-container {
  h2 {
    padding-bottom: 0;
  }
  h3 {
    font-family: din;
    text-transform: uppercase;
    padding-bottom: 0;
    font-weight: bold;
  }
  .gform_wrapper {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .gf-recaptcha-div {
    display: none;
  }
  .validation_error {
    display: none !important;
  }
  .gfield {
    label.gfield_label {
      font-size: 14px;
      color: #506b6f;
      text-transform: uppercase;
      span {
        &.gfield_required {
          color: #506b6f;
        }
      }
    }
    .ginput_container {
      margin-top: 5px !important;
      input[type="text"] {
        width: 100%;
        display: block;
        border-radius: 4px;
        height: 50px;
        background-color: #f8f8f8 !important;
      }
      select {
        width: 100% !important;
        display: block;
        border-radius: 4px;
        height: 50px;
        background-color: #f8f8f8 !important;
        color: #3cb6c6 !important;
        > option {
          color: #3cb6c6;
        }
      }
    }
  }
  .gform_footer {
    padding-top: 0;
    padding-bottom: 0;
    text-align: left !important;
    button {
      background-color: #a7c454 !important;
      border-radius: 30px !important;
      min-width: 170px !important;
      text-align: center !important;
      padding-left: 30px !important;
      padding-right: 30px !important;
      padding-top: 12px !important;
      padding-bottom: 12px !important;
      box-sizing: border-box;
      font-weight: bold !important;
      font-size: 14px !important;
      text-decoration: none !important;
      text-transform: uppercase !important;
      margin-top: 20px !important;
      &:hover {
        color: #ffffff !important;
        background-color: #6c9d40 !important;
      }
    }
  }
  .content-ar .gform_footer {
    text-align: right !important;
  }
}
