.pb-physical-product-option {
  .variations {
    margin-bottom: -10px !important;
    .label {
      display: block;
      @include max-screen(lg) {
        text-align: center;
        padding-right: 0 !important;
      }
      label {
        font-size: 14px !important;
        color: #3cb6c6 !important;
        font-weight: 600 !important;
        margin-bottom: 10px;
      }
      span.woo-selected-variation-item-name {
        display: none;
      }
    }
    .woo-variation-items-wrapper {
      display: block;
      ul.variable-items-wrapper {
        @include max-screen(lg) {
          display: inline-block;
          max-width: 100%;
          li {
            float: left;
          }
        }
      }
      .variable-items-wrapper {
        .variable-item:not(.radio-variable-item) {
          &.selected {
            box-shadow: 0 0 0 3px rgba(60, 182, 198, 0.9);
            &:hover {
              box-shadow: 0 0 0 3px rgba(60, 182, 198, 0.9);
            }
          }
        }
      }
      @include max-screen(lg) {
        text-align: center;
      }
    }
  }
  button.single_add_to_cart_button.button.alt {
    background-color: #a7c454 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: din !important;
    background-image: url(../images/add-to-basket.png) !important;
    background-repeat: no-repeat !important;
    background-position: 20px center !important;
    padding: 15px 30px 15px 55px !important;
    border-radius: 60px !important;
    display: block !important;
    min-width: 210px;
    margin-top: 30px;
    &:hover {
      padding: 15px 30px 15px 55px !important;
    }
  }
  div.quantity {
    margin-right: 0 !important;
    overflow: hidden;
    input[type="number"].qty {
      color: #506b6f !important;
      font-size: 21px !important;
      font-weight: 600 !important;
      text-align: center;
      /*margin-right: -20px;*/
      min-width: 100px !important;
      background-color: transparent !important;
      /*padding-right: 20px !important;*/
      box-sizing: border-box !important;
      -moz-appearance: textfield;
      &::-webkit-inner-spin-button,
      &:-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
  .woocommerce-variation-add-to-cart {
    .pb-qty-minus,
    .pb-qty-plus {
      color: #939393;
      font-size: 21px;
      cursor: pointer;
    }
    @include max-screen(lg) {
      text-align: center;
      div.quantity input[type="number"].qty {
        padding-right: 20px;
      }
    }
  }
  .variable-items-wrapper.button-variable-wrapper {
    .variable-item {
      &.button-variable-item {
        border-radius: 2px !important;
        min-width: 100px !important;
        max-width: 1920px !important;
        width: auto !important;
        min-height: 50px !important;
        height: 50px !important;
        padding: 10px 15px;
        line-height: 30px;
        margin-right: 15px !important;
        .variable-item-span {
          border-radius: 0 !important;
          min-width: 100px !important;
          max-width: 1920px !important;
          height: auto;
          color: #506b6f !important;
          &.selected {
            color: #3cb6c6 !important;
          }
        }
      }
      &.color-variable-item {
        border-radius: 2px !important;
        min-width: 70px !important;
        max-width: 1920px !important;
        width: auto !important;
        height: auto !important;
        padding: 10px 10px;
        line-height: 30px;
        margin-right: 15px !important;
        display: inline-block;
        .variable-item-span {
          width: 30px !important;
          max-width: 30px !important;
          height: 30px !important;
          display: inline-block;
          &.selected {
            color: #3cb6c6 !important;
          }
        }
      }
      &:after {
        content: attr(title);
        display: block;
        font-size: 12px;
        width: 100%;
        margin-left: auto;
        line-height: 1em;
        position: relative;
        color: #506b6f;
        bottom: auto;
        left: auto;
        right: auto;
        opacity: 1;
        box-shadow: none;
        transform: none;
        visibility: visible;
        border: 0;
      }
      &:before {
        display: none;
      }
    }
  }
  button.single_add_to_cart_button {
    @include max-screen(lg) {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }
  }
  p.stock,
  form.cart {
    @include max-screen(lg) {
      text-align: center !important;
    }
  }
}
