.plastic-neutral-product-block {
	#field_29_21 {
		display: none;
	}
	.gform_body {
		ul {
			&.gfield_radio {
				padding-left: 0 !important;
				li {
					position: relative;
					label {
						font-size: 14px !important;
						color: #272727 !important;
						font-weight: 400 !important;
						position: relative;
						padding-left: 30px !important;
						&:before {
							color: #3cb6c6;
							width: 20px;
							height: 20px;
							content: "\f111";
							display: block;
							position: absolute;
							left: 0;
							top: 0;
							font-family: "Font Awesome 5 Free";
							font-weight: 400;
							text-align: center;
							line-height: 20px;
							font-size: 20px;
							opacity: 1;
							transition: all 0.5s ease;
						}
					}
					input[type="radio"] {
						left: -20px;
						position: absolute;
						&:checked + label {
							font-weight: 600 !important;
							&:before {
								font-weight: 600;
							}
						}
					}
				}
			}
			&#input_29_15 {
				width: 100%;
				box-sizing: border-box;
				li {
					width: 33.3% !important;
					display: inline-block !important;
					padding: 2px !important;
					box-sizing: border-box !important;
					overflow: hidden;
					position: relative;

					input[type="radio"] {
						position: absolute;
						left: -50px;

						&:checked + label {
							background-color: #a7c454 !important;
							&:before {
								opacity: 1;
							}
						}
					}

					label {
						margin: 0 !important;
						width: 100% !important;
						max-width: 100% !important;
						box-sizing: border-box;
						background-color: #efefef !important;
						padding: 5px !important;
						transition: all 0.5s ease;
						position: relative;

						&:before {
							color: #a7c454;
							width: 20px;
							height: 20px;
							content: "\f058";
							display: block;
							position: absolute;
							right: 15px;
							top: 15px;
							left: auto;
							font-family: "Font Awesome 5 Free";
							font-weight: 600;
							text-align: center;
							line-height: 20px;
							font-size: 20px;
							opacity: 0;
							transition: all 0.5s ease;
						}

						img {
							float: left;
							opacity: 1;
							transition: all 0.5s ease;
						}
					}
				}
			}
		}
		tr.gfield_list_group.gfield_list_row_odd {
			padding: 0 0 0 0 !important;
			@include max-screen(md) {
				padding: 10px 0 !important;
			}
		}
		tr.gfield_list_group {
			@include max-screen(md) {
				padding: 10px 0 !important;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
			}
			td.gfield_list_cell {
				padding-bottom: 10px !important;
				@include max-screen(md) {
					padding-left: 0 !important;
					padding-bottom: 0 !important;
				}
				input {
					width: 100% !important;
				}
			}
			td.gfield_list_icons {
				padding-bottom: 10px !important;
				@include max-screen(md) {
					padding-bottom: 0 !important;
					padding-left: 10px !important;
					padding-right: 10px !important;
					background-color: #ffffff !important;
					margin-top: 0 !important;
				}
				a {
					width: 20px;
					display: inline-block;
					float: right;
					line-height: 1;
					margin-bottom: 2px;
					@include max-screen(md) {
						margin-bottom: 0;
						width: 30px;
						margin-left: 5px;
					}
				}
			}
		}
		.gfield label.gfield_label {
			font-size: 14px !important;
			color: #3cb6c6 !important;
			font-weight: 600 !important;
			margin-bottom: 10px;
			.gfield_required {
				display: none;
			}
		}
		div.ginput_container {
			margin-top: 0 !important;
			position: relative;

			input[type="text"],
			select {
				background: transparent !important;
				border-radius: 4px !important;
				border: 0 !important;
				border: 1px solid #939393 !important;
				color: #272727 !important;
				height: 40px !important;
				padding: 10px !important;
				margin: 0;
			}
			textarea {
				border: 1px solid #939393 !important;
				border-radius: 4px !important;
				margin-top: 10px !important;
			}
		}
	}
	.gform_button {
		background-color: #a7c454 !important;
		font-size: 16px !important;
		font-weight: bold !important;
		font-family: din !important;
		background-image: url("../images/add-to-basket.png") !important;
		background-repeat: no-repeat !important;
		background-position: 20px center !important;
		padding: 15px 30px !important;
		border-radius: 60px !important;
	}
	.gform_wrapper {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		.top_label span.ginput_total {
			color: #506b6f !important;
		}
		&#gform_wrapper_53 {
			padding: 0 0 0 0;
			background-color: transparent;
			border: 0;
		}
		.datepicker {
			width: 100% !important;
		}
		.ui-datepicker-trigger {
			position: absolute;
			right: 5px;
			bottom: 5px;
		}
		.gform_footer {
			padding: 0 0 0 0 !important;
			margin: 0 0 0 0 !important;
		}
	}
	button.single_add_to_cart_button.button.alt {
		background-color: #a7c454 !important;
		font-size: 16px !important;
		font-weight: 600 !important;
		font-family: din !important;
		background-image: url(../images/add-to-basket.png) !important;
		background-repeat: no-repeat !important;
		background-position: 20px center !important;
		border-radius: 60px !important;
		padding: 15px 30px 15px 55px !important;
		display: block !important;
		min-width: 210px;
		margin-top: -20px;
		&:hover {
			padding: 15px 30px 15px 55px !important;
		}
		@include max-screen(lg) {
			width: 100% !important;
			max-width: 350px !important;
		}
	}
	.button-variable-item {
		padding: 5px 15px !important;
		border-color: transparent;
		&.selected {
			border-color: transparent !important;
			color: #ffffff !important;
			background-color: #3cb6c6 !important;
		}
		.variable-item-span-button:before {
			display: none;
		}
		@include max-screen(lg) {
			padding-left: 5px !important;
			padding-right: 5px !important;
		}
	}
	.pb-qty-plus,
	.pb-qty-minus {
		display: none;
	}
	div.quantity {
		input[type="number"].qty {
			display: none;
		}
	}
	.variations {
		.label {
			display: none;
		}
		.value {
			#subscription {
				margin-right: 0 !important;
				width: 100% !important;
				background: transparent !important;
				border: 0 !important;
				border-bottom: 1px solid #272727 !important;
				padding-left: 0 !important;
				padding-right: 0 !important;
				padding-bottom: 5px !important;
				padding-top: 0 !important;
				color: #272727 !important;
				height: 30px !important;
				margin: 0;
				border-radius: 0 !important;
			}
			.reset_variations {
				display: none !important;
			}
		}
	}
	.ginput_container {
		&.ginput_container_list.ginput_list {
			padding: 0 !important;
			background-color: transparent !important;
			margin-top: 10px !important;
		}
		.formattedTotalPrice.ginput_total {
			font-size: 21px !important;
			color: #3cb6c6 !important;
		}
	}
	.gfield_list.gfield_list_container {
		thead tr {
			padding: 0 0 !important;
			th {
				font-size: 14px !important;
				font-weight: 600 !important;
				color: #3cb6c6 !important;
				font-weight: 600 !important;
				padding: 0 !important;
				padding-left: 1.4em !important;
				&:first-child {
					padding-left: 0 !important;
				}
			}
		}
		tbody tr td {
			padding: 0 !important;
			padding-left: 1.4em !important;
			&:first-child {
				padding-left: 0 !important;
			}
		}
	}
	.woocommerce-variation-add-to-cart .quantity.hidden {
		width: 0 !important;
		overflow: hidden !important;
		display: none !important;
	}
	.variable-items-wrapper {
		padding: 0 0 0 0 !important;
	}
	.button-variable-item {
		width: auto !important;
		padding: 5px 15px !important;
		background: #efefef !important;
		border-radius: 0 !important;
		color: #989898;
		box-shadow: none !important;
		border: 3px solid #efefef;
		position: relative;
		&.selected {
			border-color: #a7c454 !important;
			color: #707070 !important;
			.variable-item-span-button:before {
				opacity: 1;
			}
		}
		.variable-item-span-button {
			position: relative;
			font-size: 14px !important;
			&:before {
				color: #a7c454;
				width: 15px;
				height: 15px;
				content: "\f00c";
				display: block;
				position: absolute;
				right: -10px;
				bottom: -3px;
				top: auto;
				left: auto;
				font-family: "Font Awesome 5 Free";
				font-weight: 600;
				text-align: center;
				line-height: 15px;
				font-size: 15px;
				opacity: 0;
				transition: all 0.5s ease;
			}
		}
	}
	.woo-variation-swatches-stylesheet-enabled
		.variable-items-wrapper
		.variable-item:not(.radio-variable-item) {
		&:hover {
			box-shadow: none !important;
		}
		&.selected {
			box-shadow: none !important;
		}
	}
	ul.et_pb_tabs_controls {
		background-color: #ffffff !important;
		li a {
			padding: 10px 30px 10px !important;
			color: #909090 !important;
		}
	}
	&.impact {
		p {
			color: #6e8b2e !important;
		}
		.gform_body {
			.gfield label.gfield_label {
				color: #ffffff !important;
			}
			div.ginput_container {
				input[type="text"],
				select {
					border-bottom: 1px solid #ffffff !important;
					color: #efefef !important;
				}
			}
			textarea {
				border: 1px solid #ffffff !important;
			}
		}
		.gform_button {
			background: #ffffff !important;
			color: #9ebe49 !important;
			&:hover {
				background: #ffffff !important;
				color: #9ebe49 !important;
			}
		}
		.button-variable-item {
			background: #6e8b2e !important;
			color: #efefef;
			border: 3px solid #6e8b2e;
			&.selected {
				border-color: #ffffff !important;
				color: #efefef !important;
			}
			.variable-item-span-button:before {
				color: #ffffff;
			}
		}
		.instruction {
			display: none;
		}
		#field_49_10 {
			display: none;
			&.exposed {
				display: block;
			}
		}
		ul#input_49_9 {
			li {
				display: inline-block;
				width: 25%;
				box-sizing: border-box;
				padding: 2.5px;
				label {
					padding: 10px;
					text-align: center;
					background: #6e8b2e;
					color: #ffffff !important;
					display: block;
					padding-left: 10px !important;
					margin-top: 0;
					margin-left: 0;
					border: 2px solid #6e8b2e;
					transition: all 0.5s ease;
					font-size: 16px;
					:before {
						color: #ffffff;
						width: 15px;
						height: 15px;
						content: "\f00c";
						display: block;
						position: absolute;
						right: 3px;
						bottom: 3px;
						top: auto;
						left: auto;
						font-family: "Font Awesome 5 Free";
						font-weight: 600;
						text-align: center;
						line-height: 15px;
						font-size: 15px;
						opacity: 0;
						transition: all 0.5s ease;
					}
				}
				input[type="radio"]:checked + label {
					border-color: #ffffff;
					:before {
						opacity: 1;
					}
				}
			}
		}
		&.v2 {
			.gform_button {
				background: transparent !important;
				color: #ffffff !important;
				border: 2px solid #ffffff !important;
				text-transform: uppercase;
				padding-top: 12px !important;
				padding-bottom: 12px !important;
				font-size: 18px !important;
				font-family: din !important;
				min-width: 220px;
			}
			.single_add_to_cart_button.button.alt.gform_button:hover {
				background: #ffffff !important;
				color: #a7c454 !important;
				border-color: #fff !important;
			}
			.gform_body {
				li#field_49_9 label.gfield_label {
					font-size: 24px !important;
					margin-bottom: 15px !important;
					display: none !important;
				}
				input#input_49_10 {
					font-size: 48px !important;
					height: 50px !important;
				}
			}
			ul#gform_fields_49 {
				margin-bottom: 0 !important;
				padding-bottom: 0 !important;
			}
			ul#input_49_9 li {
				@include max-screen(md) {
					width: 50%;
				}
			}
		}
	}
}
