#partners-carousel {
	.partner {
		text-align: left;
		.featured-image {
			width: 100%;
			padding: 50% 0;
			display: block;
			background-color: #e8f6fa;
			position: relative;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		h3 {
			color: #a7c454;
			font-size: 24px;
			font-family: din;
			font-weight: bold;
			display: block;
			margin-top: 10px;
			margin-bottom: 0;
			padding-bottom: 0;
			text-transform: none;
		}
		h4 {
			margin-top: 10px;
			font-size: 18px;
			font-family: din;
			display: block;
			margin-bottom: 0;
			padding-bottom: 0;
			text-transform: none;
		}
	}
	.blank-for-navigation {
		width: 100%;
		padding: 50% 0;
		display: block;
		background-color: #e8f6fa;
		position: relative;
		h3 {
			position: absolute;
			top: 50%;
			left: 50%;
			font-family: din;
			color: #506b6f;
			font-size: 16px;
			font-weight: bold;
			display: block;
			align-items: center;
			margin-bottom: 0;
			text-align: center;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			&:before {
				position: relative;
				content: "\f03a";
				width: 50px;
				min-width: 50px;
				height: 50px;
				border: 2px solid #ffffff !important;
				background-color: #ffffff;
				border-radius: 50px !important;
				text-align: center;
				line-height: 46px;
				box-sizing: border-box;
				margin-left: 0 !important;
				font-family: "Font Awesome 5 Free";
				font-weight: 600;
				font-size: 18px;
				color: #67d5e3;
				transition: all 0.5s ease;
				display: inline-block;
				margin-bottom: 20px;
			}
			span {
				display: block;
				text-align: center;
				text-transform: none !important;
			}
		}
		&:hover {
			h3:before {
				color: #0192a5;
			}
		}
	}
}
.partner-products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100% !important;
	&:before {
		height: 1px;
		content: "";
		background-color: #fff;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 99;
	}
	.partner-product {
		padding: 40px 30px 20px 30px;
		width: 33.3%;
		text-align: center;
		border-right: 1px solid #ccc;
		border-top: 1px solid #ccc;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		position: relative;
		@include max-screen(md) {
			width: 50%;
		}
		a {
			&:after {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: #909090;
				opacity: 0;
				content: "";
				transition: all 0.5s ease;
			}
			&:before {
				position: absolute;
				content: "\f002";
				width: 50px;
				min-width: 50px;
				height: 50px;
				border: 2px solid #ffffff !important;
				background-color: #ffffff;
				border-radius: 50px !important;
				text-align: center;
				line-height: 46px;
				box-sizing: border-box;
				margin-left: 0 !important;
				font-family: "Font Awesome 5 Free";
				font-weight: 600;
				font-size: 21px;
				color: #a7c454;
				transition: all 0.5s ease;
				display: inline-block;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				z-index: 1;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				opacity: 0;
			}
			&:hover {
				&:before {
					opacity: 1;
				}
				&:after {
					opacity: 0.2;
				}
			}
		}
		&:nth-child(3n + 0) {
			border-right: 0;
			@include max-screen(md) {
				border-right: 1px solid #ccc;
			}
		}
		&:nth-child(2n + 0) {
			@include max-screen(md) {
				border-right: 0;
			}
		}
		&:nth-child(n + 9) {
			display: none;
		}
		img {
			margin-bottom: 15px;
		}
		h3 {
			font-family: din;
			font-size: 18px;
			font-weight: bold;
			color: #67d5e3;
			margin-bottom: 0;
			text-transform: none;
			display: none;
		}
		h4 {
			font-family: din;
			font-size: 14px;
			color: #506b6f;
			margin-bottom: 0;
			text-transform: none;
		}
	}
}
#testimonies {
	.owl-nav {
		margin-top: 30px;
		display: inline-block;
		width: auto;
		@include max-screen(lg) {
			display: none;
		}
	}
	.owl-dots {
		display: inline-block;
		width: auto;
		text-align: left;
		margin-left: 30px;
		.owl-dot.active span:before {
			color: #e8f6fa;
		}
		@include max-screen(lg) {
			display: block;
			width: 100%;
			text-align: center;
			margin-left: 0;
		}
	}
}
