.products-carousel {
  .item {
    text-align: left;
    .featured-image {
      width: 100%;
      padding: 50% 0;
      display: block;
      background-color: #e8f6fa;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
    }
    h3 {
      color: #3cb6c6 !important;
      font-size: 21px;
      font-family: din;
      font-weight: normal;
      display: block;
      margin-top: 10px;
      margin-bottom: 0;
      padding-bottom: 0;
      text-transform: none;
    }
    p.detail-block {
      margin-top: 5px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    span {
      &.price {
        font-size: 16px !important;
        color: #506b6f !important;
        font-weight: 500;
      }
      &.kg {
        font-size: 16px;
        color: #a7c454;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
  .blank-for-navigation {
    width: 100%;
    padding: 50% 0;
    display: block;
    background-color: #e8f6fa;
    position: relative;
    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: din;
      color: #506b6f;
      font-size: 16px;
      font-weight: bold;
      display: block;
      align-items: center;
      margin-bottom: 0;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      &:before {
        position: relative;
        content: "\f03a";
        width: 50px;
        min-width: 50px;
        height: 50px;
        border: 2px solid #ffffff !important;
        background-color: #ffffff;
        border-radius: 50px !important;
        text-align: center;
        line-height: 46px;
        box-sizing: border-box;
        margin-left: 0 !important;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 18px;
        color: #67d5e3;
        transition: all 0.5s ease;
        display: inline-block;
        margin-bottom: 20px;
      }
      span {
        display: block;
        text-align: center;
        text-transform: none !important;
      }
    }
    &:hover {
      h3 {
        &:before {
          color: #0192a5;
        }
      }
    }
  }
}

.snippets-right .et_pb_row,
.snippets-left .et_pb_row,
.more-products .et_pb_row {
  display: flex;
  align-items: center;
  @include max-screen(lg) {
    display: block;
  }
}

.product-snippets {
  .owl-nav {
    position: relative;
    top: -70px;
    margin-left: 30px;
    display: inline-block;
    @include max-screen(lg) {
      display: none;
    }
  }
  .owl-dots {
    position: relative;
    top: -70px;
    margin-left: 20px;
    display: inline-block;
    .owl-dot {
      span:before {
        color: #ffffff;
      }
      &.active {
        span:before {
          color: #67d5e3;
        }
      }
    }
    @include max-screen(lg) {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  .owl-nav-trigger {
    &:before {
      color: #67d5e3;
      background-color: #f3f3f3;
    }
    &:hover {
      &:before {
        color: #f3f3f3;
        background-color: #67d5e3;
      }
    }
  }
  .owl-stage-outer {
    border-radius: 10px;
  }
}

.snippets-right {
  .product-snippets {
    .owl-stage-outer {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .owl-dots {
      @include max-screen(lg) {
        float: right;
      }
    }
  }
  span.snippets-title {
    @include max-screen(lg) {
      text-align: right;
    }
  }
}
.snippets-left {
  .product-snippets {
    .owl-stage-outer {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  span.snippets-title {
    margin-left: 30px;
    @include max-screen(lg) {
      text-align: left;
    }
  }
}
span.snippets-title {
  color: #939393;
  display: inline-block;
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #939393;
    margin-right: 10px;
    margin-top: -10px;
    display: inline-block;
  }
  @include max-screen(lg) {
    margin-left: 30px;
    margin-right: 30px;
  }
}

ul.product-stats {
  list-style: none !important;
  margin-top: 30px;
  li {
    font-size: 14px;
    line-height: 20px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    display: block;
    &:before {
      width: 20px;
      height: 20px;
      content: "\f111";
      display: block;
      position: absolute;
      left: 0;
      top: 5px;
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      text-align: center;
      line-height: 20px;
      font-size: 20px;
      opacity: 1;
      transition: all 0.5s ease;
    }
  }
}
a.et-pb-button.pb-see-all-products:after {
  display: inline-block;
  margin-left: 10px;
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}
span.pb-product-kg {
  color: #a7c454;
  font-weight: bold;
  @include max-screen(lg) {
    display: none;
  }
}
ul.pb-product-variant-selector {
  list-style: none;
  padding: 0 !important;
  margin: 0;
  text-align: left;
  display: block;
  @include max-screen(lg) {
    text-align: center;
  }
  li {
    border-radius: 2px;
    min-width: 100px;
    max-width: 1920px;
    width: auto;
    margin-right: 15px;
    border: 2px solid #cccccc;
    display: inline-block;
    @include max-screen(lg) {
      margin-right: 5px;
      margin-left: 5px;
    }
    &.current {
      border-color: #3cb6c6;
    }
    a {
      padding: 10px 15px;
      line-height: 30px;
      font-size: 14px;
      color: #506b6f !important;
      display: block;
      text-align: center;
    }
  }
}
body.et-db #et-boc .et-l  a.et_pb_button.pb-shipping-rate-trigger {
  background-color: transparent !important;
  color: #3cb6c6 !important;
  font-size: 0.84em !important;
  font-weight: 500 !important;
  min-width: 0 !important;
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  padding-left: 35px !important;
  &:hover {
    color: #0192a5 !important;
    padding: 0 !important;
    font-size: 0.84em !important;
    font-weight: 500 !important;
    padding-left: 35px !important;
    min-width: 0 !important;
    position: relative;
  }
  &:before {
    content: "\f0d1" !important;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    display: inline-block !important;
    visibility: visible !important;
    opacity: 1 !important;
    margin-left: 0 !important;
    left: 0;
    top: 3px;
  }
  &:hover:before {
    content: "\f0d1" !important;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    display: inline-block !important;
    visibility: visible !important;
    opacity: 1 !important;
    margin-left: 0 !important;
    left: 0;
    top: 3px;
  }
}
