.registration-sf {
  .gform_wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }
  .gform_body {
    .gfield label.gfield_label {
      font-size: 13px !important;
      color: #ffffff !important;
      font-weight: 600 !important;
      .gfield_required {
        display: none;
      }
    }
    div.ginput_container {
      margin-top: 10px !important;
      position: relative;
      input[type="text"],
      select {
        background: transparent !important;
        border: 0 !important;
        border-bottom: 1px solid #ffffff !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 5px !important;
        padding-top: 0 !important;
        color: #ffffff !important;
        height: 30px !important;
        margin: 0;
        option {
          color: #466165 !important;
        }
      }
      .address_country {
        width: 100% !important;
        padding-right: 0 !important;
        label {
          display: none !important;
        }
      }
    }
  }
  .gform_footer {
    text-align: center !important;
    button {
      border: 0;
      box-shadow: none;
      border-radius: 25px;
      padding: 10px 25px;
      background-color: #3cb6c6 !important;
      font-size: 17px;
      &:hover {
        border-radius: 25px !important;
        padding: 10px 25px !important;
        border: 0 !important;
        &:after {
          display: none;
        }
      }
    }
  }
}
