.sb-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  direction: ltr;
  width: 100%;
  background-color: #ffffff;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
}

.sb-container .sb-wrap {
  width: 50%;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sb-container .sb-wrap.left {
  padding: 70px;
}

.sb-container.one .sb-wrap.left {
  padding-right: 0;
}

.sb-container .sb-wrap.right {
  background-position: center !important;
  background-size: cover !important;
}

.sb-container .sb-header {
  width: 100%;
  margin-bottom: 20px;
}

.sb-container .sb-sub-header {
  width: 100%;
  margin-bottom: 50px;
}

.sb-container .sb-sub-header span.sb-logo,
.sb-container .sb-header span.sb-logo {
  display: inline-block;
  margin-right: 40px;
}

.sb-container .sb-sub-header span.sb-logo:last-child,
.sb-container .sb-header span.sb-logo:last-child {
  margin-right: 0;
}

.sb-container .sb-sub-header span.sb-logo img,
.sb-container .sb-header span.sb-logo img {
  max-height: 35px;
  width: auto;
  max-width: 120px !important;
}

.sb-container .sb-header span.sb-logo.sb-main-logo {
  display: block;
}

.sb-container .sb-header span.sb-logo.sb-main-logo img {
  height: 70px;
  max-height: 70px;
  margin-bottom: 0;
  max-width: 300px !important;
}

.sb-container.one.thank-you {
  background-image: url("https://www.plasticbank.com/wp-content/uploads/Frame-Mockup-Scene-2.jpg");
}

.sb-container.one h1 {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.sb-container.one p {
  color: #ffffff;
  font-size: 18px;
}

.sb-container.one a.button {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif !important;
  font-size: 16px !important;
  background: transparent !important;
  text-decoration: underline !important;
  color: #6cd5e2 !important;
  font-weight: bold !important;
  margin-top: 40px;
  margin-left: 40px;
  padding: 0 !important;
}

.sb-container.two .sb-wrap {
  background: #ffffff;
}

.sb-container.two h1 {
  color: #3cb6c6;
  font-size: 36px;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.sb-container.two p {
  color: #000000;
  font-size: 18px;
}

.sb-container.two ul {
  padding-left: 15px;
  color: #000000;
  margin-top: 20px;
  padding-bottom: 0;
}

.sb-container .sb-content article {
  margin-bottom: 0;
}

.sb-container.one a.button.sb-form-trigger,
.sb-container.two a.button {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif !important;
  font-size: 16px !important;
  background: transparent !important;
  color: #3cb6c6 !important;
  font-weight: bold !important;
  margin-top: 40px;
  padding: 0 !important;
  border: 2px solid #3cb6c6 !important;
  padding: 15px 30px !important;
  text-transform: uppercase !important;
  border-radius: 60px !important;
  transition: all 0.5s ease;
  text-decoration: none !important;
  margin-left: 0;
}

.sb-container.one a.button.sb-form-trigger,
.sb-container.two a.button:hover,
.sb-form-open .sb-container.two a.button,
.sb-container.two a.button:active,
.sb-container.one a.button.sb-form-trigger:hover,
.sb-form-open .sb-container.one a.button.sb-form-trigger,
.sb-container.one a.button.sb-form-trigger:active {
  background-color: #3cb6c6 !important;
  color: #ffffff !important;
}

.sb-form-container {
  width: calc(50% - 120px);
  position: fixed;
  right: calc(120px - 50%);
  top: 50px;
  bottom: 50px;
  background: #3cb6c6;
  z-index: 999999;
  padding: 70px;
  transition: all 0.5s ease;
  overflow-y: scroll;
}

.sb-form-container .sb-form-control {
  display: block;
  margin-top: 10px;
  margin-bottom: -10px;
  text-align: center;
}

.sb-form-container .sb-form-control a {
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
}

.sb-form-open .sb-form-container {
  right: 0;
}

.sb-form-container.open {
  right: 0;
}

.sb-form-container h2 {
  font-size: 12px;
  color: #ffffff;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.sb-form-container p {
  font-size: 11px;
  color: #ffffff;
}

.sb-form-container .gform_wrapper {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.sb-form-container .gform_body .gfield label.gfield_label {
  font-size: 12px !important;
  color: #ffffff !important;
  font-weight: 400 !important;
}

.sb-form-container .gform_body .gfield label.gfield_label .gfield_required {
  display: none;
}

.sb-form-container .gform_body div.ginput_container {
  margin-top: 0 !important;
}

.sb-form-container .gform_body div.ginput_container input[type="text"],
.sb-form-container .gform_body div.ginput_container select {
  background: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid #ffffff !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 5px !important;
  padding-top: 0 !important;
  color: #ffffff !important;
  height: 30px !important;
  margin: 0;
  border-radius: 0 !important;
}
.sb-form-container .gform_body div.ginput_container .address_country select {
  margin-top: 2px !important;
  border-radius: 0 !important;
}
.sb-form-container .gform_body div.ginput_container select option {
  color: #466165 !important;
}
.sb-form-container .address_country {
  width: 100% !important;
}
.sb-form-container .ginput_container_creditcard label {
  font-size: 10px;
  color: #ffffff !important;
}
.sb-form-container .ginput_cardinfo_right {
  padding-left: 4px;
}
.sb-form-container .gfield_price {
  display: none !important;
}

.sb-form-container .gform_body div.ginput_container .gfield_checkbox label {
  color: #ffffff !important;
  font-size: 12px !important;
}

.sb-form-container .gform_body div.ginput_container .gfield_checkbox label.gfield_label {
  display: none !important;
}

.sb-form-container .gform_body #field_38_5,
.sb-form-container .gform_body #field_38_4 {
  width: 50% !important;
  display: inline-block;
}

.sb-form-container .gform_body .address_country label {
  display: none !important;
}

.sb-form-container .gform_body #field_38_7 {
  margin-top: 0 !important;
}

.sb-form-container .gform_body #field_38_6 label.gfield_label {
  display: none !important;
}

.sb-form-container .gform_body #field_38_7 label.gfield_label {
  display: none !important;
}

.sb-form-container .gform_footer {
  text-align: center !important;
}

.sb-form-container .gform_footer button {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif !important;
  font-size: 16px !important;
  background: #ffffff !important;
  color: #3cb6c6 !important;
  font-weight: bold !important;
  padding: 0 !important;
  border: 0 !important;
  padding: 15px 30px !important;
  text-transform: uppercase !important;
  border-radius: 60px !important;
}

.sb-form-container .gform_footer button:hover {
  color: #3cb6c6 !important;
}

/* SB Thank You */

.sb-main-section {
  width: 100%;
  display: block;
  padding-bottom: 120px;
  overflow: hidden;
}

.sb-main-section h1 {
  width: 50%;
  box-sizing: border-box;
  padding: 50px 70px !important;
  color: #3cb6c6 !important;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 42px;
}

.sb-main-section .sb-main-container {
  display: block;
  width: 100%;
  background-color: #ffffff;
  background-position: center !important;
  background-size: cover !important;
  float: left;
}

.sb-main-section .sb-main-container .sb-wrap.left {
  padding: 70px;
  width: 67%;
  box-sizing: border-box;
  float: right;
}

.sb-main-section .sb-main-container .sb-wrap.right {
  width: 33%;
  padding: 70px;
  background: #3cb6c6;
  color: #ffffff;
  box-sizing: border-box;
  float: right;
}

.sb-main-section .sb-main-container .sb-wrap.right h2 {
  font-size: 16px;
  color: #ffffff;
}

.sb-main-section .sb-main-container .sb-option {
  width: 100%;
  box-sizing: border-box;
  padding-left: 50px;
  position: relative;
  margin-bottom: 70px;
  float: left;
}

.sb-main-section .sb-main-container h1 {
  display: none;
}

.sb-main-section .sb-main-container .sb-option:last-child {
  margin-bottom: 0;
}

.sb-main-section .sb-main-container .sb-option i {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  color: #3cb6c6;
}

.sb-main-section .sb-main-container .sb-option .sb-option-content {
  width: 100%;
  float: left;
}

.sb-main-section .sb-main-container .sb-option .sb-option-content p {
  width: calc(100% - 280px);
  margin-right: 70px;
  float: left;
  margin-top: -5px;
}

.sb-main-section .sb-main-container .sb-option .sb-option-content a.button {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif !important;
  font-size: 14px !important;
  background: transparent !important;
  color: #3cb6c6 !important;
  font-weight: bold !important;
  margin-top: 0;
  padding: 0 !important;
  border: 2px solid #3cb6c6 !important;
  padding: 10px 20px !important;
  text-transform: uppercase !important;
  border-radius: 60px !important;
  transition: all 0.5s ease;
  display: inline-block !important;
  width: 210px !important;
  box-sizing: border-box !important;
  float: left !important;
}

.sb-main-section .sb-main-container .sb-option .sb-option-content a.button:hover,
.sb-main-section .sb-main-container .sb-option .sb-option-content a.button:active {
  background-color: #3cb6c6 !important;
  color: #ffffff !important;
}

@media screen and (max-width: 768px) {
  .sb-container .sb-header {
    position: fixed;
    padding: 15px;
    padding-bottom: 5px;
    margin-bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #ffffff;
    z-index: 999999;
    text-align: center;
  }

  .sb-container .sb-sub-header {
    position: fixed;
    padding: 15px;
    padding-top: 10px;
    margin-bottom: 0;
    left: 0;
    right: 0;
    top: 60px;
    background: #ffffff;
    z-index: 999999;
    text-align: center;
  }

  .sb-container .sb-header span.sb-logo.sb-main-logo img {
    height: 40px;
  }

  .sb-container .sb-wrap {
    width: 100%;
    justify-content: flex-end;
  }

  .sb-container .sb-wrap.left {
    padding: 30px;
    background: transparent;
    position: relative;
    z-index: 1;
  }

  .sb-container.one .sb-wrap.left {
    padding-right: 30px;
  }

  .sb-container .sb-wrap.right {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .sb-container.one {
    padding-top: 135px;
  }

  .sb-container.one.thank-you {
    background-image: url("https://www.plasticbank.com/wp-content/uploads/Hai-David-Katz.jpg");
    padding-top: 70%;
    margin-top: 135px;
  }

  .sb-main-section {
    padding-bottom: 0;
  }

  .sb-main-section h1 {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 30px !important;
    font-size: 27px;
    line-height: 35px;
    display: none;
  }

  .sb-container.two h1 {
    color: #ffffff;
  }

  .sb-container.two p {
    color: #ffffff;
  }

  .sb-container.two ul {
    color: #ffffff;
  }

  .sb-container.one a.button {
    margin-left: 0;
    display: block;
    text-align: center;
    width: 100%;
  }

  .sb-container.two a.button {
    background-color: #3cb6c6 !important;
    color: #ffffff !important;
    width: 100%;
  }

  .sb-container.one a.button.sb-form-trigger {
    background-color: #3cb6c6 !important;
    color: #ffffff !important;
    width: 100%;
  }

  .sb-main-section .sb-main-container h1 {
    display: block;
    padding: 30px 0 !important;
    margin-bottom: 30px;
  }

  /*
  .sb-main-section .sb-main-container{
    display: flex;
    flex-wrap: wrap;
    direction: ltr;
    width: 100%;
    background-color: #ffffff;
    background-position: center !important;
    background-size: cover !important;
  }*/

  .sb-main-section .sb-main-container .sb-wrap.left {
    padding: 30px;
    width: 100%;
  }

  .sb-main-section .sb-main-container .sb-wrap.right {
    width: 100%;
    padding: 30px;
  }
  .sb-main-section .sb-main-container .sb-wrap.right h2 {
    font-size: 16px;
  }

  .sb-main-section .sb-main-container .sb-option {
    margin-bottom: 60px;
  }

  .sb-main-section .sb-main-container .sb-option:last-child {
    margin-bottom: 0;
  }

  .sb-main-section .sb-main-container .sb-option .sb-option-content {
    width: 100%;
    float: left;
  }

  .sb-main-section .sb-main-container .sb-option .sb-option-content p {
    width: 100%;
    display: block;
    margin-right: 0;
  }

  .sb-main-section .sb-main-container .sb-option .sb-option-content a.button {
    width: auto !important;
    margin-top: 30px;
  }

  .sb-form-container {
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    bottom: -100%;
    top: 100%;
    transform: none;
    z-index: 999999;
    padding: 30px;
    transition: all 0.5s ease;
    box-sizing: border-box;
  }

  .sb-form-container .gform_body #field_38_5,
  .sb-form-container .gform_body #field_38_4 {
    width: 100% !important;
  }

  .sb-form-open .sb-form-container {
    bottom: 0;
    top: 70px;
  }

  .sb-form-container.open {
    bottom: 0;
    top: 70px;
  }
}
