.social-plasctic {
  .metaslider {
    .caption-wrap {
      position: relative;
      padding-left: 80px;
      background: transparent;
      opacity: 1;
    }
    .caption {
      padding: 20px 20px 20px 50px;
      position: relative;
      background: #e3e3e3;
      color: #466165;
    }
    .flexslider {
      .flex-control-nav {
        position: absolute;
        bottom: 5px;
        left: 0px;
        width: 100px;
        text-align: left;
        a {
          width: 8px;
          height: 8px;
          margin: 0 3px;
        }
      }
    }
    .flex-control-nav {
      position: absolute;
      bottom: 5px;
      left: 0px;
      width: 100px;
      text-align: left;
    }
  }
  .slider-percentage {
    position: absolute;
    top: -50px;
    left: -50px;
    background: grey;
    padding: 0;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 32px;

    &.green {
      background-image: url(https://www.plasticbank.com/wp-content/themes/plasticbank/assets/images/pie-chart-green.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.blue {
      background-image: url(https://www.plasticbank.com/wp-content/themes/plasticbank/assets/images/pie-chart-blue.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.pb-sp-application-form {
  position: relative;
  #gform_fields_79 {
    display: flex;
    border-radius: 8px;
    position: relative;
    #field_79_24 {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: #f7f7f7;
      margin-top: 0;
      left: 35%;
      right: 0;
      display: flex;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      flex-wrap: wrap;
      align-items: center;
      padding: 5.6% !important;
      transition: all 0.5s ease;
      opacity: 0;
      visibility: hidden;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      p {
        margin-top: 0 !important;
        font-size: 1em !important;
      }
    }
    .gfmc-column {
      padding: 2.7% 5.6%;
      &.gfmc-row-1-col-1-of-3 {
        background: #ffffff;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        width: 35% !important;
      }
      &.gfmc-row-1-col-2-of-3 {
        background: #f7f7f7;
        width: 42% !important;
      }
      &.gfmc-row-1-col-3-of-3 {
        background: #f7f7f7;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        padding-left: 0;
        width: 23% !important;
      }
    }
  }
  .gform_footer {
    visibility: hidden;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    height: 0 !important;
  }
  .gf-recaptcha-div, .validation_error {
    display: none;
  }
  button.et_pb_button {
    width: 100% !important;
    background-color: #a7c454 !important;
    border-radius: 30px !important;
    min-width: 220px !important;
    text-align: center !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    box-sizing: border-box;
    font-weight: bold !important;
    font-size: 18px !important;
    text-decoration: none !important;
    text-transform: capitalize !important;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    &:hover {
      color: #ffffff !important;
      background-color: #6c9d40 !important;
    }
  }
  p {
    text-align: left !important;
    font-size: 0.7em !important;
    line-height: 1.4em !important;
    margin-top: 50px !important;
  }
  .gfield {
    padding-right: 0 !important;
    &#field_79_3 {
      margin-top: 10px;
      label.gfield_label {
        display: none;
      }
      .ginput_container {
        ul.gfield_radio {
          li {
            display: inline-block;
            width: auto;
            position: relative;
            overflow: hidden;
            margin-right: 10px;
          }
          input[type="radio"] {
            margin-top: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
            position: absolute;
            top: -20px;
            left: -20px;
            &:checked + label {
              background-color: #3cb6c6;
              border-color: #3cb6c6;
              color: #ffffff;
            }
          }
          label {
            display: block;
            border: 2px solid #ccc;
            padding: 5px 15px;
            color: #ccc;
            border-radius: 20px;
            margin: 0 0 0 0;
            max-width: 100%;
            width: 100% !important;
          }
        }
      }
    }
    &#field_79_6 {
      margin-top: 30px;
    }
    &#field_79_13 {
      label.gfield_label span.gfield_required {
        display: none;
      }
      .ginput_container {
        margin-top: 15px !important;
        input[type="text"] {
          height: 80px;
          font-size: 48px !important;
          color: #3cb6c6 !important;
          font-weight: bold;
        }
      }
      .instruction {
        display: none;
      }
    }
    label.gfield_label {
      font-size: 14px;
      color: #506b6f;
      text-transform: uppercase;
      span.gfield_required {
        color: #506b6f;
      }
    }
    .ginput_container {
      margin-top: 5px !important;
      &.ginput_complex {
        margin-top: 0 !important;
        span {
          margin-top: 0 !important;
          input {
            margin-top: 0 !important;
          }
        }
      }
      input[type="text"] {
        width: 100% !important;
        display: block !important;
        border-radius: 4px;
        height: 50px;
      }
      textarea {
        max-height: 100px;
        width: 100% !important;
        display: block !important;
        border-radius: 4px;
      }
      select {
        width: 100%!important;
        display: block;
        border-radius: 4px;
        height: 50px;
      }
    }
  }
  ul.pb-partnership-outcomes,
  .gform_wrapper
    form
    div.gform_body
    ul.gform_fields
    li.gfield.gfield_html
    ul.pb-partnership-outcomes {
    list-style: none !important;
    list-style-type: none !important;
    padding-left: 0 !important;
    margin: 15px 0 0 0 !important;
    padding-bottom: 0 !important;
    li {
      list-style: none !important;
      list-style-type: none !important;
      position: relative;
      padding: 6px 0 6px 50px;
    }
  }
  ul.pb-partnership-outcomes {
    li {
      span {
        &.pb-partnership-outcomes-number {
          font-size: 24px;
          color: #3cb6c6;
        }
        &.pb-partnership-outcomes-label {
          font-size: 14px;
        }
      }
      img {
        position: absolute;
        top: 1px;
        left: 0;
      }
    }
  }
  button.et_pb_button.mobile {
    display: none !important;
  }
}

@media (max-width: 980px) {
  .pb-sp-application-form{
    #gform_fields_79{
      flex-wrap: wrap;
      .gfmc-column{
        padding: 3.5% 8.4%;
      }
    
      .gfmc-column.gfmc-row-1-col-1-of-3{
        border-bottom-left-radius: 0;
        border-top-right-radius: 8px;
        width: 100% !important;
        z-index: 3;
      }
    
      #field_79_24{
        top: 30%;
        left: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
      }
    
      .gfmc-column.gfmc-row-1-col-2-of-3{
        background: #fff;
        width: 100% !important;
        padding-bottom: 0;
        padding-top: 0;
      }
    
      .gfmc-column.gfmc-row-1-col-3-of-3{
        background: #fff;
        padding-left: 8.4%;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 0;
        width: 100% !important;
      }
    }
    button.et_pb_button.mobile{
      display: inline-block !important;
    }
  
    button.et_pb_button.desktop{
      display: none !important;
    }
  
    p{
      text-align: center !important;
    }
  
    #gform_fields_83{
      #field_83_21{
        top: 50%;
        left: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
      }
    }
  }
}
