.team-member {
  text-align: left;
  .photo {
    width: 100%;
    padding: 70% 0;
    display: block;
    background-color: #e8f6fa;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .name {
    color: #a7c454;
    font-size: 24px;
    font-family: din;
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  .title {
    margin-top: 10px;
    font-size: 18px;
    font-family: din;
    display: block;
  }
  .blank-for-navigation {
    width: 100%;
    padding: 70% 0;
    display: block;
    background-color: #e8f6fa;
    position: relative;
    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: din;
      color: #506b6f;
      font-size: 16px;
      font-weight: bold;
      display: block;
      align-items: center;
      margin-bottom: 0;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      &:before {
        position: relative;
        content: "\f009";
        width: 50px;
        min-width: 50px;
        height: 50px;
        border: 2px solid #ffffff !important;
        background-color: #ffffff;
        border-radius: 50px !important;
        text-align: center;
        line-height: 46px;
        box-sizing: border-box;
        margin-left: 0 !important;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 18px;
        color: #67d5e3;
        transition: all 0.5s ease;
        display: inline-block;
        margin-bottom: 20px;
      }
      span {
        display: block;
        text-align: center;
        text-transform: none !important;
      }
    }
    &:hover {
      h3:before {
        color: #0192a5;
      }
    }
  }
}
.owl-carousel-team {
  &.show-nav {
    .owl-nav.disabled {
      display: block;
    }
    &.style-1 {
      padding-top: 50px;
      .owl-nav {
        display: block;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
