h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "nanami";
	line-height: 1;
	font-weight: normal;
	text-transform: none;
	letter-spacing: initial;
}
h1 {
	font-size: 36px;
	@include min-screen(md) {
		font-size: 40px;
	}
	@include min-screen(lg) {
		font-size: 48px;
	}
}
h2 {
	font-size: 32px;
	margin-bottom: 30px;
	@include min-screen(md) {
		font-size: 36px;
	}
	@include min-screen(lg) {
		font-size: 40px;
	}
}
h3 {
	font-size: 28px;
	margin-bottom: 20px;
	@include min-screen(md) {
		font-size: 32px;
	}
	@include min-screen(lg) {
		font-size: 36px;
	}
}
h4 {
	font-size: 24px;
	margin-bottom: 15px;
	@include min-screen(md) {
		font-size: 28px;
	}
	@include min-screen(lg) {
		font-size: 32px;
	}
}
h5 {
	font-size: 20px;
	margin-bottom: 10px;
	@include min-screen(md) {
		font-size: 24px;
	}
	@include min-screen(lg) {
		font-size: 38px;
	}
}
h6 {
	font-size: 18px;
	margin-bottom: 5px;
	@include min-screen(md) {
		font-size: 20px;
	}
	@include min-screen(lg) {
		font-size: 24px;
	}
}
body {
	font-family: din;
	line-height: 37px;
	font-size: 16px;
}
a {
	text-decoration: none;
}

select {
	-webkit-appearance: none; /* Webkit */
	-moz-appearance: none; /* FF */
	-ms-appearance: none; /* Edge */
	appearance: none; /* Future */
	font-size: inherit;
	background-repeat: no-repeat !important;
	background-position: right 5px center !important;
	background-size: 1em !important;
	background-image: url("../images/down-arrow.png") !important;
	padding: 10px 12px !important;
	text-transform: uppercase;
	font-size: 16px;
	font-family: din;
	letter-spacing: 1px;
	color: #466165;
	background-color: transparent;
	border: 1px solid #cccccc;
	margin-bottom: 0;
	max-height: 47px;
	&:active {
		background-image: url("../images/up-arrow-angle.png") !important;
	}
}
input[type="email"],
input[type="text"],
input[type="password"],
textarea {
	color: #466165;
	font-size: 16px;
	font-family: din;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 12px 12px;
	border: 1px solid #cccccc;
	background-color: transparent;
	margin-bottom: 0;
	text-transform: none;
	background-color: #fefefe;
	border-bottom: 2px solid #ccc !important;
	border-radius: 0;
	&::placeholder {
		color: rgba(70, 97, 101, 0.5);
		text-transform: none;
		font-family: din;
	}
}

select::-ms-expand {
	display: none;
}
p > a:link:not(.button),
p > a:visited:not(.button),
.lesson .et_pb_text_inner li a:link:not(.button),
.lesson .et_pb_text_inner li a:visited:not(.button) {
	text-decoration: underline !important;
	color: #3cb6c6 !important;
	outline: none !important;
}
sup, sub{
	font-size: 60%;
}

.transparent-button {
	padding-left: 0 !important;
	padding-right: 0 !important;
	background-color: transparent !important;
	min-width: 0 !important;
	&.play {
		position: relative;
		padding-left: 50px !important;
		font-size: 0 !important;
		min-height: 56px;
		&:before {
			position: absolute;
			content: "\f04b";
			width: 50px;
			height: 50px;
			border: 2px solid #ffffff !important;
			background-color: #ffffff;
			border-radius: 50px !important;
			text-align: center;
			line-height: 46px;
			box-sizing: border-box;
			margin-left: 0 !important;
			display: inline-block;
			opacity: 1 !important;
			left: 0;
			top: 6px;
			font-family: "Font Awesome 5 Free";
			font-weight: 600;
			font-size: 18px;
			color: #67d5e3;
			transition: all 0.5s ease;
			@include max-screen(md) {
				display: none !important;
			}
		}
		&:hover:before {
			color: #6c9d40;
		}
		@include max-screen(md) {
			padding-left: 30px !important;
			padding-right: 30px !important;
			border: 2px solid #ffffff !important;
			font-size: 18px !important;
		}
	}
}

a.et_pb_button {
	background-color: #67d5e3 !important;
	border-radius: 30px !important;
	min-width: 220px;
	text-align: center;
	padding-left: 30px !important;
	padding-right: 30px !important;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none !important;
	text-transform: none;
	/*
  text-decoration: none;
  min-width: 220px;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid transparent;
  */
	&:hover {
		background-color: #0192a5 !important;
		color: #fff !important;
	}
	&:active {
		background-color: #67d5e3 !important;
		color: #fff !important;
	}
	@include max-screen(lg) {
		width: 100%;
	}
	&.primary {
		background-color: #a7c454 !important;
		text-transform: uppercase;
		&:hover {
			background-color: #6c9d40 !important;
		}
	}
	&.secondary {
		&:active {
			background-color: #a7c454 !important;
			color: #fff !important;
		}
	}
	&.transparent-button {
		padding-left: 0 !important;
		padding-right: 0 !important;
		background-color: transparent !important;
		min-width: 0 !important;
		&.play {
			position: relative;
			padding-left: 50px !important;
			font-size: 0 !important;
			min-height: 56px;
			&:before {
				position: absolute;
				content: "\f04b";
				width: 50px;
				height: 50px;
				border: 2px solid #ffffff !important;
				background-color: #ffffff;
				border-radius: 50px !important;
				text-align: center;
				line-height: 46px;
				box-sizing: border-box;
				margin-left: 0 !important;
				display: inline-block;
				opacity: 1 !important;
				left: 0;
				top: 6px;
				font-family: "Font Awesome 5 Free";
				font-weight: 600;
				font-size: 18px;
				color: #67d5e3;
				transition: all 0.5s ease;
			}
			&:hover:before {
				color: #a7c454;
			}
			@include max-screen(md) {
				padding-left: 30px !important;
				padding-right: 30px !important;
				border: 2px solid #ffffff !important;
				font-size: 18px !important;
			}
		}
	}
	&.outlined {
		background-color: transparent !important;
		text-transform: uppercase;
		border: 2px solid #ffffff !important;
		&:hover {
			background-color: #ffffff !important;
		}
		&:active {
			background-color: #ffffff !important;
		}
	}
	&.transparent-cta {
		padding-left: 30px;
		padding-right: 30px;
		font-family: din;
		font-size: 18px;
		background-color: transparent !important;
		text-decoration: underline !important;
		@include max-screen(lg) {
			display: block;
			border: 2px solid #ffffff !important;
			text-decoration: none !important;
			padding-left: 25px;
			padding-right: 25px;
			font-size: 17px;
			margin-top: 30px;
		}
	}
}

a.video-thumb {
	display: block;
	position: relative;
	padding-top: 0;
	width: 100%;
	h3 {
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 15px 30px;
		padding-top: 20%;
		font-family: din;
		color: #ffffff;
		font-size: 18px;
		font-weight: bold;
		width: 100%;
		display: block;
		align-items: center;
		margin-bottom: 0;
		text-align: center;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: 1;
		&:before {
			position: relative;
			content: "\f04b";
			width: 50px;
			min-width: 50px;
			height: 50px;
			border: 2px solid #ffffff !important;
			background-color: #ffffff;
			border-radius: 50px !important;
			text-align: center;
			line-height: 46px;
			box-sizing: border-box;
			margin-left: 0 !important;
			font-family: "Font Awesome 5 Free";
			font-weight: 600;
			font-size: 18px;
			color: #a7c454;
			transition: all 0.5s ease;
			display: inline-block;
			margin-bottom: 20px;
		}
		span {
			display: block;
			text-align: center;
			text-transform: none;
			color: #ffffff !important;
		}
	}
	&:after {
		background: #000000;
		opacity: 0.27;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		content: "";
		z-index: 0;
	}
	&:hover {
		h3:before {
			color: #6c9d40;
		}
	}
}
a.owl-nav-trigger {
	&:before {
		font-family: "Font Awesome 5 Free";
		font-weight: 600;
		font-size: 23px;
		color: #67d5e3;
		content: "\f054";
		display: inline-block;
		cursor: pointer;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		border-radius: 40px;
		box-sizing: border-box;
		transition: all 0.5s ease;
		background-color: #f3fcff;
	}
	&.prev {
		&:before {
			content: "\f053";
		}
	}
	&.next {
		margin-left: 10px;
	}
	&:hover:before {
		background-color: #67d5e3;
		color: #f3fcff;
	}
}
article#post-63549 {
	padding-top: 30px !important;
}
.btn {
	color: inherit;
}
.owl-carousel {
	.owl-item .item .content-container {
		margin-top: 20px;
		h4 {
			font-size: 22px;
			text-align: center;
			padding: 0;
		}
		.excerpt {
			font-size: 20px;
			text-align: center;
		}
	}
	&.style-1 .owl-nav {
		margin-top: 0;
		button.owl-prev,
		button.owl-next {
			margin: 0;
			padding: 5px !important;
			border: 1px solid #466165 !important;
			border-radius: 0;
			color: #466165;
			&:hover {
				background: #dadada;
			}
		}
		button.owl-next {
			margin-left: 5px;
		}
	}
}
.owl-dots {
	margin-top: 20px;
	text-align: center;
	.owl-dot {
		margin-left: 5px;
		margin-right: 5px;
		span:before {
			font-family: "Font Awesome 5 Free";
			font-weight: 600;
			font-size: 11px;
			color: #e8f6fa;
			content: "\f111";
			line-height: 15px;
		}
		&.active {
			span:before {
				color: #67d5e3;
				font-size: 13px;
			}
		}
	}
}
.et_pb_section_video_bg {
	opacity: 0.7;
}
.comment-box {
	position: relative;
	&:before {
		position: absolute;
		top: -20px;
		content: "";
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 20px solid #3cb6c6;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		@include min-screen(lg) {
			display: none;
		}
	}
}
.et_pb_text {
	h2 {
		margin-bottom: 20px !important;
		text-transform: none;
	}
	h3 {
		text-transform: none;
		font-family: din;
	}
}
.addthis_tool {
	text-align: center;
}
.at-share-tbx-element {
	.at-share-btn {
		margin: 0 10px 10px 10px !important;
		&:hover,
		&:focus {
			transform: translateY(0) !important;
			.at-icon {
				fill: #67d5e3 !important;
			}
		}
	}
	.at-icon-wrapper {
		background-color: transparent !important;
		width: 25px !important;
		height: 25px !important;
		line-height: 25px !important;
		.at-label {
			display: none !important;
		}
		.at-icon {
			fill: #cccccc !important;
			width: 25px !important;
			height: 25px !important;
		}
	}
}
.et_pb_slider:hover {
	.et-pb-arrow-prev {
		left: 50px;
	}
	.et-pb-arrow-next {
		right: 50px;
	}
}

@include max-screen(lg) {
	.two-columns .et_pb_column {
		width: 50% !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.three-columns .et_pb_column {
		width: 33.33% !important;
	}
	.four-columns .et_pb_column {
		width: 25% !important;
	}
	.hero-ctas .et_pb_button {
		margin-left: 15px;
		margin-right: 15px;
	}
	.et_pb_text_13 h2 {
		font-size: 35px !important;
	}
}
/*
@include min-screen(lg) {
	.et_pb_section_6 .et_pb_row,
	.et_pb_section_4 .et_pb_row {
		display: flex;
		align-items: center;
	}
}
*/
.et_button_no_icon .et_pb_button,
.et_button_no_icon .et_pb_button:hover,
.et_button_no_icon.et_button_icon_visible.et_button_left .et_pb_button,
.et_button_no_icon.et_button_left .et_pb_button:hover,
.et_button_no_icon.woocommerce a.button.alt,
.et_button_no_icon.woocommerce-page a.button.alt,
.et_button_no_icon.woocommerce button.button.alt,
.et_button_no_icon.woocommerce button.button.alt.disabled,
.et_button_no_icon.woocommerce-page button.button.alt,
.et_button_no_icon.woocommerce-page button.button.alt.disabled,
.et_button_no_icon.woocommerce input.button.alt,
.et_button_no_icon.woocommerce-page input.button.alt,
.et_button_no_icon.woocommerce #respond input#submit.alt,
.et_button_no_icon.woocommerce-page #respond input#submit.alt,
.et_button_no_icon.woocommerce #content input.button.alt,
.et_button_no_icon.woocommerce-page #content input.button.alt,
.et_button_no_icon.woocommerce a.button,
.et_button_no_icon.woocommerce-page a.button,
.et_button_no_icon.woocommerce button.button,
.et_button_no_icon.woocommerce-page button.button,
.et_button_no_icon.woocommerce input.button,
.et_button_no_icon.woocommerce-page input.button,
.et_button_no_icon.woocommerce #respond input#submit,
.et_button_no_icon.woocommerce-page #respond input#submit,
.et_button_no_icon.woocommerce #content input.button,
.et_button_no_icon.woocommerce-page #content input.button,
.et_button_no_icon.woocommerce a.button.alt:hover,
.et_button_no_icon.woocommerce-page a.button.alt:hover,
.et_button_no_icon.woocommerce button.button.alt:hover,
.et_button_no_icon.woocommerce button.button.alt.disabled:hover,
.et_button_no_icon.woocommerce-page button.button.alt:hover,
.et_button_no_icon.woocommerce-page button.button.alt.disabled:hover,
.et_button_no_icon.woocommerce input.button.alt:hover,
.et_button_no_icon.woocommerce-page input.button.alt:hover,
.et_button_no_icon.woocommerce #respond input#submit.alt:hover,
.et_button_no_icon.woocommerce-page #respond input#submit.alt:hover,
.et_button_no_icon.woocommerce #content input.button.alt:hover,
.et_button_no_icon.woocommerce-page #content input.button.alt:hover,
.et_button_no_icon.woocommerce a.button:hover,
.et_button_no_icon.woocommerce-page a.button:hover,
.et_button_no_icon.woocommerce button.button:hover,
.et_button_no_icon.woocommerce-page button.button:hover,
.et_button_no_icon.woocommerce input.button:hover,
.et_button_no_icon.woocommerce-page input.button:hover,
.et_button_no_icon.woocommerce #respond input#submit:hover,
.et_button_no_icon.woocommerce-page #respond input#submit:hover,
.et_button_no_icon.woocommerce #content input.button:hover,
.et_button_no_icon.woocommerce-page #content input.button:hover,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce
	a.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page
	a.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce
	button.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce
	button.button.alt.disabled,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page
	button.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page
	button.button.alt.disabled,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce
	input.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page
	input.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce
	#respond
	input#submit.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page
	#respond
	input#submit.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce
	#content
	input.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page
	#content
	input.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce a.button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page
	a.button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce
	button.button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page
	button.button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce
	input.button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page
	input.button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce
	#respond
	input#submit,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page
	#respond
	input#submit,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce
	#content
	input.button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page
	#content
	input.button,
.et_button_no_icon.et_button_left.woocommerce a.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce-page a.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce button.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce button.button.alt.disabled:hover,
.et_button_no_icon.et_button_left.woocommerce-page button.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce-page
	button.button.alt.disabled:hover,
.et_button_no_icon.et_button_left.woocommerce input.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce-page input.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce #respond input#submit.alt:hover,
.et_button_no_icon.et_button_left.woocommerce-page
	#respond
	input#submit.alt:hover,
.et_button_no_icon.et_button_left.woocommerce #content input.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce-page
	#content
	input.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce a.button:hover,
.et_button_no_icon.et_button_left.woocommerce-page a.button:hover,
.et_button_no_icon.et_button_left.woocommerce button.button:hover,
.et_button_no_icon.et_button_left.woocommerce-page button.button:hover,
.et_button_no_icon.et_button_left.woocommerce input.button:hover,
.et_button_no_icon.et_button_left.woocommerce-page input.button:hover,
.et_button_no_icon.et_button_left.woocommerce #respond input#submit:hover,
.et_button_no_icon.et_button_left.woocommerce-page #respond input#submit:hover,
.et_button_no_icon.et_button_left.woocommerce #content input.button:hover,
.et_button_no_icon.et_button_left.woocommerce-page #content input.button:hover,
.woocommerce input.button,
.woocommerce input.button:hover {
	padding: 12px 30px !important;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}
