.map-container {
  height: 600px !important;
  &:hover {
    .map-hover-mask {
      display: block;
    }
  }
  &.full-width {
    width: 100%;
    height: 800px;
    position: relative;
    cursor: pointer;
  }
  iframe {
    width: 100% !important;
    height: 600px !important;
    position: relative;
    border: none;
  }
  .map-hover-mask {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    span {
      position: relative;
      float: left;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    img {
      width: 25px;
      padding-right: 15px;
    }
  }
}
.ds-carousel-section {
  width: 100%;
  overflow: hidden;
  .ds-carousel-row {
    @include max-screen(lg) {
      max-width: 1000vw !important;
    }
    @include max-screen(sm) {
      max-width: 1000vw !important;
    }
  }
}
.ds-carousel-row {
  overflow: hidden;
  width: 1000vw;
  max-width: 1000vw;
}
#ds-arrow-row {
  .et_pb_column {
    @include max-screen(lg) {
      width: 50% !important;
    }
  }
}
#ds-arrow-left,
#ds-arrow-right {
  color: #fff;
  background: gray;
  font-family: "ETModules";
  font-size: 30px;
  padding: 5px 30px;
  border-style: none;
  border-radius: 0;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    -webkit-box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.2);
  }
  &:active {
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2) inset;
  }
}
#ds-arrow-left {
  float: right;
  margin-right: 5px;
}
#ds-arrow-right {
  float: left;
  margin-left: 5px;
}
.ds-carousel-module {
  width: 33.3vw;
  padding: 0 5px;
  float: left;
  position: relative;
  margin-bottom: 0 !important;
  @include max-screen(sm) {
    width: 100vw;
  }
  @include max-screen(lg) {
    width: 33.33vw;
  }
  .column {
    float: left;
    width: 100% !important;
    margin-right: 0 !important;
  }
}
.ds-masonry-portfolio {
  .ds-portfolio-text {
    background: rgba(162, 162, 162, 0.3);
    border-radius: 10px;
  }
  .et_pb_module_header,
  .post-meta {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  }
}
.image-hover-row {
  .et_pb_column {
    overflow: hidden;
    .et_pb_image {
      margin: 0 !important;
    }
    .et_pb_text {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 30%;
      left: 0;
      text-align: center;
      z-index: 1;
      padding: 25px;
      opacity: 0;
      -webkit-transition: 0.3s all ease-out;
      transition: 0.3s all ease-out;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      h1,
      h2,
      h3,
      h4,
      h5 {
        color: #fff;
      }
    }
    &:hover {
      .et_pb_text {
        top: 0;
        opacity: 1;
      }
    }
  }
}

.et_bloom_form_footer p > a:link {
  color: #ffffff !important;
  text-decoration: none !important;
}
#love-credit-location {
  opacity: 1;
  transition: opacity 0.5s;
  min-width: 130px;
  display: inline-block;
  &.hide {
    opacity: 0 !important;
  }
}
.pum-theme-26119,
.pum-theme-lightbox {
  .pum-container {
    padding: 0 !important;
    border: 0 !important;
    box-shadow: 0px 0px 10px 0px rgba(2, 2, 2, 0.5);
  }
  .pum-content + .pum-close {
    top: 0;
    right: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: #3cb6c6;
    @include min-screen(md) {
      top: -20px;
      right: -20px;
      border: 0;
      border-radius: 50%;
      box-shadow: none;
      background-color: #cccccc;
      height: 40px;
      width: 40px;
      font-size: 30px;
    }
  }
}
.et_pb_portfolio_items h5 a {
  font-size: 22px;
}

.at-share-tbx-element {
  .at-share-btn {
    margin: 0 10px 10px 10px !important;
    &:focus,
    &:hover {
      transform: translateY(0) !important;
      .at-icon {
        fill: #67d5e3 !important;
      }
    }
  }
  .at-icon-wrapper {
    background-color: transparent !important;
    width: 25px !important;
    height: 25px !important;
    line-height: 25px !important;
    .at-label {
      display: none !important;
    }
    .at-icon {
      fill: #cccccc !important;
      width: 25px !important;
      height: 25px !important;
    }
  }
}
.country-manager-box {
  width: 100%;
  .image {
    width: 30%;
    display: inline-block;
    float: left;
  }
  .name {
    width: 70%;
    padding-left: 30px;
    display: inline-block;
    float: left;
  }
}
.lwa-loading {
  z-index: 999;
}
