@font-face {
  font-family: "nanami";
  src: url("../fonts/nanami.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "din";
  src: url("../fonts/DINPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "din";
  src: url("../fonts/DINPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "din";
  src: url("../fonts/DINPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "plasticbank";
  src: url("../fonts/pb/plasticbank.eot?omptma");
  src: url("../fonts/pb/plasticbank.eot?omptma#iefix") format("embedded-opentype"),
    url("../fonts/pb/plasticbank.ttf?omptma") format("truetype"),
    url("../fonts/pb/plasticbank.woff?omptma") format("woff"),
    url("../fonts/pb/plasticbank.svg?omptma#plasticbank") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "plasticbank-v2";
  src: url("../fonts/pb/plasticbank-v2.eot?5gixox");
  src: url("../fonts/pb/plasticbank-v2.eot?5gixox#iefix") format("embedded-opentype"),
    url("../fonts/pb/plasticbank-v2.ttf?5gixox") format("truetype"),
    url("../fonts/pb/plasticbank-v2.woff?5gixox") format("woff"),
    url("../fonts/pb/plasticbank-v2.svg?5gixox#plasticbank-v2") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "plasticbank-v3";
  src: url("../fonts/pb/plasticbank-v3.eot?omptma");
  src: url("../fonts/pb/plasticbank-v3.eot?omptma#iefix") format("embedded-opentype"),
    url("../fonts/pb/plasticbank-v3.ttf?omptma") format("truetype"),
    url("../fonts/pb/plasticbank-v3.woff?omptma") format("woff"),
    url("../fonts/pb/plasticbank-v3.svg?omptma#plasticbank") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
