footer {
  h4.title {
    font-size: 16px;
    color: #fff;
    letter-spacing: 1.2px;
    font-family: din;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 600;
  }
  a.icon {
    text-decoration: none;
  }
  &.et-l--footer .et_pb_row {
    max-width: 1280px;
  }
  .et_pb_section {
    &.footer-top {
      background-color: #3cb6c6 !important;
      .et_pb_text {
        color: #ffffff;
        h2 {
          color: #ffffff;
          font-size: 24px;
          text-transform: none;
          padding-bottom: 0;
        }
        a.et_pb_button {
          background-color: #67d5e3 !important;
          border-radius: 30px !important;
          min-width: 220px;
          text-align: center;
          padding-left: 30px !important;
          padding-right: 30px !important;
          padding-top: 12px !important;
          padding-bottom: 12px !important;
          box-sizing: border-box;
          font-weight: bold !important;
          font-size: 18px !important;
          text-decoration: none !important;
          text-transform: capitalize;
          margin-top: 30px;
          &:hover {
            background-color: #0192a5 !important;
          }
          &:active {
            background-color: #67d5e3 !important;
          }
          &.primary {
            background-color: #a7c454 !important;
            text-transform: uppercase;
            &:hover {
              background-color: #6c9d40 !important;
            }
            &:active {
              background-color: #a7c454 !important;
            }
          }
          &.outlined {
            background-color: transparent !important;
            border: 2px solid #ffffff !important;
            &:hover {
              background-color: #ffffff !important;
              color: #3cb6c6 !important;
            }
            &:active {
              background-color: #ffffff !important;
              color: #3cb6c6 !important;
            }
          }
        }
        @include max-screen(lg) {
          text-align: center;
        }
      }
      .footer-subscribe-form {
        .validation_error {
          display: none !important;
        }
        .gform_wrapper ul.gform_fields {
          display: flex;
          flex-wrap: wrap;
          @include min-screen(md) {
            li.gfield.gfield_error {
              padding-right: 16px !important;
            }
          }
        }
        .gform_fields {
          .gfield {
            width: 50%;
            display: inline-block;
            @include max-screen(lg) {
              width: 100%;
            }
            &:first-child {
              width: 35%;
              @include max-screen(lg) {
                width: 100%;
              }
            }
            &:last-child {
              width: 65%;
            }
            .gfield_label {
              display: none;
            }
            .ginput_container {
              margin-top: 0;
              input {
                width: 100%;
                border-color: #e8f6fa !important;
              }
            }
          }
        }
        .gform_footer {
          text-align: left;
          @include max-screen(lg) {
            text-align: center;
          }
          button {
            border-radius: 30px !important;
            min-width: 220px;
            text-align: center;
            padding-left: 30px !important;
            padding-right: 30px !important;
            padding-top: 12px !important;
            padding-bottom: 12px !important;
            box-sizing: border-box;
            font-weight: bold !important;
            font-size: 18px !important;
            text-decoration: none !important;
            text-transform: capitalize;
            background-color: transparent !important;
            border: 2px solid #ffffff !important;
            &:hover {
              background-color: #ffffff !important;
              color: #3cb6c6 !important;
            }
            &:active {
              background-color: #ffffff !important;
              color: #3cb6c6 !important;
            }
          }
        }
        .gf-recaptcha-div {
          display: none;
        }
      }
    }
    &.footer-bottom {
      background-color: #506b6f !important;
      padding-top: 25px;
      padding-bottom: 10px;
      .et_pb_row {
        padding: 0 0;
        &.mobile {
          padding-bottom: 15px;
        }
      }
      .et_pb_text {
        color: #ffffff;
      }
      .desktop {
        @include max-screen(lg) {
          display: none;
        }
        .et_pb_text.copy {
          font-size: 14px;
          color: #3cb6c6;
        }
      }
      .mobile {
        display: none;
        @include max-screen(lg) {
          display: block;
          .et_pb_row {
            padding-top: 25px;
            padding-bottom: 40px !important;
          }
        }
        .et_pb_text.copy {
          font-size: 12px;
          text-align: center;
        }
      }
    }
    
    ul.et_pb_social_media_follow{
      li {
        .follow_button {
          border-radius: 50px;
          background-color: #ffffff;
          &:before,
          &:after {
            display: none !important;
          }
        }
      }

      a {
        border-style: none;
        border-color: rgba(0, 0, 0, 0);
      }
    }
  }
  .et_pb_social_media_follow {
    a.icon,
    icon:before {
      transition: background-color 300ms ease 0ms, background-image 300ms ease 0ms,
        color 300ms ease 0ms;
      font-size: 18px;
      line-height: 32px;
      height: 32px;
      width: 32px;
    }
    .et_pb_social_icon {
      .icon {
        &:before {
          color: #3cb6c6;
        }
        &:hover .icon:before {
          color: #ffffff;
        }
      }
    }
    .icon {
      height: 32px;
      width: 32px;
    }
  }
  .et_pb_social_icon {
    margin-right: 7px !important;
    margin-left: 7px !important;
    a.icon {
      background-color: #ffffff !important;
      border-radius: 50px 50px 50px 50px;
    }
    &:hover a.icon {
      background-image: initial !important;
      background-color: #67d5e3 !important;
    }
  }
}
.footer-menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    li {
      display: inline-block;
      padding: 5px 10px;
      a {
        text-decoration: none;
        font-size: 13px !important;
        color: #ffffff;
      }
    }
  }
  &.center ul {
    text-align: center;
  }
}
.mobile {
  .footer-menu ul {
    text-align: center;
  }
}
.footer-widget {
  > .fwidget:first-of-type {
    margin-bottom: 0;
  }
}
#footer-widgets {
  padding: 70px 0 0;
  text-align: center;
  @include min-screen(md) {
    text-align: left;
  }
  @include max-screen(md) {
    text-align: center;
  }
  .widget_nav_menu {
    @include max-screen(md) {
      width: 100%;
    }
  }
  .footer-widget {
    .fwidget {
      margin-bottom: 17%;
    }
    li {
      padding-left: 0;
    }
  }
  a.button {
    color: #efefef;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    &.footer-login {
      background-color: #a7c454;
    }

    @include max-screen(md) {
      display: block;
      width: 100%;
    }
  }
  &.footer-login {
    background-color: #a7c454;
  }
  p.button-container span.separator {
    margin-left: 10px;
    margin-right: 10px;
    @include max-screen(md) {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-bottom: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  ul.app-download-button {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      float: left;
      width: 50%;
      @include max-screen(md) {
        display: block;
        width: 100%;
        margin-top: 15px;
      }

      &:before {
        display: none;
      }
      &:first-child {
        padding-right: 10px;
        @include max-screen(md) {
          padding-right: 0;
          margin-top: 0;
        }
      }
      &:last-child {
        padding-left: 10px;
        @include max-screen(md) {
          padding-left: 0;
        }
      }
    }
  }
}

.footer-brand {
  h4 {
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 17px;
  }
  img {
    margin-bottom: 20px;
  }
  ul.social-icons {
    list-style: 0;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: inline-block;
    li {
      float: left;
      margin: 0 5px;
      &:before {
        display: none;
      }
      a {
        display: inline-block;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        border-radius: 40px;
        background: #dfdfdf;
        transition: all 0.3s ease;
        &:hover {
          background: #67d5e3;
          color: #efefef;
          i {
            background: #67d5e3;
            color: #efefef;
          }
        }
        i {
          transition: all 0.3s ease;
        }
      }
    }
  }
}

#footer-bottom {
  .love-credit {
    float: right;
    font-size: 13px;
    color: #4592af;
    @include max-screen(md) {
      display: block;
      text-align: center;
      width: 100%;
      position: relative;
    }
    i {
      color: #f72b6d;
    }
  }
}
#footer-info {
  @include max-screen(md) {
    display: block;
    text-align: center;
    width: 100%;
    position: relative;
  }
}
.footer-user-control {
  width: 60px;
  height: 60px;
  color: #ffffff;
  line-height: 60px;
  text-align: center;
  border-radius: 60px;
  position: fixed;
  left: 15px;
  bottom: 60px;
  z-index: 9999999;
  display: none;
  background-color: #a7c454;
  font-size: 25px;

  &.logged-in {
    background-color: #3cb6c6;
  }
}

.footer-application-img {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: -5px;
}
.widget_nav_menu {
  .menu .menu-item {
    list-style: none;
    padding-left: 0;
    &:before {
      display: none;
    }
    ul {
      margin-top: 10px;
    }
    li {
      margin-bottom: 10px;
    }
  }
}
div#footer-bottom {
  padding: 30px 0 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

#the-footer {
  &.stickybottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
