.gamipress-earnings-pagination {
  text-align: center;
  .page-numbers {
    margin: 5px 7px;
    &.prev {
      float: left;
    }
    &.current {
      font-weight: bold;
    }
  }
}
.gamipress-earnings-pagination {
  text-align: center;
  .page-numbers {
    margin: 5px 7px;
    &.prev {
      float: left;
    }
    &.current {
      font-weight: bold;
    }
  }
}
.gamipress-required-achievements {
  padding-left: 40px;
}
#gamipress-achievements-container[class*="gamipress-columns"] > .gamipress-achievement,
.gamipress-user-points[class*="gamipress-columns"] > .gamipress-points,
.gamipress-points-types[class*="gamipress-columns"] > .gamipress-points-type,
.gamipress-ranks-container[class*="gamipress-columns"] .gamipress-rank {
  padding: 15px 0;
  border-bottom: 1px solid #e8e8e8;
}
.gamipress-achievement-attached {
  margin-top: -10px;
}
