.gform_fields {
  padding-left: 0 !important;
}

.gform_wrapper {
  display: block !important;
  .gfield_checkbox li {
    input[type="checkbox"] + label {
      padding-left: 5px !important;
      min-height: 20px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
    }
    input[type="radio"],
    input[type="checkbox"] {
      width: 14px !important;
      height: 14px !important;
      border: 1px solid #cccccc;
    }
  }
  #gform_wrapper_59 {
    .gf_page_steps {
      border-bottom: 0 !important;
      margin-bottom: 60px !important;
      span {
        &.gf_step_number {
          min-width: 40px;
          display: inline-block;
          text-align: center;
          border: 0 !important;
          color: #e8f6fa !important;
          background-color: #506b6f !important;
          margin-right: 10px !important;
          line-height: 40px;
          border-radius: 40px;
        }
        &.gf_step_label {
          font-size: 17px;
        }
        &:not(.ginput_price) {
          margin-top: 10px !important;
        }
      }
    }
    .ginput_container {
      span:not(.ginput_price) {
        margin-top: 10px !important;
      }
      .ginput_full.address_line_2 {
        display: none;
      }
      ul {
        #input_59_18 li label,
        #input_59_3 li label {
          font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif !important;
          text-transform: none !important;
          font-size: 13px !important;
        }
      }
    }
    .gform_page_footer {
      border-top: 0 !important;
      text-align: left;
      button {
        padding-left: 30px !important;
        padding-right: 30px !important;
        border-radius: 30px !important;
        background-color: #67d5e3 !important;
        color: #ffffff !important;
        min-width: 140px;
        :hover {
          background-color: #3cb6c6 !important;
        }
      }
    }
  }
}
.gf_left_half,
.gf_right_half {
  .ginput_container {
    margin-top: 0 !important;
  }
}

#gform_wrapper_53 {
  box-sizing: border-box;
  padding: 10px 30px 5px 30px;
  background-color: #efefef;
  border: 1px solid #cdcdcd;
}
#gform_page_56_1,
#gform_page_56_2,
#gform_page_60_1,
#gform_page_60_2 {
  .gform_page_footer {
    padding: 20px 0 0 0;
  }
}

.gform_footer {
  button {
    background-color: #9ebe49 !important;
    color: #fff !important;
  }
  input[type="submit"]:after {
    display: block !important;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(60, 182, 198, 0.2);
    border-radius: 100px;
    -webkit-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
  }
}
.full-address-field input,
.full-address-field select {
  margin-top: 16px !important;
}
@media only screen and (min-width: 641px){
  body .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
    max-width: 100% !important;
  }

  body .gform_wrapper.gform_validation_error .top_label input.medium, .gform_wrapper.gform_validation_error .top_label select.medium{
    width: 100%;
  }
}
