#top-header {
	background-color: #3cb6c6;
	.container {
		padding-top: 0;
		.top-bar-left {
			width: 50%;
			float: left;
			.wpml-ls-legacy-list-horizontal {
				padding-left: 0;
				padding-right: 0;
			}
		}
		.top-bar-right {
			width: 50%;
			float: left;
		}
	}
}
#top-header #top-header .container .top-bar-left {
	width: 50%;
	float: left;
}
#top-header .container #top-header .container .top-bar-right {
	width: 50%;
	float: left;
}

#main-header {
	.container.clearfix.et_menu_container {
		@include max-screen(md) {
			width: 80%;
		}
	}
	#mobile_menu.et_mobile_menu {
		.menu-item-has-children {
			position: relative;
			> a {
				background-color: transparent;
				font-weight: inherit;
			}
		}
		.sub-menu-toggle {
			position: absolute;
			z-index: 1;
			width: 60px;
			height: 60px;
			line-height: 60px;
			top: 0;
			right: 0;
			cursor: pointer;
			text-align: center;
			border-left: 1px solid #efefef;
			&::before {
				font-family: "ETmodules" !important;
				font-weight: normal;
				font-style: normal;
				font-variant: normal;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				line-height: 60px;
				font-size: 24px;
				text-transform: none;
				speak: none;
				content: "\33";
			}
			&.popped {
				&:before {
					content: "\32";
				}
				~ ul.sub-menu {
					display: block !important;
				}
			}
			&:first-child {
				display: none;
			}
			~ ul.sub-menu {
				display: none !important;
				padding-left: 0;
			}
		}
		li {
			a {
				padding: 20px;
				line-height: 20px;
			}
			li {
				padding-left: 0;
				li a {
					padding-left: 60px;
					padding-right: 20px;
				}
			}
			&.current-menu-item > a {
				font-weight: 700;
			}
		}
	}
}
#mobile_menu {
	@include max-screen(lg) {
		display: block !important;
		top: 0;
		right: 0;
		bottom: 0;
		position: fixed;
		z-index: 9998;
		overflow: scroll;
		border-top: none;
		padding-top: 80px !important;
		width: 80%;
		margin-left: 20%;
	}
}
.mobile_nav {
	&.closed {
		#mobile_menu {
			@include max-screen(lg) {
				background: rgba(255, 255, 255, 0.75) !important;
				-webkit-transform: translateX(100%);
				-moz-transform: translateX(100%);
				-ms-transform: translateX(100%);
				-o-transform: translateX(100%);
				transform: translateX(100%);
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				-webkit-transition: -webkit-transform 0.4s 0s;
				-moz-transition: -moz-transform 0.4s 0s;
				transition: transform 0.4s 0s;
			}
		}
	}
	&.opened {
		#mobile_menu {
			@include max-screen(lg) {
				background: rgba(255, 255, 255, 0.98) !important;
				-webkit-transform: translateX(0);
				-moz-transform: translateX(0);
				-ms-transform: translateX(0);
				-o-transform: translateX(0);
				transform: translateX(0);
				-webkit-overflow-scrolling: touch;
				-webkit-transition: -webkit-transform 0.4s 0s;
				-moz-transition: -moz-transform 0.4s 0s;
				transition: transform 0.4s 0s;
				.mobile_menu_bar:before {
					content: "\4d";
					z-index: 9999;
					top: 4px !important;
				}
			}
		}
	}
	ul#mobile_menu {
		.current_page_item > a {
			@include max-screen(lg) {
				background-color: rgba(255, 255, 255, 0.1);
			}
		}
	}
}
.mobile_menu_bar {
	&:before {
		@include max-screen(lg) {
			color: #1b1d1e !important;
			top: 4px;
		}
	}
}
.et_mobile_menu {
	padding-left: 0;
	padding-right: 0;
	li {
		float: left;
		width: 100%;
		box-sizing: border-box;
		a {
			@include max-screen(lg) {
				width: 100%;
				float: left;
				text-align: left;
				border-bottom: 1px solid #ddd;
				transition: 0.2s;
				text-transform: uppercase;
			}
		}
		ul.sub-menu {
			background-color: #efefef;
			float: left;
			width: 100%;
			li a {
				border-color: #dddddd;
			}
		}
	}
}
.header-user-control {
	float: right;
	position: relative;
	@include max-screen(lg) {
		display: none;
	}
	ul.account-menu {
		position: absolute;
		top: 100%;
		right: 0;
		left: auto;
		width: auto;
		min-width: 140px;
		background: #fff;
		border-top: 5px solid #a7c454;
		border-radius: 5px;
		padding: 10px 0;
		margin-top: 5px;
		-webkit-box-shadow: 1px 2px 5px 0px rgba(5, 5, 5, 0.35);
		-moz-box-shadow: 1px 2px 5px 0px rgba(5, 5, 5, 0.35);
		box-shadow: 1px 2px 5px 0px rgba(5, 5, 5, 0.35);
		visibility: hidden;
		opacity: 0;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		li {
			padding: 5px 15px;
			font-size: 14px;
			font-weight: 600;
			a {
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-ms-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
				:hover {
					color: #a7c454;
				}
			}
		}
		&:before {
			position: absolute;
			top: -12px;
			content: "";
			width: 0;
			height: 0;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 12px solid #a7c454;
			right: 5px;
			left: auto;
		}
	}
	&:hover {
		ul.account-menu {
			visibility: visible;
			opacity: 1;
		}
	}
	&.logged-in {
		ul.account-menu:before {
			right: 7px;
		}
	}
}
.header-login {
	float: right;
	padding: 5px 5px;
	line-height: 30px;
	margin-top: 20px;
	border-radius: 25px;
	text-decoration: none !important;
	color: #466165;
	box-sizing: border-box;
	font-size: 25px;
	text-transform: none;
	text-align: center;
	letter-spacing: 0.05em;
	display: none;
	min-width: 0;

	@include min-screen(md) {
		display: block;
		font-size: 13px;
		margin-left: 10px;
	}
	@include max-screen(md) {
		display: none;
	}
	@include max-screen(xl) {
		font-size: 13px;
		margin-left: 30px;
	}

	span {
		font-size: 10px;
		line-height: 15px;
		text-align: center;
		letter-spacing: 0.2em;
		margin-bottom: 2px;
		display: block;
	}
	&.logged-in {
		padding: 0 0;
		background: transparent;
		color: #a7c454;
		text-transform: none;
		font-size: 13px;
		line-height: 20px;
		margin-top: 20px;
		letter-spacing: 0.01em;
		display: block;
		@include max-screen(md) {
			display: none;
		}

		span.avatar {
			height: 40px;
			width: 40px;
			border-radius: 40px;
			background-color: #dfdfdf;
			display: inline-block;
			box-sizing: border-box;
			border: 2px solid #00bbc9;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			overflow: hidden;
			border-color: #a7c454;
		}
	}
}
.header-main-control {
	float: right;
	margin: 0 10px;
	position: relative;
	@include min-screen(md) {
		margin: 0 7px;
	}
	@include max-screen(lg) {
		display: none;
	}
	@include max-screen(xl) {
		margin: 0 7px;
	}
	.et-cart-info {
		margin-left: 10px !important;
		margin-top: 30px !important;
		font-size: 20px;
		line-height: 20px;
		float: left !important;
		text-decoration: none !important;
		position: relative;
		i {
			position: absolute;
			font-style: normal;
			color: #ffffff;
			line-height: 15px;
			height: 15px;
			border-radius: 15px;
			min-width: 15px;
			background-color: #3cb6c6;
			font-size: 10px;
			text-align: center;
			top: -5px;
			right: 0;
		}
	}
}

.wpml-ls-legacy-dropdown-click {
	height: 40px;
	width: auto !important;
	max-width: 170px;
	float: left;
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 20px;
	direction: rtl;
	text-align: right;

	@include max-screen(md) {
		margin-left: 0;
	}

	a {
		border: none;
		padding: 10px 10px;

		&.wpml-ls-item-toggle:after {
			border: none;
			border-top: none;
			font-family: "ETmodules";
			font-size: 16px;
			font-weight: 800;
			content: "3";
			top: 0;
			color: rgba(0, 0, 0, 0.6);
			line-height: 40px;
		}
	}

	.wpml-ls-flag {
		width: 20px;
		height: 20px;

		+ span {
			margin-right: 0.7em;
			margin-left: 0;
			text-transform: uppercase;
			font-size: 14px;
		}
	}
}
.wpml-ls-menu-item .wpml-ls-flag {
	width: 20px;
	height: 20px;
}
.wpml-ls-legacy-list-horizontal .wpml-ls-flag {
	width: 20px;
	height: 20px;
}
#et-top-navigation {
	.header-main-control {
		margin: 0 10px;
		.et-cart-info {
			margin-left: 10px !important;
			margin-top: 8px !important;
			margin-top: 0 !important;
			@include min-screen(md) {
				margin-top: 0 !important;
			}
			@include max-screen(md) {
				margin-left: 10px !important;
				margin-top: 8px !important;
			}
		}
		@include max-screen(md) {
			margin: 0 10px;
		}
	}
	.wpml-ls-legacy-dropdown-click {
		margin-top: -4px;
		margin-left: 0;
		margin-right: 0;

		@include min-screen(md) {
			margin-top: -14px;
		}
		@include max-screen(md) {
			margin-top: -4px;
			margin-left: 0;
			margin-right: 0;
		}
	}
	@include max-screen(lg) {
		padding-right: 5px;
	}
}
#et_mobile_nav_menu .mobile_nav.opened .mobile_menu_bar:before {
	content: "\4d";
}

#top-menu {
	.menu-item-has-children .menu-item-has-children > a:first-child::after {
		content: "5";
	}
	li {
		display: inline-block;
		font-size: 14px;
		padding-right: 22px;

		@include max-screen(xl) {
			font-size: 12px;
			padding-right: 10px;
		}
		&.wpml-ls-item {
			@include min-screen(md) {
				display: none;
			}
		}
	}
}
#et-secondary-nav {
	.menu-item-has-children .menu-item-has-children > a:first-child::after {
		content: "5";
	}
}
.et_header_style_left {
	.logo_container {
		position: relative;
		margin-top: 20px;
		width: auto;
		height: auto;
		float: left;
		#logo {
			height: 40px;
			min-height: 40px;
			max-width: 100%;

			@include max-screen(md) {
				height: 35px;
			}
		}
	}
	#et-top-navigation {
		padding-left: 0 !important;
	}
	.mobile_menu_bar {
		@include max-screen(lg) {
			z-index: 9999;
		}
	}
}
.et_header_style_split .mobile_menu_bar {
	@include max-screen(lg) {
		z-index: 9999;
	}
}
.menu-item-object-wpml_ls_menu_item.menu-item-has-children ul.sub-menu {
	display: none;
}
.wpml-ls-slot-2.wpml-ls-current-language:hover,
.wpml-ls-slot-2.wpml-ls-current-language:hover a,
.wpml-ls-slot-2.wpml-ls-current-language a:hover {
	background-color: #fff;
}

#menu-item-70686,
#menu-item-70690,
#menu-item-70697,
#menu-item-70701 {
	display: none !important;
}
ul#mobile_menu {
	.account-menu-mobile {
		background-color: #cccccc;
		color: #ffffff !important;
		background-color: #a7c454;
		a {
			color: #ffffff !important;
			&.logged-in {
				color: #ffffff !important;
				i {
					margin-right: 20px;
				}
			}
		}
	}
	li {
		i {
			@include max-screen(lg) {
				margin-right: 0.5em;
			}
		}
		#menu-item-13334 {
			p {
				@include max-screen(lg) {
					text-align: left !important;
				}
			}
			img {
				@include max-screen(lg) {
					display: none;
				}
			}
		}
		&.wpml-ls-item {
			@include min-screen(lg) {
				display: none;
			}
			a {
				@include max-screen(lg) {
					direction: rtl !important;
					padding-bottom: 15px !important;
				}
			}
			ul.sub-menu {
				@include max-screen(lg) {
					width: 100% !important;
					padding: 0 0 !important;
				}
				li.wpml-ls-item a {
					@include max-screen(lg) {
						background: transparent !important;
						width: 100% !important;
					}
				}
			}
		}
		.wpml-ls-flag + span {
			@include max-screen(lg) {
				margin-left: 0 !important;
				margin-right: 0.5em !important;
				display: block;
				float: left;
			}
		}
	}
}
.mobile-menu-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99998;
	background-color: rgba(0, 0, 0, 0.7);
	visibility: hidden;
}
body.mobile-menu-open {
	#main-header {
		position: fixed;
	}
}
@include max-screen(md) {
	body.mobile-menu-open .mobile-menu-overlay {
		visibility: visible;
	}
}

.header-cart-control {
	float: right;
	margin-top: 20px;
	margin-left: 30px;
	position: relative;
	line-height: 40px;
	height: 40px;
	a {
		position: relative;
		display: inline-block;
		&:before {
			font-family: "Font Awesome 5 Free";
			content: "\f290";
			font-weight: 600;
			color: #466165;
			font-size: 25px;
		}
	}
	span.cart-counter {
		background-color: #a7c454;
		display: block;
		color: #ffffff;
		position: absolute;
		top: -2px;
		right: -11px;
		border-radius: 10px;
		min-width: 15px;
		height: 15px;
		font-size: 9px;
		text-align: center;
		line-height: 15px;
		padding: 0 3px;
	}
}
