[class^="icon-"],
[class*=" icon-"] {
  font-family: "plasticbank-v2" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shopping-bag-2:before {
  content: "\e911";
}
.icon-file-text:before {
  content: "\e910";
}
.icon-menu_book:before {
  content: "\e90b";
}
.icon-chevron-down:before {
  content: "\e90e";
}
.icon-chevron-up:before {
  content: "\e90f";
}
.icon-chevron-right:before {
  content: "\e90d";
}
.icon-chevron-left:before {
  content: "\e90c";
}
.icon-book:before {
  content: "\e908";
}
.icon-users:before {
  content: "\e901";
}
.icon-layers:before {
  content: "\e902";
}
.icon-chronometer:before {
  content: "\e907";
}
.icon-book-bookmark:before {
  content: "\e903";
}
.icon-lock:before {
  content: "\e904";
}
.icon-stop-watch:before {
  content: "\e905";
}
.icon-study:before {
  content: "\e906";
}
.icon-youtube-play:before {
  content: "\e909";
}
.icon-puzzle-piece:before {
  content: "\e90a";
}
.icon-check-circle:before {
  content: "\e900";
}
.icon-link:before {
  content: "\e9cb";
}

.single-lesson {
  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "plasticbank" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
