html[lang="en-US"] .content-ar {
  display: none !important;
}
html[lang="en-GB"] .content-ar {
  display: none !important;
}
html[lang="id-ID"] .content-ar {
  display: none !important;
}
html[lang="pt-br"] .content-ar {
  display: none !important;
}
html[lang="ar"] .content-en {
  display: none !important;
}

html[lang="ar"] #page-container button[class*="button"],
html[lang="ar"] #page-container a[class*="button"],
html[lang="ar"] #main-footer .footer-widget h4 {
  font-family: "Cairo", sans-serif !important;
}
