header .container,
footer .container {
  width: 80%;
  max-width: 1280px;
  padding-left: 0;
  padding-right: 0;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
body:not(.et-fb-root-ancestor) {
  input[type="email"],
  input[type="text"],
  input[type="password"],
  textarea,
  select {
    color: #466165 !important;
    font-size: 16px !important;
    font-family: din !important;
    font-weight: 500;
    letter-spacing: 1px !important;
    padding: 12px 15px !important;
    border: 1px solid #ccc !important;
    margin-bottom: 0 !important;
    text-transform: none !important;
    background-color: #fefefe !important;
  }
  footer h4.title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

body.et_full_width_page #main-content .container {
  padding-top: 0;
  width: 100%;
  max-width: 100%;
}

#page-container {
  button[class*="button"],
  a[class*="button"] {
    font-family: din;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #3cb6c6;
    color: #fefefe;
    &:after {
      content: "";
    }
    &:hover {
      background-color: #18c0d6;
      &:after {
        transform: scale(1);
      }
    }
    @include min-screen(md) {
      display: inline-block;
      width: auto;
    }
    &.submitform {
      @include max-screen(md) {
        display: inline-block;
        width: auto;
        padding-right: 46px;
        padding-left: 46px;
      }
    }
    &.button-white {
      font-family: din;
      font-weight: bold;
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      padding: 10px 15px;
      font-size: 16px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #fefefe;
      color: #466165;
      &:after {
        content: "";
      }
      &:hover {
        background-color: #e8e8e8;
        &:after {
          transform: scale(1);
        }
      }
      @include min-screen(md) {
        display: inline-block;
        width: auto;
      }
      @include max-screen(md) {
        display: inline-block;
        width: auto;
        padding-right: 46px;
        padding-left: 46px;
      }
    }
    &.button-green {
      font-family: din;
      font-weight: bold;
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      padding: 10px 15px;
      font-size: 16px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #a7c454;
      color: #fefefe;
      &:after {
        content: "";
      }
      &:hover {
        background-color: #93b338;
        &:after {
          transform: scale(1);
        }
      }
      @include min-screen(md) {
        display: inline-block;
        width: auto;
      }
      @include max-screen(md) {
        display: inline-block;
        width: auto;
        padding-right: 46px;
        padding-left: 46px;
      }
    }
    &.button-dark {
      font-family: din;
      font-weight: bold;
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      padding: 10px 15px;
      font-size: 16px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #506b6f;
      color: #fefefe;
      &:after {
        content: "";
      }
      &:hover {
        background-color: #4c5c5f;
        &:after {
          transform: scale(1);
        }
      }
      @include min-screen(md) {
        display: inline-block;
        width: auto;
      }
      @include max-screen(md) {
        display: inline-block;
        width: auto;
        padding-right: 46px;
        padding-left: 46px;
      }
    }
  }
}
body:first-of-type #page-container {
  .et_pb_contact_form_0.et_pb_contact_form_container.et_pb_module {
    .et_pb_button {
      font-family: din;
      font-weight: bold;
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      padding: 10px 15px;
      font-size: 16px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #3cb6c6;
      color: #fefefe;
      &:after {
        content: "";
      }
      &:hover {
        background-color: #18c0d6;
        &:after {
          transform: scale(1);
        }
      }
      @include min-screen(md) {
        display: inline-block;
        width: auto;
      }
      &.submitform {
        @include max-screen(md) {
          display: inline-block;
          width: auto;
          padding-right: 46px;
          padding-left: 46px;
        }
      }
    }
  }
}
