nav.llms-pagination {
  display: none;
}
.single-lesson {
  #main-content {
    margin: 100px 0;
    p {
      margin-bottom: 20px;
      &.llms-parent-course-link {
        margin-bottom: 0 !important;
      }
    }
    .et_post_meta_wrapper .post-meta {
      display: none;
    }
    .llms-parent-course-link .llms-lesson-link {
      border-bottom: 2px solid #3cb6c6;
      padding-bottom: 2px;
    }
    .llms-video-wrapper,
    .llms-lesson-button-wrapper {
      margin-bottom: 20px;
    }
    .llms-main {
      h5,
      h6 {
        padding-bottom: 0;
      }
      h6 {
        margin-bottom: 10px;
      }
    }
    &.pb-academy {
      margin: 70px 0;
    }
  }
}
.lesson {
  .et_pb_text_inner {
    li {
      a {
        &:link:not(.button),
        &:visited:not(.button) {
          text-decoration: underline !important;
          color: #3cb6c6 !important;
          outline: none !important;
        }
      }
    }
  }
}
.llms-section.llms-syllabus-footer span {
  display: none;
}
.llms-loop-item-content {
  background: #fff;
  border-radius: 5px;
  padding-bottom: 30px;
  webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  &:hover {
    background: #f1f1f1;
  }
  .llms-progress .llms-progress-bar {
    background: none;
  }
  .llms-loop-title {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.2em;
    font-size: 24px !important;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 15px;
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold;
    &:hover {
      color: #466165;
    }
  }
  footer.llms-loop-item-footer {
    padding: 20px 15px 0 15px;
    .llms-meta {
      margin-bottom: 0;
      p {
        font-size: 0 !important;
        margin-bottom: 0;
        line-height: 20px !important;
        > span {
          font-size: 16px;
          line-height: 20px;
          padding-left: 25px;
          position: relative;
          &:before {
            height: 20px;
            width: 20px;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            font-family: "Font Awesome 5 Free";
            font-weight: 400;
            text-align: center;
          }
        }
      }
      &.llms-course-length p > span:before {
        content: "\f017";
      }
      &.llms-difficulty p > span:before {
        content: "\f02e";
      }
    }
  }
}
.llms-featured-image {
  border-radius: 7px 7px 0px 0px;
}
.llms-notification .llms-notification-icon {
  max-width: 40px;
}
body:first-of-type #page-container {
  button.llms-button-action {
    font-family: din;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #a7c454;
    color: #fefefe;
    &:after {
      content: "";
    }
    &:hover {
      background-color: #93b338;
      &:after {
        transform: scale(1);
      }
    }
    @include min-screen(md) {
      display: inline-block;
      width: auto;
    }
    @include max-screen(md) {
      display: inline-block;
      width: auto;
      padding-right: 46px;
      padding-left: 46px;
    }
  }
}

.llms-sl-profile {
  margin-top: -100px;
  .llms-sl-text {
    display: none;
  }
  .llms-sl-button.ghost.edit-avatar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
  .llms-sl-card-text h2 {
    font-size: calc(1.33336vw + 20.906px);
    line-height: calc(1.33336vw + 20.906px);
  }
  h3.llms-sl-card-title {
    font-size: 27px;
  }
  h4.llms-sl-card-title {
    font-size: 25px;
  }
  h6.llms-sl-card-subtitle.llms-sl-date {
    font-size: 80%;
  }
  @include min-screen(md) {
    margin-top: -120px;
  }
}
.llms-course-page {
  .post-meta {
    display: none;
  }
}
.lifter-lms-account .entry-title.main_title {
  display: none;
}
#page-container {
  h1[class*="llms"],
  [class*="llms"] h1 {
    font-size: 30px;
  }
  h2[class*="llms"],
  [class*="llms"] h2 {
    font-size: 27px;
    text-transform: capitalize;
  }
  h3[class*="llms"],
  [class*="llms"] h3 {
    font-size: 24px;
    text-transform: capitalize;
  }
  h4[class*="llms"],
  [class*="llms"] h4 {
    font-size: 21px;
    text-transform: capitalize;
  }
  h5[class*="llms"],
  [class*="llms"] h5 {
    font-size: 17px;
    text-transform: capitalize;
  }
  h6[class*="llms"],
  [class*="llms"] h6 {
    font-size: 14px;
    text-transform: capitalize;
  }
  .llms-sl-card-title {
    word-break: break-word;
  }
  [class*="llms"] p,
  p[class*="llms"],
  span[class*="llms"],
  div[class*="llms"] {
    font-size: 16px;
  }
  [class*="llms"] a,
  a[class*="llms"] {
    text-decoration: none;
  }
  .llms-loop-item-content .llms-author {
    display: none;
  }
}
.pb-academy {
  .container {
    max-width: 1280px;
    @include max-screen(lg) {
      width: 100%;
    }
    &:before {
      display: none;
    }
    .lesson-parent-course-title {
      margin-bottom: 10px;
      a {
        font-size: 18px;
        color: #3cb6c6;
        font-family: din;
        font-weight: bold;
      }
      @include max-screen(lg) {
        padding: 0 30px;
      }
    }
    .lesson-wrapper {
      display: flex;
      .lesson-content {
        width: 65%;
        padding-right: 5%;
        h1 {
          font-size: 35px;
        }
        article {
          font-size: 14px;
          line-height: 22px;
          .llms-parent-course-link {
            display: none;
          }
          .entry-content {
            padding-top: 0 !important;
          }
          p {
            padding-bottom: 0 !important;
          }
          .et_pb_section {
            &:first-child {
              padding-top: 0 !important;
              .et_pb_row:first-child {
                padding-top: 0 !important;
              }
            }
            &:last-child {
              padding-bottom: 0 !important;
            }
            .et_pb_row {
              width: 100% !important;
              max-width: 2560px !important;
            }
          }
          ul {
            padding-left: 30px;
          }
          .llms-form-field.type-submit {
            text-align: left;
            padding: 0 0 0;
            button {
              padding: 10px 30px !important;
              padding-left: 60px !important;
              border-radius: 30px !important;
              background-color: #a7c454 !important;
              text-transform: uppercase !important;
              font-family: din !important;
              font-size: 16px !important;
              font-weight: bold !important;
              &:hover {
                background-color: #6c9d40 !important;
              }
              &:before {
                content: "\f058";
                display: inline-block;
                z-index: 99;
                position: absolute;
                top: 14px;
                left: 30px;
                font-family: "Font Awesome 5 Free";
                color: #ffffff;
                opacity: 0.5;
                font-size: 16px;
                font-weight: 600;
              }
              &#llms_mark_incomplete {
                background-color: #cccccc !important;
                &:hover {
                  background-color: #aaa !important;
                }
              }
            }
          }
          .llms-lesson-button-wrapper {
            color: transparent !important;
            margin-bottom: 0 !important;
            text-align: left;
            .button {
              padding: 10px 30px !important;
              border-radius: 30px !important;
              background-color: #67d5e3 !important;
              text-transform: uppercase !important;
              font-family: din !important;
              font-size: 16px !important;
              font-weight: bold !important;
              &:hover {
                background-color: #0192a5 !important;
              }
            }
          }
          .llms-course-navigation {
            display: none;
          }
          div.extras-dropdown .extras-image {
            @include max-screen(md) {
              display: none;
            }
          }
        }
        @include max-screen(lg) {
          width: 100%;
          padding-right: 30px;
          padding: 0 30px;
        }
      }
      .lesson-sidebar {
        width: 35%;
        padding-left: 5%;
        ul.widgets li.widget h2 {
          text-transform: none;
          font-size: 21px;
          margin-bottom: 0;
          color: #506b6f !important;
        }
        .llms-progress {
          margin-top: 0;
          .llms-progress-bar {
            border-radius: 5px;
            height: 10px;
            .progress-bar-complete {
              background-color: #67d5e3;
              border-radius: 5px;
            }
          }
          .progress__indicator {
            font-family: din;
            font-weight: bold;
            font-size: 14px;
          }
        }
        .widget_course_syllabus {
          padding: 30px;
          background: #f2f2f2;
          margin-top: 30px;
        }
        .llms-widget-syllabus {
          .section-title {
            color: #506b6f;
          }
          .llms-lesson-complete {
            color: #506b6f;
            &.done {
              color: #a7c454;
            }
          }
          .unlocked {
            .llms-lesson-complete {
              color: #f2f2f2;
            }
          }
          li:not(.unlocked) > .llms-lesson-complete i.fa-check-circle:before {
            font-family: "plasticbank";
            font-weight: normal;
            content: "\e904";
          }
          .llms-lesson {
            li {
              line-height: 22px;
            }
            .lesson-title {
              font-size: 14px;
              color: #506b6f;
              a {
                color: #3cb6c6;
                &:hover {
                  color: #a7c454;
                }
              }
              &.done a {
                color: #506b6f;
              }
            }
            &.current-lesson {
              .lesson-title a {
                color: #a7c454 !important;
              }
            }
          }
        }
        .lesson-navigation {
          display: block;
          border-top: 1px solid #cccccc;
          .llms-course-navigation {
            .llms-course-nav .llms-lesson-preview {
              margin-top: 0;
              float: left;
              h5 {
                margin-bottom: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px !important;
              }
              h6.llms-pre-text {
                color: #3cb6c6;
                font-family: din;
                font-size: 8px !important;
                font-weight: bold;
                text-transform: uppercase !important;
              }
              .llms-lesson-excerpt {
                display: none;
              }
              .llms-lesson-link {
                position: relative;
                &:before {
                  width: 50px;
                  position: absolute;
                  left: 0;
                  top: 50%;
                  content: "\e90c";
                  font-family: "plasticbank";
                  font-size: 20px;
                  -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
                  color: #939393;
                  text-align: center;
                }
                &:hover {
                  background-color: #e8f6fa;
                  &:before {
                    color: #3cb6c6;
                  }
                }
                &:active {
                  background-color: #cde2e8;
                }
              }
            }
            .llms-prev-lesson,
            .llms-back-to-course {
              margin-right: 0;
              width: 50%;
            }
            .llms-next-lesson,
            .llms-prev-lesson + .llms-back-to-course {
              margin-left: 0;
              width: 50%;
              border-left: 1px solid #cccccc;
              text-align: right;
            }
            .llms-prev-lesson,
            .llms-back-to-course {
              .llms-lesson-preview .llms-lesson-link {
                padding-left: 50px;
              }
            }
            .llms-next-lesson,
            .llms-prev-lesson + .llms-back-to-course .llms-lesson-preview .llms-lesson-link {
              padding-right: 50px;
              padding-left: 15px;
            }
            .llms-next-lesson .llms-lesson-preview .llms-lesson-link:before,
            .llms-prev-lesson + .llms-back-to-course .llms-lesson-preview .llms-lesson-link:before {
              left: auto;
              right: 0;
              content: "\e90d";
            }
            .llms-next-lesson .llms-lesson-preview h5,
            .llms-prev-lesson + .llms-back-to-course .llms-lesson-preview h5 {
              text-align: right;
            }
            .llms-next-lesson .llms-lesson-preview h6.llms-pre-text,
            .llms-prev-lesson + .llms-back-to-course .llms-lesson-preview h6.llms-pre-text {
              text-align: right;
            }
          }
        }
        .widget_course_progress {
          @include max-screen(lg) {
            padding-left: 30px;
            padding-right: 30px;
          }
        }
        @include max-screen(lg) {
          width: 100%;
          padding-left: 0;
          border-top: 1px solid #cccccc;
          padding-top: 30px;
        }
      }
      .lesson-content article div {
        &.extras-dropdown {
          background: #f2f2f2;
          cursor: pointer;
          &.extras-image {
            display: block;
            padding-top: 140px;
            width: 100%;
            background-color: #5b5b5b;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .extras-title {
            display: block;
            padding: 15px;
            line-height: 1.2em;
            position: relative;
            padding-right: 50px;
            span.counter {
              font-size: 10px;
              color: #3cb6c6;
              text-transform: uppercase;
              font-family: din;
              font-weight: bold;
            }
            h3 {
              font-size: 16px !important;
              font-family: din;
              font-weight: bold;
              text-transform: none;
              margin-bottom: 0;
              padding-bottom: 0;
              line-height: 20px;
              position: relative;
            }
            &:after {
              content: "\e90e";
              font-family: "plasticbank";
              font-size: 20px;
              text-align: center;
              line-height: 20px;
              width: 20px;
              position: absolute;
              right: 15px;
              top: 50%;
              color: #939393;
              display: block;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
            }
          }
          &.opened {
            .extras-title:after {
              content: "\e90f";
            }
          }
          ul.extras-items {
            list-style: none;
            padding-left: 0;
            padding: 0;
            margin: 0;
            display: none;
            li {
              padding: 0;
              margin: 0;
              a {
                display: block;
                padding: 15px;
                padding-left: 45px;
                font-size: 12px;
                font-family: din;
                line-height: 1.2em;
                transition: all 0.5s ease;
                position: relative;
                &:hover {
                  background-color: #dbdbdb;
                }
                &:before {
                  width: 15px;
                  position: absolute;
                  left: 15px;
                  top: 50%;
                  content: "\e90b";
                  font-family: "plasticbank";
                  font-size: 15px;
                  -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
                  color: #3cb6c6;
                  text-align: center;
                }
                span.item-label {
                  display: block;
                  font-size: 10px;
                  color: #939393;
                  font-style: italic;
                }
              }
            }
            &.video {
              li a:before {
                content: "\e909";
              }
            }
            &.activity {
              li a:before {
                content: "\e90a";
              }
            }
          }
        }
      }
      @include max-screen(lg) {
        display: block;
      }
    }
  }
  .et_pb_row {
    max-width: 1280px !important;
  }
  .et_pb_section {
    &.course-cover {
      background-color: #67d5e3 !important;
      color: #ffffff;
      font-family: din;
      padding: 15px 0;
      .et_pb_text {
        color: #ffffff;
        font-family: din;
        h1 {
          color: #ffffff !important;
          font-size: 36px;
        }
        p,
        p a {
          color: #ffffff !important;
          font-size: 16px;
          font-family: din;
        }
        p a {
          text-decoration: none !important;
        }
        &.course-details {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          .detail {
            width: 17%;
            margin-right: 1%;
            display: flex;
            flex-direction: row;
            &:nth-child(3n + 0) {
              @include max-screen(lg) {
                margin-right: 0;
              }
            }
            &:nth-child(4n + 0) {
              width: 45%;
              margin-left: 1%;
              margin-right: 0;
              @include max-screen(lg) {
                display: none;
              }
            }
            i {
              display: flex;
              flex-direction: column;
              padding-right: 5px;
              line-height: 18px;
              color: #506b6f;
            }
            span {
              display: flex;
              flex-direction: column;
              font-size: 14px;
              line-height: 18px;
              color: #506b6f;
              @include max-screen(lg) {
                font-size: 12px;
              }
            }
            @include max-screen(lg) {
              width: 32%;
              margin-right: 2%;
              display: flex;
              flex-direction: row;
              max-width: 100px;
            }
          }
          @include max-screen(lg) {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
          }
        }
      }
      .llms-progress {
        margin: 0 0;
        line-height: 18px;
        .llms-progress-bar {
          border-radius: 5px;
          height: 10px;
          background-color: #3cb6c6;
          .progress-bar-complete {
            background-color: #ffffff;
            border-radius: 5px;
          }
        }
        .progress__indicator {
          font-family: din;
          font-weight: bold;
          font-size: 14px;
        }
      }
      .course-continue {
        .llms-progress {
          display: none;
          @include max-screen(lg) {
            display: flex;
            margin-bottom: 30px;
          }
        }
        .llms-button-primary {
          background-color: transparent !important;
          text-transform: uppercase;
          border: 2px solid #ffffff !important;
          border-radius: 30px !important;
          text-align: center;
          padding-left: 30px !important;
          padding-right: 30px !important;
          padding-top: 12px !important;
          padding-bottom: 12px !important;
          box-sizing: border-box;
          font-weight: bold !important;
          font-size: 16px !important;
          text-decoration: none !important;
          text-transform: uppercase;
          &:hover {
            background-color: #ffffff !important;
            color: #67d5e3 !important;
          }
          &:active {
            background-color: #ffffff !important;
          }
        }
        .llms-access-plan {
          text-align: left;
          .llms-access-plan-content {
            margin: 0;
            display: none;
            .llms-access-plan-pricing {
              padding-top: 0;
            }
          }
          .llms-access-plan-featured {
            display: none;
          }
          .llms-access-plan-title {
            display: none;
          }
          .llms-access-plan-price {
            padding-top: 0;
            font-size: 14px !important;
          }
          .llms-access-plan-footer {
            padding: 0;
            margin: 0;
            border-bottom: 0;
            background-color: transparent;
            padding-top: 0;
            .llms-access-plan-pricing {
              display: none;
            }
          }
          .llms-access-plan-description {
            padding-left: 0;
            padding-right: 0;
            font-size: 12px !important;
            font-style: italic;
            > p {
              font-size: 12px !important;
              line-height: 1.2em !important;
              font-weight: 400;
            }
          }
        }
        .llms-button-action {
          background-color: transparent !important;
          text-transform: uppercase;
          border: 2px solid #ffffff !important;
          border-radius: 30px !important;
          text-align: center;
          padding-left: 30px !important;
          padding-right: 30px !important;
          padding-top: 12px !important;
          padding-bottom: 12px !important;
          box-sizing: border-box;
          font-weight: bold !important;
          font-size: 16px !important;
          text-decoration: none !important;
          text-transform: uppercase;
          &:hover {
            background-color: #ffffff !important;
            color: #67d5e3 !important;
          }
          &:active {
            background-color: #ffffff !important;
          }
        }
      }
    }
    &.course-author-block {
      background-color: #f9f9fa !important;
      color: #506b6f;
      padding: 0 0;
      .et_pb_row {
        padding-top: 20px;
        padding-bottom: 15px;
        @include max-screen(lg) {
          padding-top: 0;
        }
      }
      .course-users {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        @include max-screen(lg) {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
        }
        .user {
          display: flex;
          align-items: center;
          width: 19.25%;
          margin-right: 1%;
          .avatar {
            padding-right: 20px;
            @include max-screen(lg) {
              padding-right: 0;
              width: 100%;
              display: block;
              text-align: center;
            }
            img {
              border-radius: 70px;
              border: 3px solid #a7c454;
              padding-right: 0;
              background: #707070;
              @include max-screen(lg) {
                max-width: 45px;
                display: inline-block;
                margin-bottom: 10px;
              }
            }
          }
          .info {
            font-size: 14px;
            line-height: 1.2em;
            h4 {
              font-family: din;
              font-size: 11px;
              font-weight: bold;
              margin-bottom: 5px;
              padding-bottom: 0;
              text-transform: uppercase;
              color: #a7c454;
              @include max-screen(lg) {
                font-size: 9px;
              }
            }
            @include max-screen(lg) {
              width: 100%;
              display: block;
              text-align: center;
              font-size: 12px;
            }
          }
          &.instructor {
            .avatar img {
              border-color: #3cb6c6;
            }
            .info h4 {
              color: #3cb6c6;
            }
          }
          &.students {
            .avatars {
              padding-right: 20px;
              width: 107px;
              margin-left: 0;
              > .avatar {
                padding-right: 0;
                float: right;
                width: 70px;
                margin-left: -60px;
                img {
                  border-color: #6b45aa;
                }
                &:nth-child(1) {
                  width: 68px;
                }
                &:nth-child(2) {
                  width: 69px;
                }
              }
              @include max-screen(lg) {
                padding-right: 0;
                width: 87px;
                margin-left: auto;
                margin-right: auto;
              }
            }
            .info h4 {
              color: #6b45aa;
            }
          }
          @include max-screen(lg) {
            width: 30%;
            margin-right: 5%;
            margin-top: 30px;
            flex-wrap: wrap;
            align-items: flex-start;
          }
          &:nth-child(3n + 0) {
            @include max-screen(lg) {
              margin-right: 0;
            }
          }
        }
      }
    }
    &.course-syllabus-block {
      background-color: #ffffff !important;
      color: #506b6f;
      padding: 30px 0;
      .llms-syllabus-wrapper {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-end;
        h3 {
          text-align: left;
          font-size: 21px;
          margin-top: 0;
          padding-bottom: 0;
          margin-bottom: 50px;
          width: 100%;
        }
        .llms-lesson-preview {
          width: 25%;
          padding: 0 1%;
          .llms-lesson-link {
            padding: 0;
            background-color: #252525;
          }
        }
      }
      h3 {
        text-transform: none;
        font-size: 21px;
        padding-bottom: 0;
        margin-bottom: 2%;
        padding-top: 4%;
        margin-top: 4%;
        border-top: 1px solid #cccccc;
        &:first-child {
          margin-top: 0;
          padding-top: 0;
          border-top: 0;
        }
        @include max-screen(md) {
          margin-top: 10%;
          padding-top: 10%;
        }
      }
      .course-lessons-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-end;
        .course-lesson {
          width: 23.5%;
          margin-right: 2%;
          margin-top: 2%;
          position: relative;
          &.locked {
            .locked-front {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              background-color: rgba(16, 16, 16, 0.27);
              &:before {
                position: absolute;
                top: 20px;
                right: 15px;
                font-family: "plasticbank";
                content: "\e904";
                font-size: 42px;
                color: #3cb6c6;
              }
            }
          }
          &:nth-child(4n + 0) {
            margin-right: 0;
          }
          &:nth-child(2n + 0) {
            @include max-screen(lg) {
              margin-right: 0;
            }
            @include max-screen(md) {
              margin-right: 0;
            }
          }
          .image {
            width: 100%;
            padding: 50% 0;
            background-color: #272727;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
          &.completed {
            .image {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              padding: 0 0;
            }
            .caption {
              position: relative;
              left: auto;
              bottom: auto;
              right: auto;
              top: auto;
              padding-right: 65px;
              background: rgb(0, 0, 0);
              background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 70%);
              &:before {
                content: "\e900";
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 20px;
                font-family: "plasticbank";
                color: #a7c454;
                font-size: 25px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
              }
              h4 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          .caption {
            padding: 20px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);
            h4 {
              text-transform: none;
              color: #ffffff;
              font-size: 16px;
              line-height: 1.2em;
              font-family: din;
              font-weight: bold;
              margin-bottom: 10px;
              padding-bottom: 0;
            }
            p {
              color: #ffffff;
              font-size: 14px;
              line-height: 1.2em;
              font-family: din;
              margin-bottom: 0;
              padding: 0;
            }
          }
          @include max-screen(lg) {
            width: 49%;
            margin-right: 2%;
          }
          @include max-screen(md) {
            width: 100%;
            margin-right: 0;
            margin-top: 10%;
          }
        }
      }
    }
  }
}
