@mixin min-screen($class) {
  @if $class == sm {
    @media (min-width: 320px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $class == xxl {
    @media (min-width: 1440px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: sm, md, lg, xl, xxl";
  }
}

@mixin max-screen($class) {
  @if $class == sm {
    @media (max-width: 320px) {
      @content;
    }
  } @else if $class == md {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == lg {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if $class == xl {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $class == xxl {
    @media (max-width: 1439px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: sm, md, lg, xl, xxl";
  }
}
