body.rtl {
  .container {
    text-align: right;
  }
  .header-user-control {
    float: left;
  }
  .header-login {
    float: left;

    @include max-screen(md) {
      margin-left: 60px;
      z-index: 1;
    }
  }
  .logo_container {
    text-align: right;
  }
  .header-main-control {
    float: left;
    @include max-screen(md) {
      z-index: 1;
    }
  }
  #top-menu {
    > li {
      &:last-child {
        padding-right: 22px;
      }
      &.login-menu {
        display: none;
      }
    }
  }
  #et-top-navigation {
    @include max-screen(md) {
      position: absolute;
      left: 10px;
      padding-right: 0 !important;
    }
  }
  .footer-widget {
    float: right;
  }
  #footer-info {
    float: right;
  }
  #footer-bottom .love-credit {
    float: left;
  }
  .odometer {
    direction: ltr;
  }
  .pum-theme-26119 .pum-content + .pum-close,
  .pum-theme-lightbox .pum-content + .pum-close {
    left: 0;
    right: auto;
  }
  .registration-sf .gform_footer {
    text-align: center !important;
  }
  @include max-screen(lg) {
    #mobile_menu {
      margin-right: 20%;
      right: auto;
      left: 0;
      margin-left: 0;
    }
    .mobile_nav.closed #mobile_menu {
      transform: translatex(-100%);
    }
    .et_mobile_menu li a {
      text-align: right;
    }
  }
  @include min-screen(lg) {
    &.et_pb_gutters3 .footer-widget {
      margin-right: 0;
      margin-left: 5.5%;
      &:last-child {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
