.single-um_groups,
.um-page-user {
  #left-area {
    padding-right: 0;
    width: 100%;
  }
  #main-content {
    .container:before {
      content: none;
    }
  }
  h1.entry-title {
    display: none;
  }
}
.um-groups-directory {
  margin-top: 30px;
  .um-group-item {
    .actions ul,
    .um-group-meta ul,
    .um-group-texts ul {
      list-style: none !important;
    }
  }
}
.um-groups-list-pagination {
  margin-top: 30px;
  .um-groups-lazy-load {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 30px !important;
    background-color: transparent !important;
    color: #506b6f !important;
    border: 2px solid #506b6f;
    box-sizing: border-box;
    text-align: center;
    min-width: 140px !important;
    font-size: 17px !important;
  }
}

.um-group-form {
  &.um-groups-search-form {
    .um-field {
      width: 50% !important;
      display: block !important;
      float: left;
      padding-left: 5px;
      padding-right: 5px;
      box-sizing: border-box;
      padding-top: 0 !important;

      @include max-screen(md) {
        width: 100% !important;
        margin-top: 20px !important;
      }

      &.um-field-select span {
        &.select2-container {
          padding: 9px 15px !important;
          box-sizing: border-box !important;
          background-color: #f8f8f8 !important;
          font-family: "nanami" !important;
          font-size: 14px !important;
          height: 50px !important;
          border: 1px solid #ebebeb !important;
          color: #506b6f !important;
          border-radius: 0 !important;
          &:hover {
            border-color: #8b8b8b !important;
          }
          &:focus {
            border-color: #506b6f !important;
          }
          .select2-selection {
            border-bottom: 0 !important;
            background: transparent !important;
          }
          span.select2-selection__clear {
            display: none;
          }
        }
      }
    }
    .um-col-alt {
      padding-left: 5px;
      padding-right: 5px;
      box-sizing: border-box;
      float: left;
      @include max-screen(md) {
        width: 100% !important;
      }
      .um-button {
        padding: 15px 30px !important;
        border-radius: 30px !important;
        font-family: din !important;
        text-transform: uppercase !important;
        font-size: 14px !important;
        line-height: 20px !important;
        height: auto !important;
        max-height: 100% !important;
        min-width: 140px;
        background-color: #a7c454 !important;
        @include max-screen(md) {
          width: 100% !important;
        }
        &.um-alt {
          background-color: #cccccc !important;
          color: #506b6f !important;
        }
      }
    }
  }
}

#um-groups-filters {
  margin-top: 30px;
  ul.filters {
    border-top: 0 !important;
    border-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    overflow: hidden !important;
    li {
      float: left;
      &:not(:last-child) {
        border-right: 0 !important;
      }
      &.create {
        padding-left: 30px !important;
        padding-right: 30px !important;
        border-radius: 30px !important;
        background-color: #67d5e3 !important;
        color: #ffffff !important;
        float: right;
        box-sizing: border-box;
        text-align: center;
        @include max-screen(md) {
          width: 100% !important;
          margin-top: 30px !important;
        }
        a {
          color: #ffffff !important;
        }
      }
      &.active {
        background: transparent !important;
        a {
          color: #3cb6c6 !important;
          span {
            min-width: 20px;
            display: inline-block;
            text-align: center;
            border: 0 !important;
            color: #ffffff !important;
            background-color: #3cb6c6 !important;
            margin-left: 5px !important;
          }
        }
      }
    }
  }
}
