#form-login {
  form input {
    &.input-text {
      color: #466165 !important;
      font-size: 16px !important;
      font-family: din !important;
      font-weight: 500;
      letter-spacing: 1px !important;
      padding: 12px 15px !important;
      border: 1px solid #ccc !important;
      margin-bottom: 0 !important;
      text-transform: none !important;
      background-color: #fefefe !important;
      height: auto !important;
      margin-top: 10px;
    }
    &.button {
      font-family: din;
      font-weight: bold;
      display: inline-block;
      margin-bottom: 0;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      padding: 10px 15px;
      font-size: 16px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #3cb6c6 !important;
      color: #fefefe !important;
      min-height: 55px;
      width: 100% !important;
      &:hover {
        background-color: #18c0d6 !important;
        color: #fefefe !important;
      }
    }
    &.gform_previous_button {
      background: transparent !important;
      color: #3cb6c6 !important;
      margin-right: 20px !important;
      &:hover {
        border: 1px solid #3cb6c6 !important;
        color: #3cb6c6 !important;
      }
    }
  }
}
#form-register {
  form {
    button {
      font-family: din;
      font-weight: bold;
      display: inline-block;
      margin-bottom: 0;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      padding: 10px 15px;
      font-size: 16px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #3cb6c6 !important;
      color: #fefefe !important;
      min-height: 55px;
      width: 100% !important;

      &:hover {
        background-color: #18c0d6 !important;
        color: #fefefe !important;
      }
      &.gform_previous_button {
        background: transparent !important;
        color: #3cb6c6 !important;
        margin-right: 20px !important;
        &:hover {
          border: 1px solid #3cb6c6 !important;
          color: #3cb6c6 !important;
        }
      }
      #gform_previous_button_56,
      #gform_submit_button_56,
      #gform_previous_button_60,
      #gform_submit_button_60 {
        width: 48% !important;
        margin-right: 0 !important;
      }
      #gform_previous_button_56,
      #gform_previous_button_60 {
        margin-right: 4% !important;
        float: left;
      }
    }
  }
}
.gform_previous_button {
  background: transparent !important;
  color: #3cb6c6 !important;
  margin-right: 20px !important;
  &:hover {
    border: 1px solid #3cb6c6 !important;
    color: #3cb6c6 !important;
  }
}
.lost_password a:link:not(.button) {
  text-decoration: underline !important;
  color: #3cb6c6 !important;
}
// Login
.page-id-20988 {
  .woocommerce-Button.button {
    display: block !important;
    width: 100% !important;
    margin-top: 20px !important;
    font-size: 16px !important;
    background-color: #3cb6c6;
    border: 1px solid transparent;
    border-radius: 4px;
    min-height: 55px;
    &:hover {
      background-color: #18c0d6;
    }
  }
  .woocommerce-form-row label {
    font-size: 14px !important;
  }

  a {
    text-decoration: underline;
    .signup {
      text-decoration: none !important;
      color: #3cb6c6 !important;
    }
  }
  .woocommerce #respond input#submit,
  .woocommerce a.button,
  .woocommerce button.button,
  .woocommerce input.button {
    font-family: din;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #3cb6c6;
    color: #fefefe;
    min-height: 55px;
    &:hover {
      font-family: din;
      font-weight: bold;
      display: inline-block;
      margin-bottom: 0;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      padding: 10px 15px;
      font-size: 16px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #18c0d6;
      color: #fefefe;
      min-height: 55px;
    }
  }

  .et_pb_contact p input[type="checkbox"] {
    display: inline-block;
    -webkit-appearance: checkbox;
  }
  .btn-back {
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: #466165 !important;
    text-decoration: none !important;
    border-radius: 4px !important;
    font-size: 16px !important;
  }
  .btn-social-login {
    margin-top: 20px;
    text-decoration: none;
  }
}
.woocommerce form .form-row {
  padding: 3px 0 !important;
  margin: 0;
}
