.holiday-product {
  h2 {
    margin-bottom: 20px;
  }
  a.button {
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    border-radius: 40px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    min-width: 140px !important;
    background-color: #a7c454 !important;
    margin-top: 30px;
  }
  p {
    &.description {
      font-size: 12px;
      color: #707070;
    }
    &.price {
      color: #3cb6c6;
      font-size: 17px;
      font-weight: 600;
      span {
        color: #909090;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
}

.woocommerce-Address {
  border: 1px solid #eee;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  padding-bottom: 30px;
  webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.woocommerce-account .addresses .title h3 {
  text-transform: unset;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.woocommerce {
  a.remove {
    color: #272727 !important;
    font-size: 15px !important;
    border-radius: 0 !important;
    width: 15px !important;
    &:hover {
      color: #707070 !important;
      background-color: transparent !important;
    }
  }
  .cart-collaterals {
    .cart-trust-badge {
      width: calc(50% - 15px);
      margin-top: 40px;
      margin-left: 30px;
      float: left;
      img {
        width: 100%;
        height: auto;
      }
    }
    .cart_totals {
      width: calc(50% - 15px);
      margin-top: 40px;
      padding: 30px;
      box-sizing: border-box;
      border: 3px solid #dedede;
      float: left;
      h2 {
        font-size: 21px;
      }
    }
    table.shop_table {
      border: 0 !important;
      font-size: 15px !important;
      th,
      td {
        padding: 10px 0 !important;
        border-bottom: 1px solid #dedede !important;
      }
      td {
        padding-left: 30px !important;
      }
    }
  }
  .checkout-area {
    margin: 70px 0;
    .et_pb_toggle {
      border: 3px solid #dedede !important;
      h5.et_pb_toggle_title {
        margin-bottom: 0 !important;
      }
    }
    .woocommerce-info {
      background-color: #dedede !important;
      font-size: 15px !important;
      color: #272727 !important;
      a {
        text-decoration: underline !important;
        color: #111111 !important;
      }
    }
    button {
      font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
      border-radius: 40px !important;
      padding-left: 30px !important;
      padding-right: 30px !important;
      min-width: 140px !important;
      background-color: #a7c454 !important;
      &.bodynext,
      &.bodyprev {
        margin-top: 50px;
        color: #252525 !important;
        background-color: #cccccc !important;
        position: relative;
      }
    }
    form.login {
      border: 0 !important;
      padding: 20px;
      margin: 0 0 !important;
      border-radius: 0 !important;
      background-color: #efefef !important;
    }
  }
  form {
    .form-row {
      input.input-text {
        background: transparent !important;
        border-radius: 0 !important;
        color: #707070 !important;
        font-size: 14px !important;
        border-left: 0 !important;
        border-right: 0 !important;
        border-top: 0 !important;
        border-bottom: 1px solid #909090 !important;
        height: 30px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-right: 0 !important;
      }
      select {
        background: transparent !important;
        border-radius: 0 !important;
        color: #707070 !important;
        font-size: 14px !important;
        border-left: 0 !important;
        border-right: 0 !important;
        border-top: 0 !important;
        border-bottom: 1px solid #909090 !important;
        height: 30px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        margin-right: 0 !important;
      }
      label {
        font-size: 14px !important;
        line-height: 1.4 !important;
        color: #272727 !important;
      }
      textarea {
        padding: 20px !important;
        color: #707070 !important;
        font-size: 14px !important;
        border: 1px solid #909090 !important;
        border-radius: 0 !important;
        margin-top: 5px !important;
      }
    }
    &.checkout_coupon {
      border: 3px solid #dedede !important;
      border-radius: 0 !important;
      .form-row-last {
        margin-top: -20px;
        button {
          color: #252525 !important;
          background-color: #cccccc !important;
        }
      }
    }
    .or-separator {
      display: block;
      text-align: center;
      float: left;
      width: 100%;
      margin: 20px 0;
      position: relative;
      padding-bottom: 0;
      &:before {
        left: 0;
        right: 0;
        top: 11px;
        height: 2px;
        position: absolute;
        background-color: #efefef;
        display: block;
        content: "";
        z-index: 1;
      }
      span {
        height: 20px;
        padding: 0 30px;
        line-height: 15px;
        text-align: center;
        display: inline-block;
        background-color: #fff !important;
        z-index: 2;
        position: relative;
        font-size: 15px;
      }
    }
  }
  .select2.select2-container .select2-selection {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 1px solid #909090 !important;
    height: 30px !important;
    padding-left: 0 !important;
    font-size: 14px !important;
    border-radius: 0 !important;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    padding-left: 0 !important;
  }
  table.shop_table {
    border-radius: 0 !important;
    td,
    th {
      vertical-align: top !important;
      font-size: 14px !important;
    }
    td table.gfield_list th {
      font-size: 13px !important;
      background: #dddddd;
    }
    .product-name {
      max-width: 300px !important;
    }
  }
  table.my_account_orders {
    td {
      padding: 10px 15px;
    }
    th {
      padding: 15px;
    }
  }
  .woocommerce-error {
    background: #ffffff !important;
    border: 2px solid #cc5c5c !important;
    color: #cc5c5c !important;
    font-size: 14px !important;
  }
  button.gform_previous_button:hover {
    border: 1px solid #3cb6c6 !important;
    color: #3cb6c6 !important;
  }
  div.product {
    div.images {
      ol.flex-control-thumbs {
        position: absolute;
        bottom: 25px;
        width: 10%;
        left: 30px;
        margin-bottom: 0;
        padding-bottom: 0 !important;
        margin-top: 0 !important;
        li {
          width: 100%;
          padding: 3px;
          background: #ffffff;
          margin: 5px 0;
        }
      }
    }
    form.cart {
      div.quantity {
        margin-right: 0 !important;
      }
    }
  }
  a.added_to_cart {
    display: none;
  }
  #content {
    div.product form.cart div.quantity {
      margin-right: 0 !important;
    }
  }
  ul.products[class*="columns-"] {
    li.product {
      @include max-screen(md) {
        width: 100% !important;
        margin: 0 0 0 !important;
        margin-bottom: 30px !important;
      }
    }
  }
}
.woocommerce-page {
  div.product {
    form.cart {
      div.quantity {
        margin-right: 0 !important;
      }
    }
  }
  #content {
    div.product form.cart div.quantity {
      margin-right: 0 !important;
    }
  }
  ul.products[class*="columns-"] {
    li.product {
      @include max-screen(md) {
        width: 100% !important;
        margin: 0 0 0 !important;
        margin-bottom: 30px !important;
      }
    }
  }
}

.woocommerce-cart {
  table.cart {
    border: 0 !important;
    th {
      font-weight: 600;
      font-size: 15px !important;
      border-bottom: 1px solid #dddddd;
      &.product-name {
        text-align: left !important;
        padding-left: 0 !important;
      }
    }
    td {
      border-top: 0;
      padding: 30px !important;
      vertical-align: top;
      &.product-name {
        font-size: 14px !important;
        padding-left: 30px !important;
        max-width: 350px !important;
      }
      &.product-quantity {
        font-size: 14px !important;
        text-align: center !important;
      }
      &.actions {
        border-top: 2px solid #dedede !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        border-bottom: 0 !important;
        padding-top: 70px !important;
        .coupon {
          .input-group {
            float: left;
            margin-right: 15px;
            label {
              display: block;
              font-size: 12px !important;
              text-align: left !important;
              margin-top: -2px !important;
            }
          }
          .input-text {
            background: transparent !important;
            border-radius: 0 !important;
            color: #707070 !important;
            font-size: 14px !important;
            border-bottom: 1px solid #909090 !important;
            height: 28px !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-right: 0 !important;
          }
          button {
            color: #252525 !important;
            background-color: #cccccc !important;
          }
        }
        button {
          font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
          color: #252525 !important;
          background-color: #cccccc !important;
          border-radius: 40px !important;
          padding-left: 30px !important;
          padding-right: 30px !important;
        }
      }
    }
    tbody td {
      border-bottom: 1px solid #dddddd;
    }
    .product-thumbnail {
      width: 140px;
      padding-left: 0 !important;
      padding-right: 0 !important;
      img {
        width: 140px;
        position: relative;
        float: left;
      }
    }
    .product-quantity {
      text-align: center !important;
      .quantity {
        width: auto !important;

        input.qty {
          background-color: #ffffff !important;
          border-radius: 0 !important;
          color: #272727 !important;
          border: 1px solid #909090 !important;
          font-size: 14px !important;
          text-align: center !important;
          min-width: 70px;
          height: 40px;
        }
      }
    }
    .product-subtotal {
      text-align: center !important;
    }
    .product-remove {
      padding-left: 30px !important;
      padding-right: 0 !important;
      max-width: 15px !important;
    }
  }
  table.gfield_list {
    th {
      padding: 0.857em 0.587em !important;
      font-size: 13px !important;
      background: #dddddd;
    }
    td {
      padding: 0.857em 0.587em !important;
      font-size: 13px !important;
    }
  }
  .wc-proceed-to-checkout {
    padding: 0 0 !important;
    margin-top: 30px;
    text-align: right;
    .button {
      font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
      border-radius: 40px !important;
      padding-left: 30px !important;
      padding-right: 30px !important;
      background-color: #a7c454 !important;
      float: left;

      @include max-screen(md) {
        display: block;
        width: 100%;
      }
    }
    p {
      padding: 10px 0;
      float: right;
      @include max-screen(md) {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.woocommerce-checkout {
  h3 {
    margin-top: 40px;
    font-size: 21px;
  }
  #payment {
    border-radius: 0 !important;
    background: #dfdfdf !important;
    &.woocommerce-checkout-payment .payment_box {
      background-color: #efefef !important;
      :before {
        border-bottom-color: #efefef;
      }
    }
  }
  .wc-stripe-elements-field {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 1px solid #909090 !important;
    background-color: transparent !important;
    padding-left: 0 !important;
  }
}
img.stripe-discover-icon.stripe-icon {
  display: none;
}
img.stripe-jcb-icon.stripe-icon {
  display: none;
}

img.stripe-diners-icon.stripe-icon {
  display: none;
}
dl.variation {
  .variation-TypeyourcontributionUSD {
    display: none !important;
  }
  .variation-or500mlplasticwaterbottles {
    display: none !important;
  }
  .variation-YourImpactinKGwillbe {
    display: none !important;
  }
}
.woocommerce-checkout-review-order-table
  .cart_item
  .product-name
  .product-quantity {
  display: none !important;
}
#add_payment_method #payment ul.payment_methods li.payment_method_paypal label,
.woocommerce-cart #payment ul.payment_methods li.payment_method_paypal label,
.woocommerce-checkout
  #payment
  ul.payment_methods
  li.payment_method_paypal
  label {
  font-size: 0 !important;
}
#add_payment_method
  #payment
  ul.payment_methods
  li.payment_method_paypal
  label
  a,
.woocommerce-cart #payment ul.payment_methods li.payment_method_paypal label a,
.woocommerce-checkout
  #payment
  ul.payment_methods
  li.payment_method_paypal
  label
  a {
  font-size: 12px !important;
}
