#main-footer,
#main-header,
.at-share-dock-outer {
  display: none;
}
.et_right_sidebar #main-content .container:before {
  content: none;
}
body {
  color: #3F4242;
  background: #eeeeee;
  font-family: "Inter" !important;
  font-weight: 400;
  /* background: url("../images/footprint-bg.jpg"); */
}
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
  margin-top: 0px;
  padding-bottom: 0;
  margin-bottom: 40px;
  font-family: "Inter" !important;
  color: #939393;
}
p {
  font-size: 14px !important;
}
.btn {
  padding: 12px 30px;
  font-size: 14px;
  border-radius: 40px;
  border: none;
  color: #fff;
  background-color: #a7c454;
  text-align: center;
}
.btn-block {
  width: 100%;
}
.btn-white {
  color: #506b6f;
  background-color: transparent;
  text-decoration: underline;
}
.btn-bordered {
  color: #a7c454;
  background-color: #fff;
  border: 2px solid #a7c454;
}
.btn:hover {
  color: #fff;
  background-color: #96b342;
}
.btn-blue {
  background-color: #3cb6c6;
}
.btn-blue:hover {
  background-color: #36a4b3;
}
.btn-white:hover {
  color: #506b6f;
  background-color: #e2e2e2;
}
.btn-bordered:hover {
  color: #a7c454;
  background-color: #e2e2e2;
}
.btn i.fa {
  margin-left: 15px;
  margin-right: 0px;
}
.btn-back i.fa {
  margin-left: 0px;
  margin-right: 15px;
}
.form-group {
  margin-bottom: 15px;
}
.form-control {
  display: block;
  width: 100%;
  /* height: 34px; */
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #f0f0f0 !important;
  background-image: none;
  border: 1px solid #f0f0f0 !important;
  border-radius: 4px;
  box-shadow: none;
  height: auto;
  transition: none;
}
.form-horizontal .form-group,
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row.space-15px {
  margin-right: -7.5px;
  margin-left: -7.5px;
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.space-15px > .col-xs-1,
.space-15px > .col-xs-10,
.space-15px > .col-xs-11,
.space-15px > .col-xs-12,
.space-15px > .col-xs-2,
.space-15px > .col-xs-3,
.space-15px > .col-xs-4,
.space-15px > .col-xs-5,
.space-15px > .col-xs-6,
.space-15px > .col-xs-7,
.space-15px > .col-xs-8,
.space-15px > .col-xs-9,
.space-15px > .col-sm-1,
.space-15px > .col-sm-10,
.space-15px > .col-sm-11,
.space-15px > .col-sm-12,
.space-15px > .col-sm-2,
.space-15px > .col-sm-3,
.space-15px > .col-sm-4,
.space-15px > .col-sm-5,
.space-15px > .col-sm-6,
.space-15px > .col-sm-7,
.space-15px > .col-sm-8,
.space-15px > .col-sm-9,
.space-15px > .col-md-1,
.space-15px > .col-md-10,
.space-15px > .col-md-11,
.space-15px > .col-md-12,
.space-15px > .col-md-2,
.space-15px > .col-md-3,
.space-15px > .col-md-4,
.space-15px > .col-md-5,
.space-15px > .col-md-6,
.space-15px > .col-md-7,
.space-15px > .col-md-8,
.space-15px > .col-md-9 {
  padding-right: 7.5px;
  padding-left: 7.5px;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-12 {
  width: 100%;
}
.mt-3 {
  margin-top: 20px;
}
.mt-15px {
  margin-top: 15px;
}
.p-0 {
  padding: 0 !important;
}
.py-25px {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.bg-blue {
  background: #2DA3B2 !important;
}
.bg-blue h3, .bg-blue h4, .bg-blue h5 {
  color: #FFFFFF !important;
}
.bg-blue {
  background: #2DA3B2 !important;
}
.max-200 {
  max-width: 200px;
}
.grid-3-column {
  margin-right: -5px;
  margin-left: -5px;
}
.grid-3-column .grid {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  width: 33.33%;
  margin-top: 10px;
}
.grid-3-column .grid img {
  width: 100%;
  display: block;
}
.grid-3-column .grid.selected img {
  border: 3px solid white;
}
.grid-3-column .grid.selected:after {
  position: absolute;
  right: 15px;
  bottom: 10px;
  border-radius: 20px;
  content: "\f00c";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5px;
  border: 2px solid;
  color: #ffffff;
}

.grid-3-column .grid.selected {
  opacity: 0.8;
}
body:not(.et-fb-root-ancestor) .form-group {
  position: relative;
  margin-bottom: 15px;
}
body:not(.et-fb-root-ancestor) .form-group select {
  background-image: url(../images/chevron-right.svg) !important;
  background-position: right 15px center !important;
  background-size: 0.8em !important;
}
body:not(.et-fb-root-ancestor) .form-group input[type="email"],
body:not(.et-fb-root-ancestor) .form-group input[type="text"],
body:not(.et-fb-root-ancestor) .form-group input[type="password"],
body:not(.et-fb-root-ancestor) .form-group textarea,
body:not(.et-fb-root-ancestor) .form-group select {
  font-family: "Inter" !important;
  background: #FFFFFF;
  font-size: 14px !important;
  box-shadow: none;
  transition-duration: 0s;
  transition-timing-function: ease;
  transition-property: none;
  border-image: initial !important;
  border: 1px solid #CCCCCC !important;
  padding: 10px 25px 10px 12px !important;
  margin-top: 5px !important;
  border-radius: 5px !important;
  color: #939393 !important;
  overflow: auto !important;
  line-height: 20px;
  min-height: 48px;
}
label.form-label {
  color: #939393;
  font-size: 12px;
  font-weight: normal;
  position: relative;
  height: 20px;
}
/* label.focus {
	top: unset;
	font-size: 12px;
	color: #5264AE;
	height: auto;
	position: relative;
	margin: 0;
} */
/* input:focus ~ label.form-label,
input:valid ~ label.form-label,
select:focus ~ label.form-label,
select:valid ~ label.form-label {
  top: -20px;
  font-size: 11px;
  line-height: 15px;
  color: #5264ae;
  height: auto;
  overflow: unset;
} */
/* label.form-label.blank {
  top: 10px !important;
  font-size: 14px !important;
  color: #999 !important;
  height: 20px !important;
  line-height: unset !important;
  overflow: hidden !important;
} */
/* .form-group.long-question input:focus ~ label.form-label,
.form-group.long-question input:valid ~ label.form-label,
.form-group.long-question select:focus ~ label.form-label,
.form-group.long-question select:valid ~ label.form-label {
  top: -35px;
}

.form-group.long-question input:focus ~ label.form-label,
.form-group.long-question input:valid ~ label.form-label,
.form-group.long-question select:focus ~ label.form-label,
.form-group.long-question select:valid ~ label.form-label {
  top: -35px;
} */
/* select:focus ~ label.form-label.blank {
  top: -20px !important;
  font-size: 11px !important;
  line-height: 15px !important;
  color: #5264ae !important;
  height: auto !important;
  overflow: unset !important;
}
.form-group.long-question select:focus ~ label.form-label.blank {
  top: -35px !important;
} */

/* ACCORDION */
.accordion {
  background-color: #fff;
  color: #3cb6c6;
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: inherit;
  text-align: right;
  display: block;
}

.active,
.accordion:hover {
  background-color: #fff;
}

.panel {
  padding: 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: " ";
  background-image: url(../images/chevron-right-blue.svg) !important;
  background-position: right 15px center !important;
  background-size: 0.7em !important;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

/* .active:after {
  content: "\32";
} */

#page-container {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
#main-content {
  background-color: transparent;
  position: relative;
}
.foot-print h1,
.foot-print h2,
.foot-print h3,
.foot-print h4,
.foot-print h5,
.foot-print h6 {
  text-transform: unset;
  color: #fff;
}
.foot-print .content-block h1,
.foot-print .content-block h2,
.foot-print .content-block h3,
.foot-print .content-block h4,
.foot-print .content-block h5,
.foot-print .content-block h6 {
  text-transform: unset;
  color: #939393;
  font-weight: 600;
}
.foot-print p,
.foot-print ol li {
  color: #fff;
}
.foot-print .content-block p,
.foot-print .content-block ol li {
  color: #939393;
}
.foot-print ol li {
  list-style-type: decimal;
  line-height: 1.7;
}
.foot-print ol {
  padding-left: 20px;
}
.container {
  width: 90% !important;
  max-width: 1120px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  background-color: transparent;
  position: relative;
}
.foot-print {
  min-height: 100vh;
  /* padding-bottom: 50px; */
}
.foot-print header {
  height: 60px;
  width: 100%;
  position: relative;
  display: block;
}
.foot-print header .container-header {
  padding: 20px 0 !important;
}
#main-content .container.container-header {
  padding: 20px 0 !important;
}
.foot-print header .container-header .header-left {
  width: 40%;
  position: relative;
  float: left;
}
.foot-print header .container-header .header-left {
  max-height: 40px;
}
.foot-print header .container-header .header-left {
  height: 40px;
}
.foot-print header .container-header .header-left img {
  max-height: 100%;
}
.foot-print header .container-header .header-right {
  width: 40%;
  position: relative;
  float: right;
  text-align: right;
}

.foot-print .container-body {
  min-height: 500px;
  padding: 60px 0;
}

.foot-print .container-body .content-title {
}
.foot-print .container-body .content-title h2 {
  color: white;
  text-align: center;
  text-transform: unset;
}
.question-num {
  font-size: 12px;
  line-height: 16px;
  color: #939393;
}
.foot-print .container-body .content-block {
  background: #fff;
  color: #466165;
  display: block;
  position: relative;
  padding: 60px 60px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 4px 8px rgba(32, 52, 76, 0.1);
  -moz-box-shadow: 2px 4px 8px rgba(32, 52, 76, 0.1);
  box-shadow: 2px 4px 8px rgba(32, 52, 76, 0.1);
}
.foot-print .container-body .content-block.chart {
  padding: 30px 60px;
}
.foot-print .container-body .content-block.questions {
  padding: 50px 100px;
}
.foot-print .container-body .content-block.transparent {
  background-color: transparent;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
}

.foot-print .container-body .content-block .choice-list {
  display: block;
  position: relative;
}
.foot-print .container-body .content-block .choice-list .radio {
  width: 100%;
  display: block;
  position: relative;
  margin-top: 15px;
  padding-left: 0px;
}
.foot-print .container-body .content-block .choice-list .radio label {
  background: #fff;
  width: 100%;
  display: block;
  position: relative;
  padding: 20px 70px 20px 140px;
  border-radius: 8px;
  color: #466165;
  min-height: 140px;
}
.foot-print .container-body .content-block .choice-list .radio h5 {
  margin-bottom: 0;
  text-transform: unset;
}
.foot-print .container-body .content-block .choice-list .radio label input {
  position: absolute;
  right: 20px;
  top: 60px;
  height: 20px;
  width: 20px;
}
.foot-print .container-body .content-block .choice-list .radio label img {
  position: absolute;
  left: 20px;
  top: 20px;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.foot-print .container-body .content-block .qustion-num {
  color: #939393;
  font-size: 14px;
  margin-bottom: 10px;
}
.foot-print .container-body .content-block h3 {
  text-transform: unset;
}
.foot-print .container-body .content-block .question {
  display: block;
  width: 100%;
}

.persona-box {
  text-align: center;  
}
.persona-box h4 {
  margin-top: 24px;
  padding-bottom: 0;
}
body, .et_pb_column_1_2 .et_quote_content blockquote cite, .et_pb_column_1_2 .et_link_content a.et_link_main_url, .et_pb_column_1_3 .et_quote_content blockquote cite, .et_pb_column_3_8 .et_quote_content blockquote cite, .et_pb_column_1_4 .et_quote_content blockquote cite, .et_pb_blog_grid .et_quote_content blockquote cite, .et_pb_column_1_3 .et_link_content a.et_link_main_url, .et_pb_column_3_8 .et_link_content a.et_link_main_url, .et_pb_column_1_4 .et_link_content a.et_link_main_url, .et_pb_blog_grid .et_link_content a.et_link_main_url, body .et_pb_bg_layout_light .et_pb_post p, body .et_pb_bg_layout_dark .et_pb_post p {
  font-size: 14px;
}
.persona-box p {
  margin-bottom: 25px;
}
.persona-box .btn {
  /* margin-top: 25px; */
}

.owl-carousel.owl-drag .owl-item {
  background: transparent;
}
.owl-carousel.owl-drag .owl-item .persona-box {
  box-sizing: border-box;
}
.owl-carousel.owl-drag .owl-item .persona-box.content-block:hover {
  border: 4px solid #2DA3B2;
}

.foot-print .notification {
  display: block;
  float: left;
  width: 100%;
  padding: 20px;
  color: #466165;
}
.foot-print .notification.notification-success {
  background-color: #e8f6fa;
}
.foot-print .notification h3 .big {
  font-size: 60px;
}
.color-ocean-blue {
  color: #3cb6c6 !important;
}
.color-natural-green {
  color: #a7c454 !important;
}
.text-center {
  text-align: center;
}
.text-block {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
}
.foot-print .container-body .action-button {
  padding-top: 20px;
  display: block;
  float: left;
  width: 100%;
}
.foot-print .container-body .action-button .action-button-left {
  position: relative;
  width: 50%;
  float: left;
  text-align: left;
}
.foot-print .container-body .action-button .action-button-right {
  position: relative;
  width: 50%;
  float: left;
  text-align: right;
}
.foot-print .container-body .action-button .action-button-full {
  position: relative;
  width: 100%;
  float: left;
}
.foot-print .container-body .content-bottom {
  margin-top: 30px;
  text-align: center;
}
.foot-print footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #ccc;
  color: #ccc;
  height: 60px;
  overflow: hidden;
}
.foot-print footer .container-footer {
  padding-top: 0px !important;
}
.foot-print footer .container-footer .footer-progress {
  margin: 0;
}
.foot-print footer .container-footer .footer-progress li {
  float: left;
  padding: 10px 0px 10px 25px;
  position: relative;
  list-style: none;
  margin: 0;
  text-decoration: none;
  width: 20%;
  text-align: center;
}
.foot-print footer .container-footer .footer-progress li.current {
  color: #a7c454 !important;
  width: 40%;
  border-bottom: 3px solid #a7c454;
}
.foot-print footer .container-footer .footer-progress li.current a {
  color: #a7c454 !important;
}
.foot-print footer .container-footer .footer-progress li a {
  color: #ccc;
  line-height: 36px;
  font-size: 14px;
}
.foot-print footer .container-footer .footer-progress li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.foot-print footer .container-footer .footer-progress li:last-child {
  margin-right: 0;
}
.foot-print footer .container-footer .footer-progress li:after {
  content: "";
  position: absolute;
  top: -5px;
  right: -12px;
  height: 70px;
  width: 1px;
  background-color: #ccc;
  transform: rotate(22deg);
}
.foot-print footer .container-footer .footer-progress li:last-child::after {
  content: none;
}
.foot-print footer .container-footer .footer-progress .personal,
.foot-print footer .container-footer .footer-progress .survey,
.foot-print footer .container-footer .footer-progress .review,
.foot-print footer .container-footer .footer-progress .impact {
  display: inline-block;
}
.foot-print footer .container-footer .footer-progress li .selection {
  line-height: 36px;
}
.foot-print footer .container-footer .footer-progress li .selection .hide-unselected {
  display: none;
}
.foot-print footer .container-footer .footer-progress li.current .selection .hide-unselected {
  display: inline;
}
.foot-print footer .container-footer .footer-progress li .selection i {
  font-size: 20px;
  bottom: -3px;
  position: relative;
  cursor: pointer;
}
.foot-print footer .container-footer .footer-progress li.current .selection i {
  margin-right: 10px;
}

.foot-print footer .container-footer .footer-progress li .selection span.page {
  position: relative;
  width: 12px;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
}
.foot-print footer .container-footer .footer-progress li .selection span.page.current {
  position: relative;
  width: 12px;
  display: inline-block;
  opacity: 1;
}
.foot-print footer .container-footer .footer-progress .personal {
}
.foot-print footer .container-footer .footer-progress .survey {
}
.foot-print footer .container-footer .footer-progress .review {
}
.foot-print footer .container-footer .footer-progress .impact {
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.fixed-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.7);
}
.fixed-cover.d-none {
  display: none;
}
.fixed-cover.d-block {
  display: block;
}
.fixed-cover img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fixed-cover img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fixed-cover img.animate {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.pointer {
  cursor: pointer;
}
.review-block {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.review-block .review_title {
  padding-bottom: 0;
}
.review-block .review_title i {
  font-size: 25px;
  margin-left: 15px;
}
.review-block .review_title .footprint-subtotal {
  font-size: 70%;
  color: #3cb6c6;
}
.timeline li {
  padding: 20px 0;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}
.timeline li:after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  height: 50px;
  width: 1px;
  background-color: transparent;
  border-left: 4px dotted;
}
.timeline li p {
  padding-top: 20px;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.country-dropdown button {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border-color: white;
}

.country-dropdown button:hover,
.country-dropdown button:active,
.country-dropdown button:focus {
  background-color: #fff;
  border-color: white;
}
.country-dropdown .caret {
  color: #466165;
  margin-left: 7px;
}
.country-dropdown .dropdown-menu {
  overflow-y: auto;
  min-width: 80px;
  position: fixed;
  top: -5px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  webkit-box-shadow: none;
  left: 0;
  right: 0;
  bottom: 0;
}
.country-dropdown .dropdown-menu > li > a {
  padding: 6px 20px;
}

.content-title {
  margin-bottom: 60px;
}
.content-title.with-button .title {
  padding-right: 200px;
  position: relative;
}
.foot-print .container-body .content-title .title h2 {
  font-size: 36px;
  text-align: center;
  color: #2DA3B3;
  margin: 0;
  margin-bottom: 15px;
}
.foot-print .container-body .content-title.with-button .title h2 {
  text-align: left;
}
.content-title.with-button .title .header-btn-container {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 350px;
}
.content-title .subtitle {
  text-align: center;
  color: #3F4242;
  font-size: 14px;
}

/* LOADING */
.foot-print .container-body .content-block.loading-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.loading-container .loading-text {
  font-family: "nanami";
  font-size: 28px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #040404;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
.advance-question {
  margin-top: 15px;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
/* END LOADING */

.share-calculator-result li {
  margin-bottom: 15px;
}
.share-calculator-result li.caption {
  color: #3cb6c6;
  font-weight: 600;
}
.share-calculator-result li a {
  padding: 10px;
  text-align: center;
  width: 100%;
  display: block;
  background: #000;
  border-radius: 25px;
  color: #fff;
}
.share-calculator-result li a.facebook {
  background: #3b5998;
}
.share-calculator-result li a.twitter {
  background: #00acee;
}

/* SUCCESS PAGE */

.foot-print .container-body .content-block.bg-david {
  background-image: url(../images/plastic-footprint/david.png);
  background-size: cover;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  min-height: 420px;
}
.foot-print .container-body .content-block.bg-david h4, .foot-print .container-body .content-block.bg-david h2 {
  color: #fff;
}
.foot-print .container-body .content-block.bg-david h4 .big {
  font-size: 64px;
}
.foot-print .container-body .content-block.bg-david h4 .mid {
  font-size: 36px;
}

.foot-print .container-body .content-block.sample-product {
  background-image: url(../images/plastic-footprint/demo-product.png);
  background-size: cover;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 15px;
  min-height: 250px;
}
.foot-print .container-body .content-block.sample-product h4, .foot-print .container-body .content-block.sample-product h2, .foot-print .container-body .content-block.sample-product p {
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;
}
.foot-print .container-body .content-block.sample-product h4 {
  color: #fff;
  margin-bottom: 5px;
}
.foot-print .container-body .content-block.sample-product .content{
  position: absolute;
  bottom: 15px;
}
.foot-print .container-body .content-block .underline {
  text-decoration: underline;
}
.footprint-boxes {
  padding: 30px 60px;
  border: 1px solid #3CB6C6;
  box-sizing: border-box;
  border-radius: 8px;
  min-height: 300px;
  text-align: center;
}
.footprint-boxes.border-green {
  border: 1px solid #A7C454;
}
.footprint-boxes h4 {
  color: #939393 !important;;
}
.footprint-boxes p {
  font-size: 14px;
}
.footprint-boxes .btn-white {
  margin-top: 10px;
}
.content-block.bg-blue h5 {
  margin-bottom: 10px;
}
.content-block.bg-blue h3 {
  margin-bottom: 0px;
}
.copy-link {
  padding-right: 170px;
  position: relative;
}
.copy-link .btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  padding: 12px 40px;
  background: transparent;
  border: 2px solid;
}
.copy-link input {
  border-radius: 8px;
  color: rgb(147, 147, 147) !important;
  height: 50px;
}
.icon-list {
  text-align: center;
  margin-bottom: 40px;
}
.icon-list li {
  display: inline;
}
.icon-list li span {
  height: 60px;
  width: 60px;
  position: relative;
  display: inline-block;
  padding: 10px;
  border-radius: 60px;
  background: #fff;
  border: 2px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.icon-list li span.current {
  border: 2px solid #2DA3B3;
}
.icon-list li span.icon-summary.current {
  border: 2px solid #A7C454;
}
.icon-list li span.selected {
  border: 2px solid #2DA3B3;
  background-color: #2DA3B3;
}
.icon-list li span.icon-1 {
  background-image: url(../images/plastic-footprint/icon-1-blue.svg);
}
.icon-list li span.icon-2 {
  background-image: url(../images/plastic-footprint/icon-2-blue.svg);
}
.icon-list li span.icon-3 {
  background-image: url(../images/plastic-footprint/icon-3-blue.svg);
}
.icon-list li span.icon-4 {
  background-image: url(../images/plastic-footprint/icon-4-blue.svg);
}
.icon-list li span.icon-5 {
  background-image: url(../images/plastic-footprint/icon-5-blue.svg);
}
.icon-list li span.icon-6 {
  background-image: url(../images/plastic-footprint/icon-6-blue.svg);
}
.icon-list li span.icon-summary {
  background-image: url(../images/plastic-footprint/icon-summary.svg);
}
.icon-list li span.selected.icon-1 {
  background-image: url(../images/plastic-footprint/icon-1.svg);
}
.icon-list li span.selected.icon-2 {
  background-image: url(../images/plastic-footprint/icon-2.svg);
}
.icon-list li span.selected.icon-3 {
  background-image: url(../images/plastic-footprint/icon-3.svg);
}
.icon-list li span.selected.icon-4 {
  background-image: url(../images/plastic-footprint/icon-4.svg);
}
.icon-list li span.selected.icon-5 {
  background-image: url(../images/plastic-footprint/icon-5.svg);
}
.icon-list li span.selected.icon-6 {
  background-image: url(../images/plastic-footprint/icon-6.svg);
}
/* END SUCCESS PAGE */

.country-dropdown .country-select {
  position: relative;
  font-family: "Inter" !important;
  background: #FFFFFF;
  font-size: 14px !important;
  box-shadow: none;
  transition-duration: 0s;
  transition-timing-function: ease;
  transition-property: none;
  border-image: initial !important;
  border: 1px solid #CCCCCC !important;
  padding: 10px 25px 10px 12px !important;
  margin-top: 5px !important;
  border-radius: 5px !important;
  color: #939393 !important;
  overflow: auto !important;
  line-height: 20px;
  min-height: 48px;
  background-image: url(../images/chevron-right.svg) !important;
  background-position: right 15px center !important;
  background-size: 0.8em !important;
  background-repeat: no-repeat;
}
.country-dropdown .dropdown-menu {
  position: absolute;
  top: 47px;
  min-height: 250px;
  padding: 10px 0;
  background: #fff;
  border: 1px solid #8a8a8a;
  border-top: none;
  -webkit-box-shadow: 2px 4px 8px rgb(32 52 76 / 20%);
  -moz-box-shadow: 2px 4px 8px rgba(32, 52, 76, 0.2);
  box-shadow: 2px 4px 8px rgb(32 52 76 / 20%);
  display: block;
}
.country-dropdown .dropdown-menu > li > a {
  padding: 5px 10px;
  vertical-align: middle;
  text-align: left;
}
.country-dropdown .dropdown-menu > li > a > img {
  margin-right: 10px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #1e90ff;
}

@media (max-width: 767px) {
  .foot-print .container-body .content-block {
    padding: 20px;
  }
  .foot-print .container-body .content-block.chart {
    padding: 20px;
    margin-top: 15px;
  }
  .footprint-boxes {
    margin-top: 15px;
  }
  .foot-print .container-body .content-block.bg-blue {
    text-align: center;
  }
  .copy-link {
    padding-right: 0;
    margin-top: 30px;
  }
  .copy-link .btn {
    position: relative;
    margin-top: 20px;
    width: 100%;
  }
  .foot-print .container-body .content-block.bg-david {
    min-height: auto;
    margin-bottom: 15px;
    padding-top: 50px;
  }
  .foot-print .container-body .content-block.questions {
    padding: 40px;
  }
  .icon-list li span {
    height: 40px;
    width: 40px;
    border-radius: 40px;
  }
}