.tt-menu {
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-suggestion {
  padding: 2px 15px;
  font-size: 14px;
  line-height: 2em;
  cursor: pointer;
}
.tt-suggestion:hover {
  background-color: #f1f1f1;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.twitter-typeahead {
	width: 100%;
}